

.login-full {
  /* css global flex */
  margin: 0%;
  padding: 0%;
  height: 100dvh;
  width: 100%;
  overflow: auto;
}

.login-full .login-full-box {
  width: 600px;
  margin-right: auto;
  z-index: 20;
}

.login-full-box {
  /* css global flex */
  background-color: var(--theme3);
}

.login-full-box .login-page {
  width: 81%;
  padding: 2%;
  margin: 2% 0% 0%;
}

.login-full-box .login-bottom {
  width: 81%;
  padding: 0% 2%;
  margin: 0% 0% 2%;
  align-self: flex-end;
}

.login-page {
  font-weight: 400;
  color: var(--text1);
  border-radius: 20px;
  font-size: 100%;
}

.login-page h1 {
  font-weight: 500;
  font-size: 200%;
  text-align: center;
}

.login h1 {
  font-weight: 500;
  font-size: 180%;
  text-align: left;
}

.login-box-stax,
.login-box-integrations {
  text-align: left;
  color: var(--text1);
}

.login-stax b,
.login-integrations b {
  color: var(--text1);
  font-weight: 400;
}

.login-box-integrations,
.login-box-stax {
  display: none;
}




.login-stax .login-box-stax,
.login-integrations .login-box-integrations {
  display: block;
}

.login-choice {
  width: 100%;
  /* css global flex */
  margin: 2% 0% 8%;
  font-size: 95%;
}

.login-choice .login-choice-title {
  width: 100%;
}

.login-choice .login-choice-box-stax {
  width: 49%;
  padding: 15px 0%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.login-choice .login-choice-box-integrations {
  width: 49%;
  padding: 15px 0%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.login-choice-box-stax p,
.login-choice-box-integrations p {
  margin: 0%;
}

.login-choice-box-stax,
.login-choice-box-integrations {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-choice-title {
  font-size: 120%;
  font-weight: 400;
}

.login-choice-box-stax,
.login-choice-box-integrations {
  background-color: var(--theme1);
}

.login-stax .login-choice-box-integrations:hover,
.login-integrations .login-choice-box-stax:hover {
  background-color: var(--theme2);
}

.login-stax .login-choice-box-stax,
.login-integrations .login-choice-box-integrations {
  background-color: var(--accent);
  color: var(--theme1);
}

.login-box-stax-normal,
.login-box-stax-forgot {
  color: var(--text2);
}

.login-box-stax-normal h1,
.login-box-stax-forgot h1 {
  color: var(--text1);
}

.login-forgot,
.login-normal {
  display: none;
}

.login-box-stax-normal .login-normal,
.login-box-stax-forgot .login-forgot {
  display: block;
}

.login-details {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0%;
}

.login-details .login-details-box {
  width: 100%;
  padding: 0%;
  margin: 1% 0%;
  border: 1px solid var(--theme2);
}

.login-details .login-details-submit,
.login-details .login-details-submit-load,
.login-details .login-details-submit-disabled {
  width: 100%;
  padding: 0%;
  margin: 1% 0%;
}

.login-submit-disabled,
.login-submit {
  display: none;
}

.login-details-submit-disabled .login-submit,
.login-details-submit .login-submit,
.login-details-submit-load .login-submit-disabled,
.login-details-forgot-submit-disabled .login-submit,
.login-details-forgot-submit .login-submit{
  display: block;
}

.login-details-box {
  background-color: var(--theme2);
  border-radius: 10px;
}

.login-details-submit button:focus {
  outline: 1px solid var(--text2);
}

.login-details-box-inside {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.login-details-box-inside .login-details-box-type {
  width: calc(100% - 50px);
}

.login-details-box-inside .show-password {
  width: 50px;
}

.show-password p {
  margin: 0%;
}

.login-details-submit {
  background-color: var(--accent);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.login-details-submit-load {
  background-color: var(--accent-hover);
  border-radius: 10px;
}

.login-details-submit-disabled {
  background-color: var(--accent);
  border-radius: 10px;
}

.login-details input[type="text"] {
  padding: 15px;
  width: calc(100% - 30px);
  font-size: 100%;
  border-radius: 10px;
  border: none;
  color: var(--text1);
}

.login-details input[type="password"] {
  padding: 15px;
  padding-right: 0%;
  width: calc(100% - 15px);
  font-size: 100%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: var(--text1);
}

.login-details input:focus {
  outline: none;
}

.login-details-box:focus-visible {
  outline: 1px solid var(--text1);
}

.login-details button,
.login-details-submit-load button,
.login-details-submit-disabled button
.login-details-forgot-submit button,
.login-details-forgot-submit-disabled button {
  font-weight: 400;
  padding: 15px 0%;
  margin: 0%;
  font-size: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  color: var(--theme1);
  cursor: pointer;
}

.login-details-submit-load button {
  padding: calc(3% + 3px) 0% calc(3% + 3px);
}

.login-details-forgot-submit-disabled button,
.login-details-submit-disabled {
  cursor: default;
}

.login-details-forgot-submit,
.login-details-forgot-submit-disabled {
  width: 100%;
  background-color: var(--accent);
  border-radius: 10px;
  margin: 1% 0%;
  transition: all 0.2s ease-in-out;
}

.login-details-forgot-submit-disabled,
.login-details-submit-disabled {
  opacity: 60%;
}

.login-details-forgot-submit:hover{
  background-color: var(--accent-hover);
}

.loader-circle {
  border: 2px solid var(--theme1);
  border-radius: 50%;
  border-top: 2px solid var(--text1);
  width: 16px;
  height: 16px;
  margin: auto;
  -webkit-animation: loaderSpin 1s linear infinite;
  animation: loaderSpin 1s linear infinite;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.wrong-details {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.wrong-details .wrong-details-box {
  width: 50%;
}

.wrong-details-box {
  text-align: left;
  color: var(--red);
  font-size: 90%;
}

.wrong-details-box p {
  margin: 0%;
}

.wrong-details-box .fas {
  margin-right: 2%;
}

.wrong-details a {
  color: var(--text1);
  font-size: 100%;
  text-align: right;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.wrong-details-button:hover {
  text-decoration: underline;
}

.wrong-details-box button {
  cursor: pointer;
  margin-left: auto;
  border-radius: 5px;
  text-align: right;
  color: var(--text1);
  padding: 0px;
  margin-top: 2px;
}

.show-password {
  width: 100%;
  text-align: center;
  font-size: 100%;
  align-items: center;
  color: var(--text2);
}

#show-password-button-on {
  cursor: pointer;
}

#show-password-button-off {
  display: none;
  cursor: pointer;
}

.no-account {
  color: var(--text2);
}

.no-account a {
  cursor: pointer;
  color: var(--text1);
  border-radius: 5px;
}

.no-account a:focus {
  outline: 1px solid var(--text2);
}

.login-details-submit:hover {
  background-color: var(--accent-hover);
}

.integrations-list {
  width: 100%;
  margin-bottom: 4%;
  /* css global flex */
}

.integrations-list .integrations-list-box {
  width: 100%;
}

.integrations-list-box-google .integrations-list-box-title {
  padding: 15px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 100%;
}

.integrations-list-box-title p {
  margin: 0%;
}

/* google */

.integrations-list-box-google {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  color: var(--theme1);
  margin-bottom: 10px;
}

.integrations-google {
  padding: 15px;
  padding-top: 0%;
  margin: auto;
}

.integrations-google-button2 {
  display: none;
}

/* slack */

.integrations-list-box-slack {
  background-color: white;
  border-radius: 10px;
  width: calc(100% - 30px);
  padding: 15px;
  color: var(--theme1);
}

.integrations-list-box-slack .integrations-list-box-title {
  font-weight: 500;
  font-size: 100%;
  margin-bottom: 10px;
}

.slack-mobile {
  display: none;
}

.slack-desktop {
  display: block;
}

.login-accounts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.login-accounts .login-accounts-button {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.login-accounts-button:nth-child(even) {
  margin-right: 0%;
}

.login-accounts-button {
  outline: none;
  background: none;
  font-weight: 400;
  border-radius: 10px;
  padding: 0%;
  cursor: pointer;
  text-align: left;
}

.login-accounts-box {
  width: 100%;
}

.login-accounts-box-inside {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--theme2);
  color: var(--text1);
  border-radius: 10px;
  padding: 2% 4%;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
}

.login-accounts-box .fa-1x {
  font-size: 200%;
}

.login-accounts-box-inside .login-accounts-box-photo {
  width: 15%;
  text-align: center;
}

.login-accounts-box-inside .login-accounts-box-text {
  width: 80%;
  padding-left: 5%;
}

.login-accounts-box-text {
  font-size: 95%;
}

.login-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.login-center .login-center-box {
  width: 45%;
}

.login-center .login-center-box2 {
  width: 10%;
}

.login-center-box hr {
  border: none;
  height: 0.5px;
  background-color: var(--text2);
}

.login-center-box2 {
  color: var(--text2);
}

.login-accounts-box-photo img {
  width: 70%;
  margin-left: 15%;
  float: left;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.return-home-link {
  width: 150px;
  margin: 4% 0%;
  padding: 0%;
  display: block;
  border-radius: 10px;
}

.return-home {
  border-radius: 10px;
  color: var(--text1);
  background-color: var(--theme1);
  text-align: center;
  padding: 12px 0%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.return-home p {
  margin: 0%;
}

.return-home:hover {
  background-color: var(--theme2);
}

@media screen and (min-width: 1600px) {
  .login-full {
    height: 100vh;
    border-radius: 0px;
  }

  .login-full .login-full-box {
    margin-left: 0%;
    border-radius: 0px;
    height: auto;
  }

  .return-home-link {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
  .login-full .login-full-box {
    width: 100%;
  }

  .login-accounts {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: left;
    -webkit-justify-content: left;
    -ms-justify-content: left;
    justify-content: left;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .login-accounts .login-accounts-button {
    width: 100%;
    margin: 0% 0% 4%;
  }
}

@media screen and (max-width: 525px) {
  .login-choice {
    font-size: 90%;
  }
}

@media screen and (max-width: 450px) {

  .login-choice .login-choice-box-stax {
    width: 100%;
    margin: 0%;
    margin-bottom: 2%;
  }

  .login-choice .login-choice-box-integrations {
    width: 100%;
    margin: 0%;
  }
}

@media screen and (max-width: 380px) {
  .return-home-link {
    width: 100%;
    margin: 4% 0%;
    display: block;
  }

  .integrations-google-button1 {
    display: none;
  }

  .integrations-google-button2 {
    display: block;
  }

  .slack-mobile {
    display: block;
  }

  .slack-desktop {
    display: none;
  }
}
