.btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--accent);
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-hover);
}
