.about-title {
  color: var(--text1);
  font-size: 150%;
  text-align: center;
}

.about-title h1 {
  font-size: 250%;
  font-weight: 500;
  margin: 0%;
}

.statement {
  color: var(--text1);
  text-align: center;
  margin: auto;
  font-size: 150%;
  font-weight: 400;
}

.quick-links {
  /* css global flex */
  font-size: 100%;
}

.quick-links .quick-links-title {
  width: 100%;
  margin-bottom: 10%;
}

.quick-links-title h1 {
  font-size: 200%;
  font-weight: 500;
  text-align: center;
  margin: 0%;
  color: var(--text1);
}

.quick-links .quick-links-box {
  width: calc(23.5% - 40px);
  padding: 20px;
  margin-right: 2%;
}

.quick-links-box:nth-child(5) {
  margin-right: 0%;
}

.quick-links-box h1 {
  font-size: 120%;
  margin: 0%;
  color: var(--text1);
  font-weight: 400;
}

.quick-links-box {
  background-color: var(--theme2);
  border-radius: 10px;
  color: var(--text2);
  /* css global flex */
}

.quick-links-box .quick-links-text {
  width: 100%;
  margin-bottom: 2%;
}

.quick-links-box .quick-links-link {
  width: 150px;
  display: block;
  align-self: flex-end;
  border-radius: 10px;
}

.quick-links-button {
  background-color: var(--theme3);
  color: var(--accent);
  border-radius: 10px;
  padding: 12px 0%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.quick-links-button .fas {
  margin-left: 8%;
}

.quick-links-button:hover {
  background-color: var(--theme1);
}

.quick-links-button p {
  margin: 0%;
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  .quick-links .quick-links-box {
    width: calc(48% - 40px);
    margin-bottom: 2%;
    margin-right: 2%;
  }

  .quick-links-box:nth-child(3),
  .quick-links-box:nth-child(5) {
    margin-right: 0%;
  }

  .statement {
    font-size: 150%;
  }
}

@media screen and (max-width: 800px) {

  .about-title h1 {
    font-size: 200%;
  }
}

@media screen and (max-width: 600px) {
  .quick-links .quick-links-box {
    width: calc(100% - 40px);
    margin: 0%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 525px) {
  .about-title h1 {
    font-size: 150%;
  }

}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 380px) {

  .quick-links-box .quick-links-link {
    width: 100%;
  }

  .quick-links-button .fas {
    margin-left: 4%;
  }
}

.testclass {
  padding: 10px;
  width: 20%;
  background: blue;
  margin: auto;
}

.testclass iframe {
  transform: translateX(0px);
}
