
/* backdrop */

.backdrop {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: rotate(-30deg);
  width: 100%;
  position: absolute;
  margin-left: 0%;
  padding-top: 40%;
  display: none;
}

.backdrop .backdrop-box1 {
  width: 30%;
  padding: 20% 20% 5%;
  margin: 3%;
}

.backdrop .backdrop-box2 {
  padding: 10% 20% 20% 0%;
  margin: 3%;
  width: 20%;
}

.backdrop .backdrop-box3 {
  padding: 10% 0% 20% 20%;
  margin: 3%;
  width: 20%;
}

.backdrop .backdrop-box4 {
  width: 20%;
  padding: 20% 20% 10%;
  margin: 3%;
}

.backdrop-box1,
.backdrop-box2,
.backdrop-box3,
.backdrop-box4 {
  background-color: var(--theme2);
  border-radius: 200px;
}

/*
section.cover {
  background-image: linear-gradient(
    to top left,
    #4b9095 0%,
    #4b9095 25%,
    #327287 25%,
    #327287 50%,
    #195479 50%,
    #195479 75%,
    #003366 75%,
    #003366 100%
  );
  height: 100vh !important;
  width: 100%;
  display: block;
  z-index: -1;
}
*/

#page-title {
  perspective: 900px;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

a:active {
  background-color: transparent;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Title Homeapge */

.spacing-break3 {
  padding: 5% 0%;
}

.spacing-break3half {
  padding: 2.5% 0%;
}

.spacing-break4 {
  padding: 4% 0%;
}

.title-split {
  background: none;
  border-radius: 20px;
  margin-top: 5%;
}

.index-title {
  /* css global flex */
  width: 100%;
}

.index-title .title-text {
  width: 78%;
  margin-right: 2%;
}

.index-title .index-art {
  width: 20%;
}

.index-art img {
  width: 100%;
  transform: scale(200%) translateX(0%) translatey(0%);
  animation: pulse 0s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(100%);
  }
  60% {
    transform: scale(110%);
  }
  70% {
    transform: scale(100%);
  }
  80% {
    transform: scale(110%);
  }
  90% {
    transform: scale(100%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes floating {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}

.title-text {
  color: var(--text1);
  text-align: left;
  font-size: 150%;
  font-weight: 300;
}

.title-text h1 {
  font-size: 280%;
  margin: 0%;
  font-weight: 600;
}

.title-text p {
  margin: 0%;
}

.title-buttons {
  /* css global flex */
  margin-top: 20px;
}

.title-buttons .title-button,
.title-buttons .title-button2 {
  padding: 12px;
  width: 140px;
}

.title-button2 {
  margin-left: 10px;
}

.title-button {
  background-color: var(--accent);
  filter: drop-shadow(0px 0px 10px var(--accent-hover));
}

.title-button2 {
  background-color: var(--text1);
}

.title-button,
.title-button2 {
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  border: none;
  font-size: 60%;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  color: var(--theme1);
}

.title-button:hover {
  background-color: var(--accent-hover);
}
.title-button2:hover {
  background-color: var(--text2);
}

.title-button:active,
.title-button2:active {
  opacity: 0.6;
}

.title-slant {
  transform: skew(-85deg);
  transform-origin: top;
  background-color: var(--theme2);
  padding: 6%;
}

.info {
  background-color: var(--bg-lighttheme);
  max-width: 100vw;
}

.info-title {
  font-size: 150%;
  padding-top: 2%;
  width: 100%;
  padding-bottom: 2%;
  text-align: center;
}

/* index split */

.index-internal-split {
  width: 100%;
}

.index-internal-split {
  opacity: 100%;
  /* css global flex */
}

.index-internal-split .support {
  width: 42%;
  margin: 1% 0%;
  padding: 2% 4%;
  display: none; /*displaynone*/
}

.index-internal-split .why-art {
  width: 46%;
  margin: 1%;
  padding: 1%;
  display: none; /*displaynone*/
}

.index-intro {
  opacity: 100%;
  /* css global flex */
  border-radius: 40px;
  color: var(--text2);
}

.index-intro .index-intro-box {
  width: 46%;
  margin-right: 4%;
  font-weight: 400;
}

.index-intro .index-intro-box2 {
  width: calc(46% - 2px);
  padding-left: 4%;
  border-left: 2px solid var(--accent);
}

.index-intro .index-intro-button {
  width: 100%;
  margin-top: 0%;
}

.index-intro-box {
  color: var(--text1);
}

.index-intro-box h1 {
  font-size: 250%;
  font-weight: 500;
  color: var(--text1);
  margin: 0%;
}

/* the p is just only the p tags not the button or h1 */
.index-intro-box p {
  font-size: 140%;
  margin-top: 0%;
}

.index-intro-box2 p {
  font-size: 120%;
  margin: 0%;
}

.index-feature-button {
  background-color: var(--text1);
  color: var(--theme1);
  width: 180px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 10px var(--text2));
}

.index-feature-button .fas {
  margin-left: 4%;
}

.index-feature-button:hover {
  background-color: var(--text2);
}

.index-feature-button a {
  padding: 12px 0%;
  width: 100%;
  display: block;
  color: inherit;
}

/* droplet hosting */

.index-feature {
  opacity: 100%;
  /* css global flex */
}

.index-feature .index-feature-box {
  width: 48%;
  margin-right: 2%;
}

.index-feature .index-feature-art {
  width: 48%;
  margin-left: 2%;
}

.index-feature-box h1 {
  font-size: 250%;
  font-weight: 500;
  color: var(--text1);
  margin: 0%;
}

.index-feature-box {
  color: var(--text2);
}

.index-feature-art,
.index-feature2-art {
  animation: floating 0s infinite;
  filter: drop-shadow(0px 0px 20px var(--theme3));
}

.index-feature-art img {
  width: 100%;
  transform: translateX(25%) scale(125%);
}

.index-feature2-art img {
  width: 100%;
  transform: translateX(-25%) scale(125%);
}

/* news */

.news {
  background-color: var(--theme3);
  width: 92%;
  padding: 4%;
  margin: auto;
  color: var(--text1);
  border-radius: 20px;
}

.news h1 {
  font-size: 250%;
  font-weight: 400;
  padding: 0% 2%;
  text-align: center;
  margin-top: 0%;
}

.news-section {
  opacity: 100%;
  /* css global flex */
}

.news-section h1 {
  text-align: left;
  margin: 0%;
  padding: 0%;
  font-weight: 400;
  font-size: 150%;
}

.news-section .news-top-link {
  width: 46%;
  margin: 1%;
  padding: 1%;
  display: inline-block;
}

.news-section .news-other {
  width: 46%;
  margin: 1%;
  padding: 0% 1%;
}

.news-top {
  width: 96%;
  padding: 2%;
  background-color: var(--theme1);
  color: var(--text1);
  /* css global flex */
  border-radius: 20px;
  /*box-shadow: 4px 4px 6px 0px var(--theme2);*/
}

.news-top-box {
  padding-bottom: 20%;
}

.news-top .news-top-box,
.news-top .news-top-image {
  width: 48%;
  margin: 1%;
}

.news-top-image {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.news-top .news-date {
  padding: 2% 3%;
}

.news-other .news-date {
  padding: 1% 2%;
}

.news-date {
  color: var(--theme1);
  font-size: 95%;
  width: max-content;
  background-color: var(--accent);
  border-radius: 5px;
  margin: 0%;
  font-weight: 400;
  transition: all 0.2 ease-in-out;
}

.news-top h2 {
  font-size: 100%;
  font-weight: 400;
  line-height: 0%;
  margin: 6% 0% 8%;
}

.news-other-box h1 {
  color: var(--text1);
}

.news-top .fa-1x {
  margin-left: 4%;
}

.news-other .fa-1x {
  margin-left: 2%;
}

.news-other {
  /* css global flex */
  color: var(--text1);
  transition: all 0.2s ease-in-out;
}

.news-other .news-other-box-link {
  width: 100%;
  margin-left: 0%;
}

.news-other-box-link {
  display: inline-block;
  color: var(--text1);
}

.news-other-box .fa-1x,
.news-top .fa-1x {
  transition: all 0.2s ease-in-out;
}

.news-other-box-link:hover .fa-1x,
.news-top:hover .fa-1x {
  transform: translateX(5px);
}

.news-other-box-link .news-date,
.news-top .news-date {
  transition: all 0.2s ease-in-out;
}

/*.news-other-box-link:hover .news-date,
.news-top:hover .news-date {
  background-color: var(--theme2);
  color: var(--text1);
}*/

.news-more {
  width: 12%;
  margin-left: 88%;
}

.news-more-button {
  width: 100%;
  text-align: center;
  padding: 12px 0%;
  line-height: 0%;
  color: var(--theme3);
  background-color: var(--accent);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.news-more-button:hover {
  background-color: var(--accent-hover);
}

.news-more-button:active {
  opacity: 0.6;
}

/* index-feature2s */

.index-feature2 {
  width: 100%;
  border-radius: 20px;
  /* css global flex */
  flex-direction: row-reverse;
}

.index-feature2 .index-feature2-box {
  width: 48%;
  margin-left: 2%;
}

.index-feature2 .index-feature2-art {
  width: 48%;
  margin-right: 2%;
}

.index-feature2-art img {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  float: left;
}

.index-feature2-art {
  animation: floating 0s infinite;
}

.index-feature2-box {
  color: var(--text2);
  font-size: 100%;
  text-align: left;
}

.index-feature2-box .fab {
  margin: 0% 0.5%;
}

.index-feature2-box h1 {
  color: var(--text1);
  font-size: 250%;
  font-weight: 500;
  margin: 0%;
}

.index-feature2-box .fa-check-circle {
  margin-right: 2%;
}

.index-feature2-button {
  color: var(--text1);
  padding: 12px 0%;
  width: 30%;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 100%;
}

.index-feature2-button:hover {
  background-color: var(--accent-hover);
  transform: translateY(-4px);
}

.index-feature2-button:active {
  transform: scale(0.9);
}

.register-now {
  width: 84%;
  margin: 2% auto;
  font-size: 100%;
  text-align: center;
  color: var(--text2);
}

.register-now h1 {
  font-size: 350%;
  color: var(--text1);
  font-weight: 500;
  margin: 0%;
}

.register-now-section {
  width: 100%;
  margin: auto;
}

.register-now-link {
  width: 150px;
  margin: auto;
  display: block;
}

.register-now-button {
  width: 100%;
  background-color: var(--text1);
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  color: var(--theme2);
  padding: 12px 0%;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 10px var(--text2));
}

.register-now-button p {
  margin: 0%;
}

.register-now-button:hover {
  background-color: var(--text2);
}

.register-now-button:active {
  opacity: 0.6;
}

.register-now-button:hover .register-now-link {
  width: 20%;
}

/* responsive css */

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  .title-text h1 {
    font-size: 200%;
  }

  .index-feature .index-feature-box,
  .index-feature2 .index-feature2-box {
    width: 58%;
  }

  .index-feature .index-feature-art,
  .index-feature2 .index-feature2-art {
    width: 38%;
  }

  .index-feature-art img {
    width: 100%;
    transform: translateX(25%) scale(150%);
  }

  .index-feature2-art img {
    width: 100%;
    transform: translateX(-25%) scale(150%);
  }

  .register-now h1 {
    font-size: 250%;
  }
}

@media screen and (max-width: 800px) {
  .index-intro-box p {
    font-size: 120%;
  }

  .index-intro-box2 p {
    font-size: 100%;
  }

  .index-feature-box h1 {
    font-size: 200%;
  }

  .index-feature2-box h1 {
    font-size: 200%;
  }

  .register-now h1 {
    font-size: 220%;
  }

  .index-title .title-text {
    width: 100%;
    margin-right: 0%;
  }

  .index-title .index-art {
    width: 20%;
    display: none;
  }

  .index-feature,
  .index-feature2 {
    flex-direction: column-reverse;
  }

  .index-feature .index-feature-box,
  .index-feature2 .index-feature2-box {
    width: 100%;
  }

  .index-feature .index-feature-art,
  .index-feature2 .index-feature2-art {
    width: 75%;
  }

  .index-feature-art img,
  .index-feature2-art img {
    transform: translateX(0%) scale(100%);
  }
}

@media screen and (max-width: 600px) {
  .title-text h1 {
    font-size: 180%;
  }

  .title-split {
    margin-bottom: 25%;
  }

  .index-intro .index-intro-box {
    width: 100%;
    margin: 0%;
    margin-bottom: 6%;
  }

  .index-intro .index-intro-box2 {
    width: 96%;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 525px) {
  .title-text h1 {
    font-size: 150%;
  }

  .index-feature-box h1 {
    font-size: 150%;
  }

  .index-feature2-box h1 {
    font-size: 150%;
  }

  .register-now h1 {
    font-size: 200%;
  }

  .title-split {
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 450px) {
  .title-text {
    font-size: 120%;
  }

  .title-button,
  .title-button2 {
    font-size: 80%;
  }

  .title-split {
    margin-bottom: 50%;
  }

  .register-now h1 {
    font-size: 180%;
  }
}

@media screen and (max-width: 380px) {
  .title-text h1 {
    font-size: 180%;
  }

  .title-text {
    font-size: 100%;
  }

  .index-intro-box p {
    font-size: 100%;
  }

  .index-intro-box2 p {
    font-size: 100%;
  }

  .title-button,
  .title-button2 {
    font-size: 100%;
  }

  .title-buttons {
    width: 100%;
  }

  .title-buttons .title-button {
    width: 48%;
    margin-right: 4%;
  }

  .title-buttons .title-button2 {
    width: 48%;
    margin: 0%;
  }

  .register-now-link {
    width: 100%;
  }

  .register-now-button {
    padding: 12px 0%;
  }

  .index-feature-button {
    width: 100%;
  }

}
