/*modals*/

.templateinfo {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 5;
}

.templateinfo .templateinfo-box {
  width: calc(100% - 60px);
  padding: 30px;
  scrollbar-width: none;
  overflow: auto;
  max-height: calc(90dvh - 60px);
  align-self: flex-end;
}

.templateinfo-box {
  background-color: var(--theme2);
  transform: translateY(80%);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 30px 30px 0px 0px;
  cursor: default;
}

.templateinfo-box-inside {
  transition: all 0.2s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1600px;
  margin: 0% auto;
}

.templateinfo-box-inside .templateinfo-box-stats {
  width: 48%;
  margin-right: 2%;
}

.templateinfo-box-inside .templateinfo-box-configure {
  width: 44%;
  margin-left: 2%;
  padding: 2%;
}

.templateinfo-box-stats h1 {
  font-size: 180%;
  font-weight: 500;
  margin-top: 0%;
}

.templateinfo-box .template-author,
.templateinfo-box .template-subtitle {
  font-weight: 500;
}

.templateinfo-box-info {
  color: var(--text2);
  font-weight: 400;
  white-space: pre-wrap;
}

.templateinfo-box-message {
  color: var(--text2);
  margin-top: 4%;
  white-space: normal;
}

.creator-message {
  color: var(--text1);
  font-weight: 500;
  font-size: 100%;
}

.templateinfo-box-statsinfo {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2%;
}

.templateinfo-box-statsinfo .templateinfo-box-statsinfo-box {
  padding: 2%;
  width: 28%;
  margin-right: 2%;
}

.templateinfo-box-statsinfo-box:nth-child(3n) {
  margin-right: 0%;
}

.templateinfo-box-statsinfo-box {
  background-color: var(--theme3);
  border-radius: 10px;
  color: var(--text1);
}

.templateinfo-box-statsinfo-box p {
  margin: 0%;
}

.statsnumber {
  font-size: 140%;
}

.templateinfo-box-tags {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.templateinfo-box-tags .popular-tag,
.templateinfo-box-tags .quick-tag,
.templateinfo-box-tags .stax-tag,
.templateinfo-box-tags .community-tag,
.templateinfo-box-tags .web-tag,
.templateinfo-box-tags .raw-tag,
.templateinfo-box-tags .app-tag,
.templateinfo-box-tags .others-tag {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: normal;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 6px;
  font-size: 90%;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.templateinfo-box-configure {
  transition: all 0.2s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--theme3);
  border-radius: 20px;
}

.templateinfo-box-configure .templateinfo-box-configure-inside {
  width: 100%;
}

.templateinfo-box-configure .templateinfo-box-cancel {
  width: 150px;
  align-self: flex-end;
  padding: 12px 0%;
  margin-top: 4%;
}

.templateinfo-box-configure .templateinfo-box-checkout {
  width: 150px;
  margin-left: auto;
  align-self: flex-end;
  margin-top: 4%;
}

.templateinfo-box-configure h1 {
  font-size: 150%;
  font-weight: 400;
  margin-top: 0%;
}

.templateinfo-box-choice {
  background-color: var(--text1);
  color: var(--theme1);
  border-radius: 10px;
  padding: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 400;
  width: 290px;
  margin-bottom: 2%;
  pointer-events: none;
  user-select: none;
  /* filter: drop-shadow(0px 0px 10px var(--accent-hover)); */
}

.templateinfo-box-choice .templateinfo-box-choice-title {
  width: 65%;
}

.templateinfo-box-choice .templateinfo-box-choice-price {
  width: 35%;
}

.templateinfo-box-choice .templateinfo-box-choice-info {
  width: 100%;
}

.templateinfo-box-choice-title,
.templateinfo-box-choice-price {
  font-size: 140%;
  font-weight: 500;
}

.templateinfo-box-choice-price {
  text-align: right;
}

.templateinfo-box-choice-info {
  margin-top: 2%;
}

.templateinfo-box-choice p {
  margin: 0%;
}

.templateinfo-box-type {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.templateinfo-box-type .templateinfo-box-input1,
.templateinfo-box-type .templateinfo-box-input2 {
  width: 100%;
}

.templateinfo-box-input-title p{
  margin: 0%;
}

.templateinfo-box-input-title {
  margin: 2% 0%;
}

.templateinfo-box-select input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  padding: 0%;
  margin: 0%;
  outline: none;
  background-color: var(--theme1);
  border-radius: 20px;
}

.templateinfo-box-select input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--text1);
  border-radius: 50%;
  transform: scale(200%);
  cursor: pointer;
}


.templateinfo-box-input-value {
  /* css global flex */
  width: 100%;
  margin-top: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--text2);
  font-size: 75%;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.templateinfo-box-input-value p{
  margin: 0%;
}

.templateinfo-box-input-value .templateinfo-box-input-value-box1 {
  width: calc(20.75% - 8px);
  margin-left: 8px;
}

.templateinfo-box-input-value .templateinfo-box-input-value-box2 {
  width: 25.75%;
}

.templateinfo-box-input-value .templateinfo-box-input-value-box3 {
  width: 25.75%;
}

.templateinfo-box-input-value .templateinfo-box-input-value-box4 {
  width: 13.75%;
}

.templateinfo-box-input-value .templateinfo-box-input-value-box5 {
  width: calc(13.75% - 6px);
  margin-right: 6px;
  text-align: right;
}


.templateinfo-box-select-list {
  /* css global flex */
  margin-top: 0%;
}

.templateinfo-box-select-list p{
  margin: 0%;
}


.templateinfo-box-select-list .templateinfo-box-select-list-box {
  width: 23.5%;
  padding: 12px 0%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.templateinfo-box-select-list-box:nth-child(4n){
  margin-right: 0%;
}

.templateinfo-box-select-list-box {
  background-color: var(--theme2);
  cursor: pointer;
  color: var(--text2);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.templateinfo-box-select-list-box:hover {
  background-color: var(--text2);
  color: var(--theme1);
}




.templateinfo-box-cancel {
  background-color: var(--theme2);
  color: var(--text1);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.templateinfo-box-cancel .fas {
  margin-left: 2%;
}

.templateinfo-box-cancel:hover {
  background-color: var(--theme1);
}
.templateinfo-box-checkout {
  background-color: var(--accent);
  color: var(--theme1);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 10px var(--accent-hover));
}

.templateinfo-box-checkout:hover {
  background-color: var(--accent-hover);
}

.templateinfo-box-checkout .fas {
  margin-left: 2%;
}

.templateinfo-box-checkout a {
  width: 100%;
  display: block;
  padding: 12px 0px;
  color: inherit;
}

.templateinfo-box-cancel p,
.templateinfo-box-checkout p {
  margin: 0%;
}

.templateinfo-box b {
  font-size: 110%;
  font-weight: 400;
}

.templateinfo-features .fas {
  margin-right: 2%;
  color: var(--accent);
}

.templateinfo-features b {
  font-size: 100%;
  color: var(--text1);
}

.templateinfo-features {
  color: var(--text2);
}























.template-split {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  width: 1600px;
  height: 100dvh;
  overflow: hidden;
}

.template-split .template-filter {
  width: 22%;
  padding: 2%;
  padding-right: 1%;
  max-height: 96%;
  overflow: auto;
}

.template-split .templates {
  width: 72%;
  padding: 2%;
  padding-left: 1%;
  max-height: 96%;
  overflow: auto;
  scroll-behavior: smooth;
}

.template-title {
  width: 95%;
  margin: 2.5% auto 0%;
}

.template-title h1 {
  font-size: 200%;
  color: var(--text1);
  font-weight: 500;
  margin: 0%;
}

.template-buttons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0%;
  font-size: 90%;
}

.template-buttons .template-button {
  width: 48%;
  margin-right: 2%;
}

.template-button:nth-child(2n) {
  margin-left: 2%;
  margin-right: 0%;
}

.template-button-link {
  width: 100%;
}

.template-button-inside1 {
  background-color: var(--text1);
  color: var(--theme1);
  border-radius: 10px;
  text-align: center;
  padding: 12px 0%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.template-button-inside1:hover {
  background-color: var(--text2);
}

.template-button-inside2 {
  background-color: var(--theme3);
  color: var(--accent);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 12px 0%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.template-button-inside2:hover {
  background-color: var(--theme2);
}

.template-button-inside1 p,
.template-button-inside2 p {
  margin: 0%;
}

.template-button .fas {
  margin-right: 10px;
}

.template-filter {
  color: var(--text1);
  border-radius: 20px;
  width: 100%;
}

.template-title,
.template-buttons,
.template-search {
  width: 100%;
}

.template-search {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--theme3);
  border-radius: 10px;
  margin: 4% 0%;
}

.template-search .template-search-icon {
  width: 40px;
  margin-left: 10px;
}

.template-search .template-search-type {
  width: calc(100% - 50px);
}

.template-search-icon p {
  margin: 0%;
}

.template-search-icon {
  color: var(--text1);
  text-align: center;
}

.template-search-type input {
  width: calc(100% - 15px);
  padding: 15px;
  padding-left: 0%;
  background: none;
  color: var(--text1);
  border-radius: 10px;
  font-size: 100%;
}

.template-search-type input:focus {
  outline: none;
}

.template-search:focus-within {
  outline: 1px solid var(--text2);
}

.template-filter-title p {
  margin: 0%;
}

.template-filter-box-section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.template-filter-box-section .template-filter-box {
  width: 100%;
  margin: 6% 0%;
}

.template-tags {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2px;
}

.template-tags button{
  font-size: 95%;
}

.template-tags .template-tags-box {
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 14px;
  margin: 4px 6px 4px 0px;
}

.template-tags-box {
  border: 1px solid var(--accent);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--accent);
}

.template-tags-box p,
.template-tags-box-active p {
  margin: 0%;
}

.template-tags-box:hover {
  background-color: var(--accent-hover);
  color: var(--theme1);
}

.template-tags-created-all .template-tags-all,
.template-tags-created-Stax .template-tags-Stax,
.template-tags-created-Community .template-tags-Community,
.template-tags-type-all .template-tags-all,
.template-tags-type-Web .template-tags-Web,
.template-tags-type-Raw .template-tags-Raw,
.template-tags-type-App .template-tags-App,
.template-tags-type-Others .template-tags-Others,
.template-tags-tags-all .template-tags-all,
.template-tags-tags-Popular .template-tags-Popular {
  background-color: var(--accent);
  color: var(--theme1);
  border: 1px solid var(--accent);
}

.line {
  width: 90%;
  margin: 2% auto;
  border: none;
  border-top: 1px solid var(--theme3);
}

.templates {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.templates .templates-box {
  width: calc(32% - 50px);
  padding: 25px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.templates-box:nth-child(3n) {
  margin-right: 0%;
}

.templates .loader-div {
  width: 100%;
  margin: 2% 0%;
  padding: 0%;
  align-self: center;
  display: none;
}

.templates-box {
  background-color: var(--theme2);
  border-radius: 20px;
  color: var(--text2);
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.templates-box .templates-box-inside {
  width: 100%;
}

.templates-box-inside {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.templates-box-inside .templates-box-title {
  width: 100%;
}

.templates-box-inside .templates-box-icon {
  width: 30%;
}

.templates-box .templates-box-tags {
  width: 100%;
}

.templates-box-inside .templates-box-info {
  width: 100%;
  margin-bottom: 4%;
}

.templates-box .templates-box-button {
  width: 30%;
  margin-left: 70%;
  align-self: flex-end;
}

.templates-box-title h1 {
  color: var(--text1);
  font-weight: 500;
  margin-top: 0%;
  font-size: 150%;
}

.templates-box-icon .fas {
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: orange;
  cursor: pointer;
  font-size: 150%;
}

.templates-box-button p,
.templates-box-icon p {
  margin: 0%;
}

.templates-box-button,
.templates-box-icon {
  text-align: right;
}

.templates-box-button .fas {
  border-radius: 20px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
  padding: 12px 13px;
  color: var(--theme1);
  cursor: pointer;
}

.templates-box-button .fas:hover {
  background-color: var(--accent-hover);
}

.templates-box-info p {
  margin: 0%;
}

.templates-box-info {
  white-space: pre-wrap;
}

.template-subtitle {
  color: var(--accent-hover);
  font-style: italic;
}

.template-author {
  color: var(--accent-hover);
  font-weight: 400;
}

.templates-box-tags {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.templates-box-tags .popular-tag,
.templates-box-tags .quick-tag,
.templates-box-tags .stax-tag,
.templates-box-tags .community-tag,
.templates-box-tags .web-tag,
.templates-box-tags .raw-tag,
.templates-box-tags .app-tag,
.templates-box-tags .others-tag {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: normal;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 90%;
  display: block;
  margin-bottom: 4%;
  width: -moz-fit-content;
  width: fit-content;
}

.popular-tag {
  color: orange;
  background-color: rgba(255, 166, 0, 0.2);
}

.easy-tag {
  color: var(--text2);
  background-color: rgba(0, 0, 0, 0.2);
}

.stax-tag {
  color: var(--accent);
  background-color: #00c79a50;
}

.community-tag {
  color: var(--text1);
  background-color: rgb(255, 255, 255, 0.2);
}

.web-tag {
  color: var(--red);
  background-color: rgba(255, 0, 0, 0.2);
}

.raw-tag {
  color: #7367f0;
  background-color: #7367f050;
}

.app-tag {
  color: #2667f0;
  background-color: #2667f050;
}

.others-tag {
  color: orange;
  background-color: rgba(255, 166, 0, 0.2);
}


.loader-circle {
  border: 3px solid var(--theme3);
  border-radius: 50%;
  border-top: 3px solid var(--accent);
  width: 20px;
  height: 20px;
  margin: auto;
  -webkit-animation: loaderSpin 1s linear infinite;
  animation: loaderSpin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes loaderSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backtop-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--text1);
  color: var(--theme1);
  position: fixed;
  bottom: 25px;
  transition: all 0.2s ease-in-out;
  left: 25px;
  display: none;
  filter: drop-shadow(0px 0px 5px var(--text1));
  opacity: 0%;
}

.backtop-button p{
  margin: 0%;
}















@media screen and (min-width: 1600px) {
  .templates .templates-box {
    width: calc(23.5% - 50px);
    margin-right: 2%;
  }

  .templates-box:nth-child(4n) {
    margin-right: 0%;
  }

  .template-split .templates::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .template-split {
    width: 100%;
  }

  .templateinfo-box .templateinfo-box-inside {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .template-split .template-filter {
    width: 27%;
    padding: 2%;
    padding-right: 1%;
    overflow: auto;
    height: 96%;
  }

  .template-split .templates {
    width: 67%;
    padding: 2%;
    padding-left: 1%;
    height: 96%;
  }

  .template-title h1 {
    font-size: 200%;
  }

  .templates .templates-box {
    width: calc(49% - 50px);
    margin-right: 1%;
  }

  .templates-box:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0%;
  }

  .statsnumber {
    font-size: 110%;
  }
}

@media screen and (max-width: 1000px) {
  .templateinfo-box-inside .templateinfo-box-stats {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 2%;
  }

  .templateinfo-box-inside .templateinfo-box-configure {
    width: 94%;
    margin-left: 0%;
    padding: 3%;
  }

  .template-title h1 {
    font-size: 150%;
  }

  .template-button .fas {
    display: none;
  }

  .template-filter-box {
    margin: 8% 0%;
  }

  .template-tags button {
    font-size: 90%;
  }

  .statsnumber {
    font-size: 150%;
  }

  .templateinfo-box-statsinfo-box {
    font-size: 90%;
  }

  .templateinfo-box {
    border-radius: 40px 40px 0px 0px;
  }
}

@media screen and (max-width: 800px) {

  .backtop-button {
    display: block;
  }

  .template-split {
    height: auto;
    overflow: auto;
  }

  .template-split .template-filter {
    width: 92%;
    padding: 4%;
    height: auto;
    padding-bottom: 0%;
  }

  .template-split .templates {
    width: 92%;
    padding: 4%;
    height: auto;
  }

  .template-button:nth-child(2n) {
    display: none;
  }

  .template-title {
    width: 100%;
    margin: 0%;
  }

  .template-title h1 {
    font-size: 250%;
  }

  .template-buttons .template-button {
    width: 150px;
    margin-right: 2%;
    margin-left: 0%;
  }

  .template-buttons .fas {
    display: inline-block;
  }

  .template-search {
    width: 100%;
    margin: 2% 0% 4%;
  }

  .template-filter-box-section .template-filter-box {
    width: 32%;
    margin: 0% 0%;
    margin-right: 2%;
  }

  .template-filter-box:nth-child(3n) {
    margin-right: 0%;
  }

  .template-tags button{
    font-size: 85%;
  }

  .template-tags .template-tags-box,
  .template-tags .template-tags-box-active {
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 10px;
    margin: 4px 4px 4px 0px;
  }

  .templateinfo-box-inside .templateinfo-box-configure {
    width: 92%;
    margin-left: 0%;
    padding: 4%;
  }

  .statsnumber {
    font-size: 120%;
  }

  .templates .templates-box {
    margin-bottom: 0%;
    margin-top: 2%;
  }
}

@media screen and (max-width: 600px) {

  .template-title h1 {
    font-size: 200%;
  }

  .template-filter-box-section .template-filter-box {
    width: 100%;
    margin: 1% 0%;
    margin-right: 0%;
  }

  .templateinfo-box-inside .templateinfo-box-configure {
    width: 100%;
    padding: 0%;
    background-color: transparent;
  }

  .templateinfo-box-configure h1 {
    font-size: 150%;
  }

  .templateinfo-box-cancel {
    background-color: var(--theme1);
  }

  .templateinfo-box-cancel:hover {
    background-color: var(--theme3);
  }

  .templateinfo-box-type select {
    background-color: var(--theme1);
  }

  .templateinfo-box-type select {
    padding: 3% 0%;
  }

  .templateinfo-box-select-list-box {
    background-color: var(--theme1);
  }

}

@media screen and (max-width: 525px) {

  .templates .templates-box {
    font-size: 95%;
  }

  .templateinfo-box-stats h1 {
    font-size: 200%;
  }

  .templateinfo-box-statsinfo {
    margin-top: 4%;
  }

  .templateinfo-box-statsinfo .templateinfo-box-statsinfo-box {
    padding: 3%;
    width: 26%;
  }
}

@media screen and (max-width: 450px) {
  .template-title h1 {
    font-size: 150%;
  }

  .templates .templates-box {
    width: calc(100% - 50px);
    font-size: 95%;
    margin: 0%;
    margin-top: 4%;
  }

  .templateinfo-box-configure .templateinfo-box-cancel {
    width: 48%;
    margin-right: 2%;
    align-self: flex-end;
  }

  .templateinfo-box-configure .templateinfo-box-checkout {
    width: 48%;
    margin-left: 2%;
    align-self: flex-end;
  }

  .templateinfo-box-choice .templateinfo-box-choice-info {
    width: 100%;
  }

  .templateinfo-box-type select {
    padding: 4% 0%;
  }

  .templateinfo-box-select {
    margin-bottom: 4%;
  }

}

@media screen and (max-width: 380px) {
  .template-buttons .template-button {
    width: 100%;
    margin-right: 0%;
  }

  .templateinfo-box-cancel,
  .templateinfo-box-checkout a {
    padding: 4% 0%;
  }

  .templateinfo-box-configure .templateinfo-box-cancel {
    width: 100%;
    margin-right: 0%;
    align-self: flex-end;
    margin-bottom: 2%;
  }

  .templateinfo-box-configure .templateinfo-box-checkout {
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
    align-self: flex-end;
  }

  .templateinfo-box-choice {
    width: 88%;
    padding: 6%;
  }

  .templateinfo-box-choice .templateinfo-box-choice-title {
    width: 100%;
  }

  .templateinfo-box-choice .templateinfo-box-choice-price {
    width: 100%;
    text-align: left;
    font-size: 200%;
  }


  .templateinfo-box-select-list .templateinfo-box-select-list-box {
    width: 48%;
    padding: 12px 0%;
    margin-right: 4%;
    margin-bottom: 2%;
  }

  .templateinfo-box-select-list-box:nth-child(2n){
    margin-right: 0%;
  }

}
