

.dashchatroom {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 1;
}

.dashchatroom .dashchatroom-box {
  max-width: calc(600px - 40px - 25px);
  width: calc(100% - 40px - 50px);
  margin: 25px 25px 25px auto;
  padding: 20px;
  scrollbar-width: none;
  height: calc(100dvh - 40px - 50px);
  z-index: 5;
}

.dashchatroom-box {
  background-color: var(--theme2);
  transform: translateX(80%);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 20px;
  cursor: default;
}

.dashchatroom-box h1{
  margin: 0%;
  font-size: 150%;
  font-weight: 400;
}

.dashchatroom-box-info {
  height: 50px;
  overflow-x: hidden;
}

.dashchatroom-box-title {
  /* css global flex */
  width: 100%;
}

.dashchatroom-box-title .dashchatroom-box-title-text {
  width: calc(100% - 50px)
}

.dashchatroom-box-title .dashchatroom-box-title-close {
  width: 50px;
}

.dashchatroom-box-title-close{
  /* css global flex */
  opacity: 100%;
}

.dashchatroom-box-title-close button{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.dashchatroom-box-close {
  margin-left: auto;
  color: var(--red);
  background-color: var(--theme1);
}

.dashchatroom-box-close:hover {
  background-color: var(--red);
  color: var(--red-text);
}

.console-session-info {
  color: var(--text2);
  font-size: 90%;
}

.loader-circle {
  border: 2px solid var(--theme3);
  border-radius: 50%;
  border-top: 2px solid var(--text1);
  width: 20px;
  height: 20px;
  margin: auto;
  -webkit-animation: loaderSpin 1s linear infinite;
  animation: loaderSpin 1s linear infinite;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.dashchatroom-main {
  /* 40px padding, 50px margin, 70px input, 60px title */
  height: calc(100dvh - 40px - 70px - 50px - 60px);
  overflow: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  color: var(--text2);
  padding-right: 10px;
  font-size: 90%;
  border-radius: 10px;
}

.dashchatroom-type {
  /* css global flex */
  height: calc(50px + 20px);
  margin-top: 10px;
  background-color:var(--theme1);
  border-radius: 10px;
  padding: 0%;
}

.dashchatroom-type:focus-within {
  outline: 1px solid var(--text2);
}

.dashchatroom-type .dashchatroom-type-input {
  width: calc(100% - 50px);
}

.dashchatroom-type .dashchatroom-type-send {
  width: 40px;
  margin-left: 10px;
  margin-bottom: 12px;
  align-self: flex-end;
}

.dashchatroom-type-input {
  line-height: 0px;
}

.dashchatroom-type-input textarea{
  padding: 15px;
  height: 40px;
  width: calc(100% - 30px);
  resize: none;
  border: none;
  border-radius: 10px;
  margin: 0%;
  line-height: 20px;
  background-color: transparent;
  outline: none;
  font-family: 'Poppins';
  font-size: 15px;
  max-height: 5ch;
  color: var(--text1);
}

.dashchatroom-type-send button{
  width: 30px;
  height: 30px;
  padding: 0px;
  font-size: 100%;
  /* mobile font */
  border-radius: 10px;
  color: var(--accent-text);
  transition: all 0.2s ease-in-out;
  background-color: var(--accent);
}


.dashchatroom-type-send button:hover{
  background-color: var(--accent-hover);
}

.chatroom-messages::-webkit-scrollbar-thumb-track {
  background: var(--theme1);
}

.chatroom-messages {
  border-radius: 0px;
  font-weight: 300;
}

.chatroom-messages p {
  margin: 0%;
}

.chatroom-messages b{
  font-weight: 400;
  font-size: 90%;
  display: block;
}

.chatroom-stax .fas{
  margin-left: 5px;
}

.chatroom-other,
.chatroom-self,
.chatroom-stax {
  width: max-content;
  max-width: calc(100% - 20px);
  word-wrap: break-word;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
}

.chatroom-stax {
  color: var(--text1);
  background-color: var(--theme1);
  font-weight: 300;
}

.chatroom-stax b{
  color: var(--accent);
  font-weight: 500;
  font-size: 100%;
}

.chatroom-other {
  color: var(--text2);
  background-color: var(--theme1);
}

.chatroom-other b{
  color: var(--text1);
}

.chatroom-self b{
  display: none;
  color: var(--text2);
}

.chatroom-self {
  margin-left: auto;
  background-color: var(--theme3);
  color: var(--text1);
}

.chatroom-date {
  width: max-content;
  font-size: 80%;
  color: var(--text2);
  background-color: var(--theme1);
  margin: 5px auto;
  border-radius: 20px;
  padding: 5px 10px;
}

/* .dashchatroom-box-info,
.dashchatroom-main,
.dashchatroom-type {
  outline: 1px solid pink;
} */

/* .dashchatroom-box-info,
.dashchatroom-main,
.dashchatroom-type {
  outline: 1px solid pink;
} */
















.chatrooms-title h1{
    font-size: 110%;
    margin: 0%;
    font-weight: 400;
    color: var(--text1);
}

.chatrooms-list {
    /* css global flex */
    width: 100%;
    margin: 1% auto 4%;
}

.chatrooms-list .chatrooms-list-box {
    width: calc(32% - 40px);
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 20px;
}

.chatrooms-list-box:nth-child(3n){
    margin-right: 0%;
}

.chatrooms-list-box {
    background-color: var(--theme2);
    border-radius: 10px;
    /* css global flex */
    color: var(--text2);
}

.chatrooms-list-box .chatrooms-list-box-info {
    width: calc(100% - 50px);
}

.chatrooms-list-box .chatrooms-list-box-button {
    width: 40px;
    margin-left: 10px;
    align-self: flex-end;
}

.chatrooms-list-box h1{
    font-size: 110%;
    margin: 0%;
    font-weight: 400;
    color: var(--text1);
}

.chatrooms-list-box-info .fas{
  color: var(--red);
  font-size: 85%;
  padding-right: 5px;
  animation: pulse 0s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(100%);
  }
  60% {
    transform: scale(110%);
  }
  70% {
    transform: scale(100%);
  }
  80% {
    transform: scale(110%);
  }
  90% {
    transform: scale(100%);
  }
  100% {
    transform: scale(100%);
  }
}

.chatrooms-list-box p{
    margin: 0%;
}

.chatrooms-list-message {
    margin-top: 2%;
    font-size: 95%;
    font-style: italic;
}

.chatrooms-list-message p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chatrooms-list-button-personal:hover{
    opacity: 80%;
}

.chatrooms-list-box-button button{
    width: 100%;
    padding: 0px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--accent-text);
    transition: all 0.2s ease-in-out;
}

.chatrooms-list-box-button button:hover{
    background-color: var(--accent-hover);
}





@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {

  .dashchatroom .dashchatroom-box {
    max-width: calc(600px - 40px - 15px);
    width: calc(100% - 40px - 30px);
    margin: 15px 15px 15px auto;
    padding: 20px;
    height: calc(100dvh - 40px - 30px);
  }

  .dashchatroom-main {
    height: calc(100dvh - 40px - 30px - 50px - 60px);
  }

}

@media screen and (max-width: 800px) {

  .chatrooms-list .chatrooms-list-box {
    width: calc(49% - 40px);
    margin-right: 2%;
  }

  .chatrooms-list-box:nth-child(even){
    margin-right: 0%;
  }

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 525px) {

  .chatrooms-list .chatrooms-list-box {
    width: calc(100% - 40px);
    margin-right: 0%;
  }

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-height: 200px) {

  .dashconsole-main {
    height: initial;
    overflow: auto;
    width: 100%;
  }

  .dashconsole-box-info {
    position: sticky;
    top: 0%;
    left: 0%;
    background-color: var(--theme3);
    border-radius: 10px;
    height: auto;
    padding: 5px;
    margin-bottom: 5px;
    width: calc(100% - 10px);
  }

  .dashconsole-box h1{
    font-size: 150%;
  }

  .dashconsole .dashconsole-box {
    overflow-x: hidden;
  }

}
