


.logo-main::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.logo-display {
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    transition: all 1s ease-in-out;
    /* css global flex */
}

.logo-title {
    height: 100dvh;
    overflow: hidden;
    /* css global flex */
}

.logo-display .logo-display-box {
    width: 100px;
}


.logo-display-box img {
    width: 60%;
    padding: 20%;
    border-radius: 20%;
    background-color: var(--theme3);
}




.logo-title .landing-nav {
    width: 100%;
    /* css global flex */
}


.landing-nav p{
    margin: 0%;
}

.landing-nav .landing-nav-logo {
    width: 100px;
    margin: 0% auto;
    margin-bottom: 20%;
}

.landing-nav .landing-nav-title {
    width: 100%;
    margin-bottom: 1%;
}
.landing-nav .landing-nav-text {
    width: 100%;
    margin-bottom: 5%;
    scroll-snap-align: start;
}

.landing-nav .landing-finish-date {
    text-align: center;
    font-size: 100%;
}

.landing-nav-title {
    font-size: 450%;
    font-weight: 600;
}

.landing-nav-title,
.landing-nav-text {
    text-align: center;
}

.landing-nav-text {
    font-size: 200%;
    font-weight: 500;
    color: var(--accent);
    filter: drop-shadow(0px 0px 20px var(--accent));
}





.landing-title {
    width: calc(100% - 80px);
    background-color: var(--theme2);
    padding: 40px;
    border-radius: 40px;
    /* css global flex */
}

.landing-title .landing-title-text {
    width: 100%;
    margin-bottom: 4%;
}

.landing-title .landing-title-art {
    width: 100%;
}

.landing-title-art img{
    transition: all 0.2s ease-in-out;
}

.landing-title-art img {
    filter: drop-shadow(0px 0px 10px var(--theme3));
    transform: rotateX(15deg) rotateY(-15deg) translateX(-5%) translateZ(0);
	transform-origin: center center;
    backface-visibility: hidden;
}

.landing-title h1{
    font-weight: 500;
    font-size: 200%;
    margin: 0%;
}

.landing-title-text {
    color: var(--text1);
}

.landing-title-text-white{
    color: var(--text1);
    filter: drop-shadow(0px 0px 10px var(--text1));
}

.landing-title-text-2 {
    filter: drop-shadow(0px 0px 10px var(--accent2));
    color: var(--accent2);
}

.landing-title-text-3 {
    filter: drop-shadow(0px 0px 10px var(--accent3));
    color: var(--accent3);
}


.landing-subtitle {
    text-align: center;
    color: var(--text1);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--text1);
}

.landing-subtitle h1{
    font-size: 150%;
    font-weight: 400;
}




.landing-features {
    /* css global flex */
    width: 100%;
    margin-top: 4%;
}

.landing-features .landing-features-box {
    width: calc(48% - 80px);
    padding: 40px;
    margin-right: 4%;
}

.landing-features .landing-features-box:nth-child(even){
    margin-right: 0%;
}

.landing-features-box {
    border-radius: 20px;
    background-color: var(--theme2);
}

.landing-features-box h1{
    margin: 0%;
    font-weight: 500;
    font-size: 200%;
}













.landing-project {
    width: 100%;
}

.landing-project-title {
    /* css global flex */
    width: 100%;
}

.landing-project-title .landing-project-title-icon {
    width: 50px;
    margin-right: 20px;
}

.landing-project-title .landing-project-title-text {
    width: calc(100% - 70px);
}

.landing-project-title .landing-project-title-info {
    width: 100%;
    margin-top: 5px;
}

.landing-project-title-icon img{
    width: 100%;
    float: left;
}

.landing-project-title-text h1{
    font-size: 350%;
    font-weight: 500;
    margin: 0%;
    filter: drop-shadow(0px 0px 10px var(--text2));
}

.landing-project-title-info {
    font-size: 150%;
    font-weight: 400;
    color: var(--accent);
}

.landing-project-title-info p{
    margin: 0%;
}

.landing-project-progress {
    width: 100%;
    margin: 40px 0%;
    border-radius: 20px;
    background-color: var(--theme3);
}

.landing-project-progress-bar {
    height: 25px;
    border-radius: 20px;
    background-color: var(--accent);
    background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .4) 50%,
    rgba(255, 255, 255, .4) 75%,
    transparent 75%,
    transparent
  );
  animation: bar 2s linear infinite;
}


.landing-project-list {
    width: 100%;
    margin-top: 6%;
    color: var(--text2);
    font-weight: 400;
    /* css global flex */
}

.landing-project-list .landing-project-list-box {
    width: calc(48%);
    margin-right: 4%;
    margin-bottom: 4%;
}

.landing-project-list-box:nth-child(2n){
    margin-right: 0%;
}

.landing-project-list-box {
    border-radius: 10px;
    font-size: 100%;
}

.landing-project-list-box span{
    color: var(--text1);
    font-weight: 500;
}

.landing-project-list-box p{
    margin: 0%;
}

.landing-project-list-box-icon {
    font-size: 150%;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-color: var(--text1);
    color: var(--theme1);
    /* css global flex */
}

/* .landing-project-list-box-icon {
    animation: move 10s linear infinite;
} */

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(360deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



.landing-updates-title {
    width: 100%;
    margin: 5% 0%;
}

.landing-updates-title h1{
    font-size: 250%;
    font-weight: 500;
    margin: 0%;
}

.landing-updates-art {
    width: 100%;
}

.landing-updates-art img{
    width: 100%;
    filter: drop-shadow(0px 0px 10px var(--text1));
    animation: glow 4s linear infinite;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 10px var(--text1));
    }
    50% {
        filter: drop-shadow(0px 0px 10px var(--theme3));
    }
    100% {
        filter: drop-shadow(0px 0px 10px var(--text1));
    }
}


.landing-updates {
    /* css global flex */
    width: 100%;
}

.landing-updates .landing-updates-box {
    width: calc(100% - 80px);
    padding: 40px;
    margin-bottom: 20px;
}

.landing-updates-box {
    background-color: var(--theme2);
    border-radius: 20px;
    box-shadow: 0px 10px 5px var(--theme1);
}

.landing-updates-box:nth-child(1) {
    background-color: var(--theme3);
}

.landing-updates-box h1 {
    font-weight: 500;
    margin: 0% 0% 20px;
    font-size: 120%;
}

.landing-updates p{
    padding-left: 20px;
    border-left: 5px solid var(--accent);
    color: var(--text2);
    margin: 0%;
    font-weight: 400;
}

.landing-updates-box:nth-child(1) p{
    color: var(--text1);
}

.landing-updates-box:nth-child(2n) p{
    border-color: var(--accent2);
}

.landing-updates-box:nth-child(3n) p{
    border-color: var(--accent3);
}

.landing-updates-box:nth-child(4n) p{
    border-color: var(--accent4);
}

.landing-updates-box:nth-child(5n) p{
    border-color: var(--text1);
}












.landing-contact h1{
    font-size: 250%;
    font-weight: 500;
    margin: 0%;
}

.landing-contact {
    width: 100%;
}

.landing-contact-list {
    /* css global flex */
    width: 100%;
    margin-top: 4%;
}

.landing-contact-list .landing-contact-list-box {
    width: calc(32% - 40px - 8px);
    padding: 20px;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 4px solid var(--accent);
}

.landing-contact-list-box:nth-child(3n){
    margin-right: 0%;
}

.landing-contact-list-box {
    background-color: var(--theme2);
    border-radius: 20px;
}


.landing-contact-list-box-icon {
    font-size: 110%;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: var(--theme1);
    color: var(--accent);
    /* css global flex */
}

.landing-contact-list-box:nth-child(2n) .landing-contact-list-box-icon {
    color: var(--accent2);
}

.landing-contact-list-box:nth-child(2n) {
    border-color: var(--accent2);
}

.landing-contact-list-box:nth-child(3n) .landing-contact-list-box-icon {
    color: var(--accent3);
}

.landing-contact-list-box:nth-child(3n) {
    border-color: var(--accent3);
}














.landing-finish {
    width: 100%;
    text-align: center;
    font-size: 140%;
    font-weight: 500;
    margin-top: 10%;
}

.landing-finish p{
    margin: 0%;
}

.landing-finish-date {
    padding: 10px 0px;
    font-weight: 500;
    font-size: 90%;
    border-radius: 80px;
    background-color: var(--text1);
    color: var(--theme1);
    width: 150px;
    max-width: 100%;
    margin: 20px auto 0%;
    transition: all 0.2s ease-in-out;
}








@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {


}

@media screen and (max-width: 800px) {


    .landing-contact-list .landing-contact-list-box {
        width: 100%;
        margin-right: 0%;
    }

}

@media screen and (max-width: 600px) {

    .landing-project-title-text h1{
        font-size: 250%;
    }

    .landing-title-art img,
    .landing-updates-art img {
        transform: scale(140%);
    }

    .landing-title .landing-title-art,
    .landing-updates-art {
        width: 100%;
        margin: 20% auto;
    }

}

@media screen and (max-width: 525px) {

    .landing-project-list .landing-project-list-box {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 450px) {

    .landing-nav-title {
        font-size: 350%;
    }

}

@media screen and (max-width: 380px) {

    .landing-project-title-text h1,
    .landing-updates-title h1,
    .landing-contact h1 {
        font-size: 200%;
    }

}