/*modals*/

.restoresnapshot {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 1;
}

.restoresnapshot .restoresnapshot-box {
  max-width: 360px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow: auto;
}

.restoresnapshot-box::-webkit-scrollbar {
  display: none;
}

.restoresnapshot-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 20px;
}

.red-text {
  color: var(--red);
}

.restoresnapshot-box h1 {
  font-weight: 400;
  font-size: 180%;
  margin: 0%;
  padding: 0% 0% 2% 0%;
}

.restoresnapshot-box .fa-exclamation-circle {
  color: var(--red);
  margin-right: 2%;
}

.restoresnapshot-info b {
  font-weight: 400;
  font-size: 95%;
  color: var(--text2);
}

.restoresnapshot-info {
  color: var(--text1);
  background-color: var(--theme1);
  padding: 1% 5%;
  width: 90%;
  border-radius: 10px;
}

.restoresnapshot-buttons {
  /* css global flex */
  width: 100%;
  margin: 5% 0% 0%;
}

.restoresnapshot-buttons .restoresnapshot-buttons-box {
  width: 50%;
}

.restoresnapshot-buttons p {
  margin: 0%;
}

.restoresnapshot-button-cancel,
.restoresnapshot-button-submit {
  padding: 12px 0%;
  border-radius: 10px;
  width: 98%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.restoresnapshot-button-cancel {
  background-color: var(--theme2);
  color: var(--text1);
  margin-right: 4%;
}

.restoresnapshot-button-cancel:hover {
  background-color: var(--theme1);
}

.restoresnapshot-button-submit {
  background-color: var(--accent);
  color: var(--accent-text);
  margin-left: 2%;
}

.restoresnapshot-button-submit:hover {
  background-color: var(--accent-hover);
}

.deletesnapshot {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 1;
}

.deletesnapshot .deletesnapshot-box {
  max-width: 310px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow: auto;
}

.deletesnapshot-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 20px;
}

.red-text {
  color: var(--red);
}

.deletesnapshot-box h1 {
  font-weight: 400;
  font-size: 180%;
  margin: 0%;
  padding: 0% 0% 2% 0%;
}

.deletesnapshot-box .fa-exclamation-circle {
  color: var(--red);
  margin-right: 2%;
}

.deletesnapshot-info b {
  font-weight: 400;
  font-size: 95%;
  color: var(--text2);
}

.deletesnapshot-info {
  color: var(--text1);
  background-color: var(--theme1);
  padding: 1% 5%;
  width: 90%;
  border-radius: 10px;
}

.deletesnapshot-buttons {
  /* css global flex */
  width: 100%;
  margin: 5% 0% 0%;
}

.deletesnapshot-buttons p {
  margin: 0%;
}

.deletesnapshot-buttons .deletesnapshot-buttons-box {
  width: 100%;
}

.deletesnapshot-button-cancel,
.deletesnapshot-button-submit {
  padding: 12px 0%;
  border-radius: 10px;
  margin: 1% 0%;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.deletesnapshot-button-cancel {
  background-color: var(--theme2);
  color: var(--text1);
}

.deletesnapshot-button-cancel:hover {
  background-color: var(--theme1);
}

.deletesnapshot-button-submit {
  background-color: var(--red);
  color: var(--red-text);
}

.deletesnapshot-button-submit:hover {
  background-color: var(--red-hover);
}

.edituser {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 1;
}

.edituser .edituser-box {
  width: calc(100% - 60px);
  padding: 30px;
  scrollbar-width: none;
  overflow: auto;
  max-height: calc(95dvh - 60px);
  align-self: flex-end;
}

.edituser-box {
  background-color: var(--theme2);
  transform: translateY(80%);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 30px 30px 0px 0px;
  cursor: default;
}

.red-text {
  color: var(--red);
}

.edituser-box h1 {
  font-weight: 400;
  font-size: 180%;
  margin: 0%;
  padding: 0%;
}

.edituser-split {
  /* css global flex */
  width: 100%;
  margin-top: 1%;
  color: var(--text2);
}

.edituser-split .edituser-presets {
  width: 20%;
}

.edituser-split .edituser-section {
  width: 76%;
  margin-left: 4%;
}

.edituser-user {
  /* css global flex */
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 10px;
  background-color: var(--theme3);
  color: var(--text1);
  margin-bottom: 10%;
}

.edituser-user p{
  margin: 0%;
}

.edituser-user .edituser-user-icon {
  width: 40px;
  margin-right: 10px;
}

.edituser-user .edituser-user-name {
  width: calc(100% - 50px);
}

.edituser-icon-photo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: auto;
  background-size: contain;
  background-color: var(--text1);
  border: none;
  transition: all 0.2s ease-in-out;
}

.edituser-presets-list {
  /* css global flex */
  width: 100%;
}

.edituser-presets-list .edituser-presets-box {
  width: 49%;
  padding: 12px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.edituser-presets-box:nth-child(even){
  margin-right: 0%;
}

.edituser-presets-box p {
  margin: 0%;
}

.edituser-presets-box {
  background-color: var(--theme1);
  border-radius: 10px;
  color: var(--text1);
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.permission-presets-text {
  font-size: 90%;
}

.edituser-presets-box:hover {
  background-color: var(--theme3);
}

.edituser-presets b {
  font-size: 100%;
  font-weight: 400;
  color: var(--text1);
}

.edituser-section {
  color: var(--text2);
}

.edituser-settings {
  /* css global flex */
  width: 100%;
}

.edituser-settings .edituser-settings-box {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.edituser-settings-box:nth-child(even) {
  margin-right: 0%;
}

.edituser-settings-box {
  /* css global flex */
  font-size: 95%;
}

.edituser-settings-box p{
  margin: 0%;
}

.edituser-settings-box .edituser-settings-title {
  width: calc(100% - 60px);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--theme3);
}

.edituser-settings-box .edituser-settings-switch {
  width: 50px;
  padding-left: 10px;
}

.edituser-settings-box .edituser-settings-info {
  width: 100%;
  margin-top: 2%;
}

.edituser-settings-title b {
  color: var(--text1);
  font-weight: 400;
}

.edituser-switch-outer {
  background-color: var(--theme1);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 100%;
  width: 100%;
  padding: 4px;
}

.edituser-switch-inner-on {
  background-color: var(--accent);
  margin-left: auto;
  color: var(--accent-text);
}

.edituser-switch-inner-off {
  background-color: var(--text2);
  color: var(--theme1);
}

.edituser-switch-inner-on,
.edituser-switch-inner-off {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 80%;
  /* css global flex */
}

.edituser-switch-inner {
  background-color: var(--theme2);
  color: var(--text1);
  padding: 4% 0%;
  text-align: center;
  border-radius: 5px;
  width: 50%;
}

.edituser-switch-outer p {
  margin: 0%;
}

.edituser-switch-outer-on .edituser-switch-text-off,
.edituser-switch-outer-off .edituser-switch-text-on,
.edituser-switch-inner-on .edituser-switch-text-off,
.edituser-switch-inner-off .edituser-switch-text-on {
  display: none;
}

.edituser-buttons {
  /* css global flex */
  width: 100%;
  margin: 2% 0% 0%;
}

.edituser-buttons p {
  margin: 0%;
}

.edituser-buttons .edituser-buttons-box {
  width: 180px;
}

.edituser-buttons-box:nth-child(even) {
  margin-left: auto;
}

.edituser-button-cancel,
.edituser-button-submit {
  padding: 12px 0%;
  border-radius: 10px;
  margin: 1% 0%;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.edituser-button-submit-off {
  padding: 12px 0%;
  border-radius: 10px;
  margin: 1% 0%;
  width: 100%;
  cursor: default;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.edituser-button-cancel {
  background-color: var(--theme1);
  color: var(--text1);
  margin-right: 2%;
}

.edituser-button-cancel:hover {
  background-color: var(--theme3);
}

.edituser-button-submit,
.edituser-button-submit-off {
  background-color: var(--accent);
  color: var(--accent-text);
  margin-left: 2%;
}

.edituser-button-submit:hover {
  background-color: var(--red-hover);
}

.removeuser {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 1;
}

.removeuser .removeuser-box {
  max-width: 310px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow: auto;
}

.removeuser-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text2);
  font-size: 100%;
  font-weight: 300;
  border-radius: 20px;
}

.red-text {
  color: var(--red);
}

.removeuser-box h1 {
  font-weight: 400;
  font-size: 180%;
  margin: 0%;
  padding: 0% 0% 2% 0%;
  color: var(--text1);
}

.removeuser-info {
  /* css global flex */
  background-color: var(--theme1);
  border-radius: 10px;
  padding: 15px;
}

.removeuser-info p{
  margin: 0%;
}

.removeuser-info .removeuser-icon {
  width: 40px;
  margin-right: 10px;
}

.removeuser-info .removeuser-name {
  width: calc(100% - 50px);
}

.removeuser-info .removeuser-joindate {
  width: 100%;
  margin-top: 4%;
}

.removeuser-name {
  color: var(--text1);
  font-size: 100%;
}

.removeuser-icon-photo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: auto;
  background-size: contain;
  background-color: var(--text1);
  border: none;
  transition: all 0.2s ease-in-out;
}

.removeuser-info b {
  font-weight: 400;
  font-size: 110%;
  color: var(--text1);
}

.removeuser-joindate {
  color: var(--text2);
}

.removeuser-joindate b{
  font-size: 100%;
  font-weight: 400;
  color: var(--text1);
}

.removeuser-buttons {
  /* css global flex */
  width: 100%;
  margin: 5% 0% 0%;
}

.removeuser-buttons .removeuser-buttons-box {
  width: 50%;
}

.removeuser-buttons p {
  margin: 0%;
}

.removeuser-button-cancel,
.removeuser-button-submit {
  padding: 12px 0%;
  border-radius: 10px;
  margin: 1% 0%;
  width: 99%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.removeuser-button-submit-off {
  padding: 12px 0%;
  border-radius: 10px;
  margin: 1% 0%;
  width: 99%;
  cursor: default;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.removeuser-button-cancel {
  background-color: var(--theme2);
  color: var(--text1);
  margin-right: 2%;
}

.removeuser-button-cancel:hover {
  background-color: var(--theme1);
}

.removeuser-button-submit,
.removeuser-button-submit-off {
  background-color: var(--red);
  color: var(--red-text);
  margin-left: 2%;
}

.removeuser-button-submit:hover {
  background-color: var(--red-hover);
}



















.dashboard {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.dashboard .dashboard-top {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.dashboard .dashboard-main,
.dashboard .dashboard-main2 {
  width: 69%;
  margin: 1% 0%;
}

.dashboard .dashboard-side,
.dashboard .dashboard-side2 {
  width: 29%;
  margin: 1% 0%;
}

.dashboard .dashboard-stretch {
  width: 100%;
  margin: 1% 0% 0%;
}

.dashboard .dashboard-split {
  width: 49%;
  margin: 0%;
}

/* dashboard admin */

.dashboard-main,
.dashboard-main2 {
  color: var(--text1);
}

.dashboard .dashboard-side2 {
  margin-left: 1%;
}

.dashboard .dashboard-main2 {
  margin-right: 1%;
}

.dashboard .dashboard-side {
  padding-right: 1%;
}

.dashboard .dashboard-main {
  padding-left: 1%;
}

.dashboard-main h1,
.dashboard-main2 h1 {
  font-weight: 400;
  font-size: 160%;
  margin-top: 0%;
}

.edit-member {
  color: var(--text1);
}

.add-member,
.change-member {
  background-color: var(--theme3);
  padding: 20px;
  border-radius: 15px;
}

.add-member {
  margin-bottom: 4%;
}

.edit-member h1 {
  font-size: 120%;
  font-weight: 400;
  margin: 0% 0% 5%;
}

.edit-member b {
  font-weight: 400;
  font-size: 90%;
  color: var(--text2);
}

.edit-member-box,
.edit-member-submit {
  border-radius: 10px;
  margin-top: 4%;
}

.edit-member-box p,
.edit-member-submit p {
  margin: 2% 0%;
}

.edit-member-box {
  background-color: var(--theme2);
  color: var(--text1);
}

.edit-member-submit {
  background-color: var(--accent);
}

.edit-member-submit .fas {
  margin-right: 8px;
}

.edit-member input,
.edit-member button {
  border-radius: 10px;
  background: transparent;
  font-size: 95%;
  transition: all 0.2s ease-in-out;
}

.edit-member-box input {
  color: var(--text1);
  text-align: left;
  padding: 15px;
  width: calc(100% - 30px);
  cursor: text;
}

.edit-member-submit button {
  color: var(--accent-text);
  cursor: pointer;
  padding: 12px 0%;
  width: 100%;
}

.edit-member-submit button:hover {
  background-color: var(--accent-hover);
}

.edit-member-box option {
  background-color: var(--theme3);
  outline: none;
  color: var(--text1);
}

.edit-member-box select {
  background: transparent;
  padding: 6%;
  outline: none;
  color: var(--text1);
  width: 94%;
  border: none;
}

.dashboard-main h1 {
  margin-top: 0%;
}

.member-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.member-list .member-list-box-title {
  width: calc(100% - 40px);
  padding: 20px;
  margin-bottom: 1%;
}

.member-list .member-list-box {
  width: calc(100% - 40px);
  padding: 10px 20px;
  margin-bottom: 1%;
}

.member-list-box p,
.member-list-box-title p {
  margin: 0%;
}

.member-list-box,
.member-list-box-title {
  color: var(--text1);
  border-radius: 10px;
  /* css global flex */
  transition: all 0.2s ease-in-out;
}

.member-list-box b {
  font-weight: 400;
  font-size: 100%;
  color: var(--text1);
}

.member-list-box .member-list-profile,
.member-list-box-title .member-list-profile {
  width: 33%;
  margin-right: 2%;
}

.member-list-box .member-list-rank,
.member-list-box-title .member-list-rank {
  width: 10%;
  display: none;
}

.member-list-box .member-list-date,
.member-list-box-title .member-list-date {
  width: 40%;
}

.member-list-box .member-list-button {
  width: 25%;
}

.member-list-box-title {
  background-color: var(--theme3);
  color: var(--text1);
}

.member-list-box:nth-child(odd) {
  background-color: var(--theme2);
}

.member-list-profile {
  /* css global flex */
  opacity: 100%;
}

.member-list-profile .member-list-profile-photo {
  width: 40px;
}

.member-list-profile .member-list-profile-info {
  width: calc(100% - 40px);
}

.member-list-profile .member-list-profile-title {
  width: 100%;
}

.white-text {
  color: var(--text1);
}

.profile-photo-user {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: auto;
  float: left;
  background-size: contain;
  background-color: var(--text1);
  border: none;
  transition: all 0.2s ease-in-out;
  background: black;
}

.member-list-rank-box {
  background-color: var(--theme3);
  width: 46%;
  padding: 2%;
  border-radius: 5px;
}

.member-list-rank-box p {
  margin: 0%;
}

.member-list-rank option {
  background-color: var(--theme3);
  outline: none;
  font-family: "Poppins";
  color: var(--text1);
}

.member-list-rank select {
  background: transparent;
  padding: 0%;
  outline: none;
  color: var(--text1);
  width: 100%;
  border: none;
  font-family: "Poppins";
}

.member-list-button {
  text-align: right;
  /* css global flex */
}

.member-list-button .member-list-edit {
  width: 40px;
  padding: 8px 10px;
  margin-left: auto;
}

.member-list-button .member-list-remove {
  width: 40px;
  padding: 8px 10px;
}

.member-list-edit,
.member-list-remove {
  background-color: var(--theme3);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  font-size: 90%;
}

.member-list-edit {
  color: var(--accent);
}

.member-list-remove {
  color: var(--red);
}

.member-list-edit:hover {
  background-color: var(--accent);
  color: var(--accent-text);
}

.member-list-remove:hover {
  background-color: var(--red);
  color: var(--red-text);
}

.dashboard-stretch {
  color: var(--text2);
}

.dashboard-stretch h1 {
  color: var(--text1);
  font-size: 120%;
  font-weight: 400;
}

.dashboard-stretch b {
  color: var(--text1);
  font-weight: 500;
}

.snapshots-create {
  max-width: calc(550px - 50px);
  width: calc(100% - 50px);
  border-radius: 20px;
  background-color: var(--theme3);
  padding: 25px;
  margin-bottom: 2%;
}

.snapshots-create-inputs {
  /* css global flex */
  opacity: 100%;
}

.snapshots-create-inputs .snapshots-create-inputs-text {
  width: 69%;
  margin-right: 1%;
}

.snapshots-create-inputs .snapshots-create-inputs-submit,
.snapshots-create-inputs .snapshots-create-inputs-submit-off {
  width: 29%;
  margin-left: 1%;
}

.snapshots-create-inputs-text,
.snapshots-create-inputs-submit,
.snapshots-create-inputs-submit-off {
  border-radius: 10px;
  color: var(--text1);
  z-index: 0;
}

.snapshots-create-inputs-text {
  background-color: var(--theme2);
}

.snapshots-create h2 {
  margin-top: 0%;
  font-size: 110%;
  font-weight: 400;
  color: var(--text1);
}

.snapshots-create-inputs-submit {
  background-color: var(--accent);
}

.snapshots-create-inputs-submit-off {
  background-color: var(--accent);
  opacity: 0.6;
}

.snapshots-create-inputs input,
.snapshots-create-inputs button {
  background: transparent;
  border-radius: 10px;
  font-size: 95%;
  transition: all 0.2s ease-in-out;
}

.snapshots-create-inputs input[type="text"] {
  padding: 12px;
  color: var(--text1);
  width: 92%;
}


.snapshots-create-inputs-submit button {
  text-align: center;
  padding: 12px 0%;
  width: 100%;
  cursor: pointer;
  color: var(--accent-text);
}

.snapshots-create-inputs-submit-off button {
  text-align: center;
  padding: 12px 0%;
  width: 100%;
  cursor: default;
  color: var(--accent-text);
}

.snapshots-create-inputs-submit button:hover {
  background-color: var(--accent-hover);
}

.snapshots-create-inputs-submit-off .fas,
.snapshots-create-inputs-submit .fas {
  margin-right: 8px;
}

.snapshot-list {
  /* css global flex */
  margin-bottom: 2%;
}

.snapshot-list p {
  margin: 0%;
}

.snapshot-list .snapshot-list-box-title {
  width: 96%;
  padding: 2%;
  margin-bottom: 1%;
}

.snapshot-list .snapshot-list-box {
  width: 96%;
  padding: 1% 2%;
  margin-bottom: 1%;
}

.snapshot-list-box,
.snapshot-list-box-title {
  color: var(--text1);
  border-radius: 10px;
  /* css global flex */
  transition: all 0.2s ease-in-out;
}

.snapshot-list-box b {
  font-weight: 400;
  font-size: 100%;
  color: var(--text1);
}

.snapshot-list-box .snapshot-list-title,
.snapshot-list-box-title .snapshot-list-title {
  width: 28%;
  margin-right: 2%;
}

.snapshot-list-box .snapshot-list-user,
.snapshot-list-box-title .snapshot-list-user {
  width: 20%;
  margin-right: 2%;
}

.snapshot-list-box .snapshot-list-date,
.snapshot-list-box-title .snapshot-list-date {
  width: calc(48% - 200px);
}

.snapshot-list-box .snapshot-list-buttons {
  width: 200px;
}

.snapshot-list-box-title {
  background-color: var(--theme3);
  color: var(--text1);
}

.snapshot-list-buttons {
  text-align: right;
}

.snapshot-list-box:nth-child(odd) {
  background-color: var(--theme2);
}

.snapshot-list-button-restore,
.snapshot-list-button-delete {
  transition: all 0.2s ease-in-out;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}

.snapshot-list-button-restore {
  background-color: var(--accent);
  color: var(--accent-text);
  margin-left: auto;
}

.snapshot-list-button-restore:hover {
  background-color: var(--accent-hover);
}

.snapshot-list-button-delete {
  background-color: var(--red);
  color: var(--red-text);
  margin-left: 10px;
}

.snapshot-list-button-delete:hover {
  background-color: var(--red-hover);
}

.snapshot-list-buttons .fas {
  margin-left: 2%;
  padding: 3.5%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.snapshot-list-buttons .fa-unlock {
  background-color: var(--theme3);
  color: var(--accent);
}

.snapshot-list-buttons .fa-lock {
  background-color: var(--theme3);
  color: var(--red);
}

.snapshot-list-unlock .fa-lock {
  display: none;
}

.snapshot-list-lock .fa-unlock,
.snapshot-list-lock .snapshot-list-button-delete,
.snapshot-list-lock .snapshot-list-button-restore {
  display: none;
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1200px) {
  .dashboard .dashboard-side {
    width: 39%;
    padding-right: 1%;
  }

  .dashboard .dashboard-main {
    width: 59%;
    padding-left: 1%;
  }

}

@media screen and (max-width: 1000px) {
  .dashboard .dashboard-side {
    width: 34%;
    padding-right: 1%;
  }

  .dashboard .dashboard-main {
    width: 64%;
    padding-left: 1%;
  }

  .edituser-split .edituser-presets {
    width: 30%;
  }

  .edituser-split .edituser-section {
    width: 66%;
    margin-left: 4%;
  }

  .edituser-settings .edituser-settings-box {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 800px) {
  .dashboard .dashboard-side {
    width: 49%;
    padding-right: 1%;
    margin-right: 50%;
  }

  .dashboard .dashboard-main {
    width: 99%;
    padding-left: 1%;
  }

  .snapshot-list-box-title {
    display: none;
  }

  .snapshot-list .snapshot-list-box,
  .snapshot-list .snapshot-list-box-title {
    width: calc(49% - 50px);
    padding: 25px;
    border-radius: 20px;
    margin-right: 1%;
    margin-bottom: 2%;
    background-color: var(--theme2);
  }

  .snapshot-list-box:nth-child(odd) {
    margin-right: 0%;
    margin-left: 1%;
  }

  .snapshot-list-box .snapshot-list-title,
  .snapshot-list-box-title .snapshot-list-title {
    width: 100%;
    margin-right: 0%;
    font-size: 110%;
    font-weight: 500;
  }

  .snapshot-list-box .snapshot-list-user,
  .snapshot-list-box-title .snapshot-list-user {
    width: calc(100% - 10px - 3px);
    padding-left: 8px;
    border-left: 3px solid var(--accent);
    margin: 2% 0%;
  }

  .snapshot-list-box .snapshot-list-date,
  .snapshot-list-box-title .snapshot-list-date {
    width: 100%;
  }

  .snapshot-list-user p {
    margin: 0%;
  }

  .snapshot-list-title p {
    margin-top: 0%;
  }

  .snapshot-list-date p {
    margin: 0%;
  }

  .snapshot-list-box .snapshot-list-buttons {
    width: 100%;
    margin-left: 0%;
    margin-top: 4%;
    text-align: left;
  }

  .edituser-split .edituser-presets {
    width: 40%;
  }

  .edituser-split .edituser-section {
    width: 56%;
    margin-left: 4%;
  }

}

@media screen and (max-width: 600px) {

  .dashboard .dashboard-side {
    width: 59%;
    padding-right: 1%;
    margin-right: 40%;
  }

  .member-list-button .fas {
    padding: 12%;
  }

  .snapshots-create-inputs .snapshots-create-inputs-text {
    width: 59%;
    margin-right: 1%;
  }

  .snapshots-create-inputs .snapshots-create-inputs-submit,
  .snapshots-create-inputs .snapshots-create-inputs-submit-off {
    width: 39%;
    margin-left: 1%;
  }

  .edituser-split .edituser-presets {
    width: 100%;
    margin-bottom: 10px;
  }

  .edituser-split .edituser-section {
    width: 100%;
    margin-left: 0%;
  }

}

@media screen and (max-width: 525px) {
  .member-list .member-list-box-title {
    display: none;
  }

  .member-list .member-list-box-title,
  .member-list .member-list-box {
    flex-direction: row;
    background-color: var(--theme2);
    margin-bottom: 2%;
    padding: 20px;
  }

  .member-list-box .member-list-profile,
  .member-list-box-title .member-list-profile {
    width: 70%;
    margin: 0%;
  }

  .member-list-box .member-list-date,
  .member-list-box-title .member-list-date {
    width: calc(68% - 3px);
    padding-left: 2%;
    margin: 0%;
    border-left: 3px solid var(--accent);
  }

  .member-list-box .member-list-button {
    width: 30%;
    height: 50%;
  }

  .profile-photo-user {
    margin: 0%;
  }

  .member-list-button .fas {
    padding: 12%;
  }

  .member-list-button .fa-pencil-alt {
    margin-right: 6%;
  }

  .snapshot-list .snapshot-list-box,
  .snapshot-list .snapshot-list-box-title {
    width: calc(100% - 50px);
    margin-right: 0%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 450px) {
  .dashboard .dashboard-side {
    width: 79%;
    padding-right: 1%;
    margin-right: 20%;
  }

  .snapshots-create-inputs .snapshots-create-inputs-text {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 2%;
  }

  .snapshots-create-inputs .snapshots-create-inputs-submit,
  .snapshots-create-inputs .snapshots-create-inputs-submit-off {
    width: 100%;
    margin-left: 0%;
  }

  .snapshots-create-inputs input[type="text"] {
    width: calc(100% - 24px);
  }

  .snapshots-create-inputs-submit button,
  .snapshots-create-inputs-submit-off button {
    width: 100% 0%;
  }


  .edituser-buttons .edituser-buttons-box {
    width: 100%;
    margin-right: 0%;
  }

  .edituser-buttons-box:nth-child(even) {
    margin-right: 0%;
    margin-left: 0%;
  }

  .edituser-button-cancel {
    margin-right: 0%;
  }

  .edituser-button-submit,
  .edituser-button-submit-off {
    margin-left: 0%;
  }

  .edituser-button-cancel,
  .edituser-button-submit {
    padding: 4% 0%;
    margin: 1% 0%;
    width: 100%;
  }

  .edituser-button-submit-off {
    padding: 4% 0%;
    margin: 1% 0%;
    width: 100%;
  }

  .restoresnapshot-buttons .restoresnapshot-buttons-box {
    width: 100%;
  }

  .restoresnapshot-button-cancel {
    margin: 0%;
    margin-bottom: 2%;
    width: 100%;
  }

  .restoresnapshot-button-submit {
    margin: 0%;
    width: 100%;
  }

}

@media screen and (max-width: 380px) {
  .dashboard .dashboard-side {
    width: 100%;
    padding-right: 0%;
    margin-right: 0%;
  }


  .member-list-button .fas {
    padding: 14%;
  }

  .member-list-button .fa-pencil-alt {
    margin-right: 5%;
  }

  .member-list-box .member-list-profile,
  .member-list-box-title .member-list-profile {
    width: 100%;
    margin-right: 0%;
  }

  .member-list-box .member-list-date,
  .member-list-box-title .member-list-date {
    width: calc(100% - 3px);
    padding-left: 2%;
    margin-top: 4%;
    border-left: 3px solid var(--accent);
  }

  .member-list-box .member-list-button {
    width: 100%;
    margin-top: 4%;
  }

  .edituser-presets-list .edituser-presets-box {
    width: 100%;
    margin-right: 0%;
  }

  .removeuser-buttons .removeuser-buttons-box {
    width: 100%;
  }

  .removeuser-button-cancel {
    margin-right: 0%;
    padding: 4% 0%;
  }

  .removeuser-button-submit,
  .removeuser-button-submit-off {
    margin-left: 0%;
    padding: 4% 0%;
  }

  .snapshots-create-inputs .snapshots-create-inputs-text {
    margin-bottom: 4%;
  }

  .snapshot-list-button-restore {
    background-color: var(--accent);
    color: var(--accent-text);
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .snapshot-list-button-delete {
    background-color: var(--red);
    color: var(--red-text);
    margin-left: 0px;
    margin-bottom: 5px;
  }

}
