.checkout-full {
  width: 1120px;
  padding: 24px 48px;
}

.checkout-title h1 {
  font-size: 250%;
  font-weight: 500;
  color: var(--text1);
  margin-top: 0%;
}

.checkout-review,
.checkout-payment,
.checkout-completed {
  opacity: 0%;
  transition: all 0.2s ease-in-out;
}

.checkout-next {
  display: none;
}

.checkout-type-review .checkout-review,
.checkout-type-payment .checkout-review,
.checkout-type-payment .checkout-payment,
.checkout-type-completed .checkout-completed {
  opacity: 100%;
}

.checkout-type-review .checkout-next {
  display: block;
}

.checkout-type-review .checkout-progress-review,
.checkout-type-payment .checkout-progress-review,
.checkout-type-payment .checkout-progress-payment hr,
.checkout-type-payment .checkout-progress-payment,
.checkout-type-completed .checkout-progress-review,
.checkout-type-completed .checkout-progress-payment hr,
.checkout-type-completed .checkout-progress-payment,
.checkout-type-completed .checkout-progress-completed hr,
.checkout-type-completed .checkout-progress-completed {
  color: var(--accent);
  border-color: var(--accent);
}

.checkout-progress {
  /* css global flex */
  width: calc(480px - 40px);
  padding: 20px;
  background-color: var(--theme2);
  border-radius: 20px;
  font-size: 90%;
  margin-bottom: 2%;
}

.checkout-progress .checkout-progress-step {
  width: 20%;
}

.checkout-progress .checkout-progress-line {
  width: 14%;
  margin: 0% 3%;
}

.checkout-progress-step {
  border-radius: 10px;
  text-align: center;
  color: var(--text2);
}

.checkout-progress-step .fas,
.checkout-progress-step-active .fas {
  font-size: 150%;
}

.checkout-progress-step p,
.checkout-progress-step-active p {
  margin-bottom: 0%;
}

.checkout-progress-line hr {
  border: 1px solid var(--text2);
}

.checkout {
  /* css global flex */
  opacity: 100%;
}

.checkout .checkout-review {
  width: 380px;
  margin-bottom: 4%;
}

.checkout .checkout-payment {
  width: calc(100% - 380px - 5%);
  margin-left: 5%;
  margin-bottom: 2%;
}

.checkout .checkout-completed {
  width: 100%;
}

.checkout-review-title {
  width: 100%;
}

.checkout-review-title h1 {
  font-size: 180%;
  font-weight: 400;
}

.checkout-review-title .fas {
  margin-left: 2%;
}

.checkout-review-title hr {
  border: none;
  border-bottom: 1px solid var(--text2);
}

.checkout-review-box {
  background-color: var(--theme3);
  padding: 6%;
  border-radius: 10px;
  margin-top: 2%;
  color: var(--text2);
}

.checkout-review-box-title {
  margin-bottom: 6%;
}

.checkout-review-box-title h1 {
  font-size: 120%;
  font-weight: 500;
  margin-top: 0%;
  color: var(--accent);
}

.checkout-review-box-title hr {
  border: none;
  border-bottom: 1px solid var(--accent);
  display: none;
}

.checkout-review-category p {
  margin: 0%;
}

.checkout-review-category {
  margin-bottom: 4%;
}

.checkout-review-order {
  /* css global flex */
  margin-bottom: 6%;
}

.checkout-review-order .checkout-review-order-icon {
  width: 15%;
}

.checkout-review-order .checkout-review-order-info {
  width: 60%;
}

.checkout-review-order .checkout-review-order-price {
  width: 25%;
}

.checkout-review-order-title {
  font-size: 120%;
  font-weight: 400;
  color: var(--text1);
}

.checkout-review-order-info {
  font-size: 90%;
  font-weight: 300;
}

.checkout-review-order-price {
  text-align: right;
  color: var(--text2);
  font-size: 110%;
}

.checkout-highlight {
  color: var(--text2);
}

.checkout-highlight-line {
  color: var(--text2);
  font-weight: 600;
}

.checkout-review-order-price p,
.checkout-review-order-info p {
  margin: 0%;
}

.checkout-review-price {
  /* css global flex */
  margin-top: 20%;
  font-size: 110%;
}

.checkout-review-price .checkout-review-price-subtotal,
.checkout-review-price .checkout-review-price-total {
  width: 48%;
  margin-right: 2%;
}

.checkout-review-price .checkout-review-line {
  width: 100%;
}

.checkout-review-price .checkout-review-price-subamount,
.checkout-review-price .checkout-review-price-amount {
  width: 48%;
  margin-left: 2%;
}

.checkout-review-line hr {
  border: none;
  border-bottom: 1px solid var(--text1);
}

.checkout-review-price-subamount,
.checkout-review-price-amount {
  text-align: right;
}

.checkout-review-price-total,
.checkout-review-price-amount {
  color: var(--text1);
  font-weight: 400;
  font-size: 100%;
}

.checkout-review-price-total {
  font-weight: 500;
}

.checkout-review-price-total p,
.checkout-review-price-amount p,
.checkout-review-price-subtotal p,
.checkout-review-price-subamount p {
  margin: 0%;
}

.checkout-next {
  margin-bottom: 4%;
  background-color: var(--accent);
  border-radius: 20px;
  padding: 2%;
  text-align: center;
  width: 100%;
  color: var(--theme1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 10px var(--accent-hover));
}

.checkout-next p,
.checkout-cancel p {
  margin: 0%;
}

.checkout-next .fas {
  margin-left: 2%;
}

.checkout-cancel {
  margin-top: 4%;
  background-color: var(--red);
  border-radius: 20px;
  padding: 2%;
  width: 180px;
  text-align: center;
  color: var(--text1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checkout-cancel:hover {
  background-color: var(--red-hover);
}

.payment-section-creditcard,
.payment-section-paypal,
.payment-section-crypto,
.payment-section-savedpayments {
  display: none;
}

.checkout-payment-creditcard .payment-section-creditcard,
.checkout-payment-paypal .payment-section-paypal,
.checkout-payment-crypto .payment-section-crypto,
.checkout-payment-savedpayments .payment-section-savedpayments {
  display: block;
}

.checkout-payment b {
  font-size: 100%;
  font-weight: 400;
}

.checkout-payment-creditcard .payment-options-box-creditcard,
.checkout-payment-paypal .payment-options-box-paypal,
.checkout-payment-crypto .payment-options-box-crypto,
.checkout-payment-savedpayments .payment-options-box-savedpayments {
  background-color: var(--accent);
  color: var(--accent-text);
  pointer-events: none;
}

.payment-options {
  /* css global flex */
  background-color: var(--theme2);
  border-radius: 40px;
  padding: 1.5%;
  width: max-content;
  font-size: 90%;
  margin-bottom: 5%;
}

.payment-options button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 0px 4px;
  cursor: pointer;
  color: var(--text1);
  transition: all 0.2s ease-in-out;
}

.payment-options button p {
  margin: 0%;
}

.payment-section-title {
  margin-bottom: 1%;
}

.payment-section-title p {
  margin: 0%;
}

.payment-section-types {
  background-color: var(--theme2);
  border-radius: 10px;
  /* css global flex */
  padding: 10px;
  width: 210px;
  color: var(--text2);
  font-size: 85%;
  margin-bottom: 20px;
  text-align: left;
}

.payment-section-types .payment-section-types-title {
  width: 100%;
  margin-bottom: 2%;
}

.payment-section-types-title {
  text-align: center;
}

.payment-section-types-title p {
  margin: 0%;
}

.payment-section-types img{
  float: left;
}

.payment-section-types img,
.payment-section-types-last {
  width: 23%;
  margin: 1%;
}

.payment-section-types-last img{
  width: 100%;
  float: left;
}

.saved-payments-details {
  /* css global flex */
  margin-bottom: 8%;
}

.saved-payments-details .saved-payments-details-number {
  width: 59%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.saved-payments-details .saved-payments-details-expiry {
  width: 39%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.saved-payments-details .saved-payments-details-cvv {
  width: 39%;
  margin-right: 1%;
}

.saved-payments-details .saved-payments-details-name {
  width: 59%;
  margin-left: 1%;
}

.saved-payments-details .saved-payments-details-number,
.saved-payments-details .saved-payments-details-expiry,
.saved-payments-details .saved-payments-details-cvv,
.saved-payments-details .saved-payments-details-name {
  background-color: var(--theme2);
  border-radius: 10px;
}

.saved-payments-details input,
.billing-details input {
  width: calc(100% - 32px);
  font-size: 100%;
  background: transparent;
  color: var(--text1);
  border-radius: 10px;
}

.saved-payments-details-number input,
.saved-payments-details-name input {
  padding: 16px;
}

.saved-payments-details-expiry input,
.saved-payments-details-cvv input {
  padding: 16px;
}

.billing-details-box1 input {
  padding: 16px;
}

.billing-details-box2 input,
.billing-details-box3 input {
  padding: 16px;
}

.billing-details {
  /* css global flex */
  opacity: 100%;
}

.billing-details .billing-details-box1 {
  width: 100%;
  margin-bottom: 2%;
}

.billing-details .billing-details-box2 {
  width: 49%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.billing-details .billing-details-box3 {
  width: 49%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.billing-details .billing-details-box1,
.billing-details .billing-details-box2,
.billing-details .billing-details-box3 {
  background-color: var(--theme2);
  border-radius: 10px;
}

/* paypal */

.paypal-section {
  /* css global flex */
  margin-bottom: 8%;
  padding: 0%;
  width: 100%;
  color: var(--text2);
}

.paypal-section .paypal-section-box {
  width: 70%;
  padding: 0%;
}

.paypal-section .paypal-section-box2 {
  width: 30%;
  margin: 0%;
}

.paypal-section-box p,
.paypal-section-box2 p {
  margin: 0%;
}

.paypal-section-box b {
  color: var(--text1);
}

.paypal-section-box2 {
  text-align: center;
  color: var(--text1);
  font-size: 400%;
  text-align: right;
}

.account-wallet {
  margin-bottom: 4%;
  color: var(--text1);
}

.account-wallet-disable {
  margin-bottom: 4%;
  color: var(--text2);
}

.account-wallet-box {
  /* css global flex */
  background-color: var(--theme2);
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  width: 360px;
  transition: all 0.2s ease-in-out;
  font-size: 95%;
}

.account-wallet:hover {
  color: var(--text1);
}

.account-wallet-box .account-wallet-icon {
  width: 50px;
  margin-right: 10px;
}

.account-wallet-box .account-wallet-info {
  width: calc(100% - 120px);
}

.account-wallet-box .account-wallet-select {
  width: 60px;
}

.account-wallet-icon {
  font-size: 200%;
  color: var(--text1);
}

.account-wallet-icon img {
  width: 80%;
  padding: 10%;
  float: left;
}

.account-wallet-tick {
  color: var(--accent);
  filter: drop-shadow(0px 0px 20px var(--accent));
}

.account-wallet-cross {
  color: var(--red);
}

.account-wallet .account-wallet-cross,
.account-wallet-disable .account-wallet-tick {
  display: none;
}

.account-wallet-icon p,
.account-wallet-info p,
.account-wallet-select p {
  margin: 0%;
}

.account-wallet-icon,
.account-wallet-select {
  text-align: center;
}

.account-wallet-disable b {
  font-weight: 400;
  color: var(--text2);
}

.account-wallet b {
  font-weight: 400;
  color: var(--text2);
}

.account-wallet-select {
  color: var(--accent);
  font-size: 150%;
}

.wallet-choice {
  color: var(--accent);
}

.saved-payments-title p {
  margin-bottom: 0%;
}

.saved-payments {
  /* css global flex */
  margin-top: 1%;
}

.saved-payments .saved-payments-list {
  width: calc(49% - 2px);
  padding: 0%;
  margin-right: 1%;
  margin-bottom: 2%;
  border-radius: 10px;
  text-align: left;
}

.saved-payments-list:nth-child(even) {
  margin-left: 1%;
  margin-right: 0%;
}

.saved-payments-box,
.saved-payments-box-active {
  border-radius: 10px;
  background-color: var(--theme2);
  /* css global flex */
  color: var(--text2);
  cursor: pointer;
  font-size: 95%;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid var(--theme2);
}

.saved-payments-box-active {
  border: 1px solid var(--accent);
}

.saved-payments-box .saved-payments-type,
.saved-payments-box-active .saved-payments-type {
  width: 50px;
  margin-right: 10px;
}

.saved-payments-box .saved-payments-info,
.saved-payments-box-active .saved-payments-info {
  width: calc(100% - 120px);
}

.saved-payments-box .saved-payments-button,
.saved-payments-box-active .saved-payments-button {
  width: 60px;
}

.saved-payments-info {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.saved-payments-type {
  text-align: center;
  font-size: 200%;
}

.saved-payments-type img {
  width: 100%;
  float: left;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.saved-payments-type p,
.saved-payments-info p,
.saved-payments-button p {
  margin: 0%;
}

.saved-payments-type .fa-cc-visa {
  color: #fcb70a;
}

.saved-payments-type .fa-cc-mastercard {
  color: #eb001b;
}

.saved-payments-info b {
  color: var(--text1);
  font-size: 110%;
}

.saved-payments-button {
  text-align: center;
}

.saved-payments-button .fas {
  font-size: 150%;
  color: var(--accent);
  filter: drop-shadow(0px 0px 10px var(--accent));
}

.checkout-payment-submit-disable,
.checkout-payment-submit-load,
.checkout-payment-submit {
  margin-left: auto;
  width: 180px;
  margin-top: 2%;
  transition: all 0.2s ease-in-out;
}

.checkout-payment-submit-load .main-button,
.checkout-payment-submit .loader-button,
.checkout-payment-submit-disable .loader-button {
  display: none;
}

.checkout-payment-submit-disable button,
.checkout-payment-submit button,
.checkout-payment-submit-load button {
  width: 100%;
  text-align: center;
  background-color: var(--accent);
  color: var(--theme1);
  border-radius: 10px;
  padding: 8%;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0%;
  font-size: 95%;
}

.checkout-payment-submit button {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px var(--accent-hover));
}

.checkout-payment-submit-disable {
  opacity: 60%;
  pointer-events: none;
}

.checkout-payment-submit button:hover {
  background-color: var(--accent-hover);
}

.loader-circle {
  border: 2px solid var(--theme1);
  border-radius: 50%;
  border-top: 2px solid var(--text1);
  width: 16px;
  height: 16px;
  margin: 2px auto;
  -webkit-animation: loaderSpin 1s linear infinite;
  animation: loaderSpin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes loaderSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkout-completed-title {
  width: 100%;
}

.checkout-completed-title h1 {
  font-size: 180%;
  font-weight: 400;
}

.checkout-completed-title .fas {
  margin-left: 1%;
}

.checkout-completed-title hr {
  border: none;
  border-bottom: 1px solid var(--text2);
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1200px) {
  .checkout-full {
    width: 92%;
    padding: 2% 4%;
  }
}

@media screen and (max-width: 1000px) {
  .checkout .checkout-payment {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2%;
  }

  .saved-payments .saved-payments-list {
    width: calc(32% - 2px);
    margin-right: 2%;
    margin-left: 0%;
    margin-bottom: 2%;
  }

  .saved-payments-list:nth-child(3n) {
    margin-right: 0%;
  }
}

@media screen and (max-width: 800px) {
  .saved-payments .saved-payments-list {
    width: calc(49% - 2px);
    margin-right: 1%;
    margin-bottom: 2%;
  }

  .saved-payments-list:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 525px) {
  .saved-payments .saved-payments-list {
    width: calc(100% - 2px);
    margin-right: 0%;
    margin-bottom: 2%;
  }

  .saved-payments-list:nth-child(2n) {
    margin-left: 0%;
    margin-right: 0%;
  }

  .checkout-progress {
    width: 90%;
    padding: 5%;
  }

  .checkout-progress .checkout-progress-step {
    width: 20%;
  }

  .checkout-progress .checkout-progress-line {
    width: 14%;
    margin: 0% 3%;
  }

  .payment-options {
    padding: 2%;
  }

  .payment-options-mobile {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .checkout-progress .checkout-progress-step {
    width: 25%;
  }

  .checkout-progress .checkout-progress-line {
    width: 8.5%;
    margin: 0% 2%;
  }

  .checkout-payment-submit-disable,
  .checkout-payment-submit-load,
  .checkout-payment-submit {
    margin-left: auto;
    width: 100%;
    margin-top: 2%;
  }

  .checkout-payment-submit-disable button,
  .checkout-payment-submit button,
  .checkout-payment-submit-load button {
    padding: 4%;
  }

  .account-wallet-box {
    width: 100%;
  }

  .account-wallet,
  .account-wallet-disable {
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 380px) {
  .checkout-progress {
    width: 88%;
    padding: 6%;
  }

  .checkout-progress .checkout-progress-step {
    width: calc(100% / 3);
  }

  .checkout-progress .checkout-progress-line {
    width: 8.5%;
    margin: 0% 2%;
    display: none;
  }

  .checkout .checkout-review {
    width: 100%;
  }

  .checkout-review-order .checkout-review-order-icon {
    width: 20%;
    display: none;
  }

  .checkout-review-order .checkout-review-order-info {
    width: 80%;
  }

  .checkout-review-order .checkout-review-order-price {
    width: 20%;
  }

  .checkout-next,
  .checkout-cancel {
    padding: 3%;
    width: 94%;
  }

  .payment-options {
    padding: 5%;
    width: 90%;
    border-radius: 20px;
  }

  .payment-options button {
    width: 100%;
    padding: 3% 0%;
    margin: 0%;
    margin-bottom: 2%;
    border-radius: 10px;
    text-align: center;
  }

  .payment-options button:nth-last-of-type(1){
    margin-bottom: 0%;
  }

  .payment-options-mobile {
    display: inline-block;
  }

  .payment-options div:nth-child(4n) {
    margin-bottom: 0%;
  }

  .saved-payments-details .saved-payments-details-number,
  .saved-payments-details .saved-payments-details-expiry,
  .saved-payments-details .saved-payments-details-cvv,
  .saved-payments-details .saved-payments-details-name {
    width: 100%;
    margin: 0% 0% 2%;
  }

  .billing-details .billing-details-box1,
  .billing-details .billing-details-box2,
  .billing-details .billing-details-box3 {
    width: 100%;
    margin: 0% 0% 2%;
  }

  .saved-payments .saved-payments-list {
    margin-bottom: 4%;
  }

  .payment-section-types {
    background-color: transparent;
    padding: 0px;
    width: 60%;
    margin: 20px auto;
  }

}
