

.console-session-info {
  color: var(--text2);
  font-size: 95%;
  margin-bottom: 2%;
}

.console-session-info .fas{
  margin-right: 5px;
}

.console-session-info p{
  margin: 0%;
}

.console-embed {
  background-color: var(--theme2);
  color: var(--accent);
  height: 600px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1000px) {


}
































/* in future for several session tabs implementation */

/* also cause i worked a lot to code this but realised not needed so kinda waste want to save it  */

.edittabs {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.edittabs .edittabs-box {
  width: 310px;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.edittabs-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.edittabs-box h1{
  font-size: 200%;
  font-weight: 400;
}






















.console-split {
  /* css global flex */
  width: 100%;
}

.console-split .console-box {
  width: calc(100% - 360px);
  margin-right: 20px;
}

.console-split .console-tabs {
  width: 300px;
  padding: 20px;
}

.console-box {
  background-color: var(--theme2);
  border-radius: 20px;
}

.console-tabs {
  color: var(--text2);
  font-size: 90%;
  border-radius: 20px;
  background-color: var(--theme2);
}

.console-tabs h1{
  font-size: 150%;
  font-weight: 400;
  color: var(--text1);
  margin: 0%;
}

.console-tabs p{
  margin: 0%;
}


.console-tabs-list {
  /* css global flex */
  width: 100%;
  margin-top: 4%;
}

.console-tabs-list button {
  width: 100%;
  padding: 0%;
}

.console-tabs-box {
  background-color: var(--theme2);
}

.console-tabs-box-active {
  background-color:var(--theme3);
}

.console-tabs-box,
.console-tabs-box-active {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  color: var(--text2);
}

.console-tabs-box-inside {
  /* css global flex */
  width: calc(100% - 20px);
  padding: 10px;
}

.console-tabs-box-inside .console-tabs-arrange {
  width: 20px;
  margin-right: 10px;
}

.console-tabs-box-inside .console-tabs-info {
  width: calc(100% - 110px);
}

.console-tabs-box-inside .console-tabs-buttons {
  width: 80px;
}

.console-tabs-info {
  text-align: left;
  font-size: 100%;
  color: var(--text1);
}

.console-tabs-buttons {
  /* css global flex */
  opacity: 100%;
  font-size: 90%;
}

.console-tabs-buttons button {
  background-color: var(--theme2);
  border-radius: 5px;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.console-tabs-buttons button:hover {
  background-color:var(--theme1);
}

.console-tabs-buttons-edit {
  margin-left: auto;
  color: var(--accent);
}

.console-tabs-buttons-delete {
  margin-left: 5px;
  color: var(--red);
}






.console-info {
  height: 62vh;
  width: 96%;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2%;
  color: var(--text2);
  border-top: 1px solid var(--theme2);
  border-bottom: 1px solid var(--theme2);
  background-color: var(--theme3);
  overflow: auto;
  font-size: 95%;
}

.console-info::-webkit-scrollbar {
  width: 5px;
}

.console-info::-webkit-scrollbar-thumb {
  background: var(--text2);
  border-radius: 5px;
}

.console-info::-webkit-scrollbar-track {
  background: var(--theme3);
  border-radius: 5px;
}

.console-info .console-output {
  width: 100%;
}

.console-line {
  margin-top: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  text-align: left;
}

.console-line:hover {
  color: var(--text1);
}

.console-line p {
  margin: 0%;
}

.console-line-white {
  color: var(--text1);
}

.console-type {
  border-radius: 10px;
  width: 96%;
  padding: 2%;
}

.console-type .console-text {
  background-color: var(--theme2);
  width: 100%;
  border-radius: 10px;
}

.console-text:focus-within {
  outline: 1px solid var(--text2);
}

.console-text input:focus {
  outline: none;
}

.console-type input[type="text"] {
  color: var(--text1);
  padding: 2%;
  width: 100%;
}

.console-submit {
  text-align: center;
}

.console-submit button {
  padding: 8% 0%;
  margin: 2% 0%;
  text-align: center;
  background-color: var(--accent);
  font-family: "Poppins";
  font-weight: 400;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 0%;
}

.console-submit .fas {
  margin-left: 4%;
}

.console-submit p {
  margin: 0%;
}

.console-submit button:hover {
  background-color: var(--accent-hover);
}
