/*modals*/

.integrationinfo {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.integrationinfo .integrationinfo-box {
  max-width: 310px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.integrationinfo-box::-webkit-scrollbar{
  display: none;
}

.integrationinfo-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  padding: 1%;
  border-radius: 20px;
  cursor: default;
}

#integrationinfo-google,
#integrationinfo-github,
#integrationinfo-apple {
  display: none;
}

.integrationinfo-box h1 {
  font-size: 180%;
  font-weight: 400;
  margin-top: 0%;
}

.integrationinfo-box b {
  font-size: 110%;
  font-weight: 400;
}

.integrationinfo-features .fas {
  margin-right: 2%;
  color: var(--accent);
}

.integrationinfo-features b {
  font-size: 100%;
  color: var(--text1);
}

.integrationinfo-features {
  color: var(--text2);
}

.integrationinfo-buttons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 100%;
}

.integrationinfo-buttons .integrationinfo-buttons-box1 {
  width: 49%;
  margin: 1% 1% 0% 0%;
  padding: 12px 0%;
}

.integrationinfo-buttons .integrationinfo-buttons-box2 {
  width: 49%;
  margin: 1% 0% 0% 1%;
  padding: 12px 0%;
}

.integrationinfo-buttons-box1,
.integrationinfo-buttons-box2 {
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.integrationinfo-buttons-box1 p,
.integrationinfo-buttons-box2 p {
  margin: 0%;
}

.integrationinfo-buttons-box1 {
  background-color: var(--theme2);
  color: var(--text1);
}

.integrationinfo-buttons-box1:hover {
  background-color: var(--theme1);
}

.integrationinfo-buttons-box2 {
  background-color: var(--accent);
}

.integrationinfo-buttons-box2:hover {
  background-color: var(--accent-hover);
}

.integrationinfo-buttons-box-inside {
  color: var(--accent-text);
  font-weight: 400;
}

.integrationinfo-buttons-box-inside .fas {
  margin-right: 2%;
}
















.integration-list {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.integration-list .integration-list-box,
.integration-list .integration-list-box-connected {
  width: calc(23.5% - 40px);
  padding: 20px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.integration-list-box:nth-child(4n) {
  margin-right: 0%;
}

.integration-list-box {
  background-color: var(--theme2);
  border-radius: 20px;
  color: var(--text2);
  font-size: 95%;
}

.integration-list-box-connected {
  background-color: var(--theme3);
  border-radius: 20px;
  color: var(--text1);
  font-size: 95%;
}

.integration-list-box,
.integration-list-box-connected {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.integration-list-box .integration-list-box-inside,
.integration-list-box-connected .integration-list-box-inside {
  width: 100%;
}

.integration-list-box .integration-list-box-tools,
.integration-list-box-connected .integration-list-box-tools {
  width: 100%;
  margin-top: 5%;
  align-self: flex-end;
}

.integration-list-image {
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
}

.integration-list-image img {
  width: calc(100% - 4px);
  border-radius: 10px;
  border: 2px solid var(--theme2);
  padding: 0%;
  margin: 0%;
}

.integration-list-status p {
  margin: 0%;
}

.integration-list-box-connected .integration-list-status {
  margin: 4% 0%;
}

.integration-list-box .integration-list-status {
  margin: 4% 0% 40px;
}

.integration-list-status b {
  color: var(--text1);
  font-weight: 500;
  font-size: 120%;
}

.integration-list-status-remove {
  color: var(--text2);
  font-weight: 400;
  background-color: #a9a9a926;
  padding: 4px 12px;
  font-size: 90%;
  border-radius: 20px;
  margin-top: 5px;
  width: max-content;
  display: block;
}

.integration-list-status-remove .far {
  margin-right: 5px;
  display: none;
}

.integration-list-status-connect {
  color: var(--accent);
  font-weight: 400;
  background-color: rgba(0, 199, 154, 0.171);
  padding: 4px 12px;
  font-size: 90%;
  border-radius: 20px;
  margin-top: 5px;
  width: max-content;
  display: block;
}

.integration-list-status .far {
  margin-right: 5px;
}

.integration-list-connected-info {
  color: var(--text1);
  font-weight: 400;
  font-size: 95%;
  padding: 2% 0%;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.integration-list-connected-info p {
  margin: 0%;
}

.integration-list-connected-info b {
  font-weight: 400;
  font-size: 100%;
  color: var(--text2);
}

.integration-list-box-buttons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.integration-list-box-connected
  .integration-list-box-buttons
  .integration-list-box-buttons-box {
  width: 63%;
  margin-right: 2%;
}

.integration-list-box
  .integration-list-box-buttons
  .integration-list-box-buttons-box {
  width: 33%;
  margin-right: 2%;
}

.integration-list-box-connected
  .integration-list-box-buttons-box:nth-child(even) {
  margin-right: 0%;
  width: 33%;
  margin-left: 2%;
}

.integration-list-box .integration-list-box-buttons-box:nth-child(even) {
  margin-right: 0%;
  width: 63%;
  margin-left: 2%;
}

.integration-list-box-buttons-box input,
.integration-list-box-buttons-box button {
  outline: none;
  padding: 12px 0%;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.integration-list-box-buttons-connect {
  color: var(--accent-text);
  background-color: var(--accent);
}

.integration-list-box-buttons-connect:hover {
  background-color: var(--accent-hover);
}

.integration-list-box-connected .integration-list-box-moreinfo {
  background-color: var(--text1);
  color: var(--theme1);
}

.integration-list-box-connected .integration-list-box-moreinfo:hover {
  background-color: var(--text2);
}

.integration-list-box .integration-list-box-moreinfo {
  background-color: var(--theme1);
  color: var(--text1);
}

.integration-list-box .integration-list-box-moreinfo:hover {
  background-color: var(--theme3);
}

.integration-list-box-buttons-remove {
  color: var(--red-text);
  background-color: var(--red);
}

.integration-list-box-buttons-remove:hover {
  background-color: var(--red-hover);
}

.integration-side {
  background-color: var(--theme1);
  border-radius: 0px;
}

.integration-side-title b {
  font-size: 120%;
  color: var(--text1);
  font-weight: 400;
}

.integration-summary {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.integration-summary .integration-summary-box {
  width: 92%;
  padding: 1% 4%;
  margin-bottom: 4%;
}

.integration-summary-box {
  background-color: var(--theme3);
}

.integration-summary-box {
  border-radius: 10px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: var(--text2);
}

.integration-summary-box .integration-summary-box-photo {
  width: 10%;
}

.integration-summary-box .integration-summary-box-text {
  width: 76%;
  margin-left: 4%;
}

.integration-summary-box .integration-summary-box-status {
  width: 10%;
}

.integration-summary-box-photo img {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  float: left;
}

.integration-summary-box-text b {
  font-size: 110%;
  font-weight: 400;
  color: var(--text1);
}

.integration-summary-box-status {
  text-align: center;
  font-size: 150%;
}

.integration-summary-box-status p {
  margin: 0%;
}

.integration-summary-box-status .fa-check-circle {
  color: var(--accent);
}

.integration-summary-box-status .fa-times-circle {
  color: var(--red);
}

@media screen and (min-width: 1600px) {
  .splashboard-full {
    font-size: 180%;
  }
}

@media screen and (max-width: 1200px) {
  .integration-list .integration-list-box,
  .integration-list .integration-list-box-connected {
    width: calc(32% - 40px);
    margin-bottom: 2%;
    margin-right: 2%;
  }

  .integration-list-box:nth-child(3n),
  .integration-list-box-connected:nth-child(3n) {
    margin-right: 0%;
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {


  .integration-list-box-buttons .integration-list-box-buttons-box {
    width: 100%;
    margin-bottom: 2%;
  }

  .integration-list-box-buttons-box:nth-child(even) {
    margin-right: 0%;
  }

  .integration-list .integration-list-box,
  .integration-list .integration-list-box-connected{
    width: calc(49% - 40px);
    margin-bottom: 2%;
    margin-right: 1%;
  }

  .integration-list-box:nth-child(2n),
  .integration-list-box-connected:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0%;
  }


}

@media screen and (max-width: 600px) {

  .integration-list .integration-list-box,
  .integration-list .integration-list-box-connected{
    width: calc(49% - 40px);
  }

  .integration-list-box-buttons .integration-list-box-buttons-box {
    width: 49%;
    margin-right: 1%;
  }

  .integration-list-box-buttons-box:nth-child(even) {
    margin-right: 0%;
    margin-left: 1%;
  }

}

@media screen and (max-width: 450px) {

  .integration-list .integration-list-box,
  .integration-list .integration-list-box-connected {
    width: calc(100% - 40px);
    margin: 0% 0% 4%;
  }

  .integration-list-box:nth-child(2n),
  .integration-list-box-connected:nth-child(2n) {
    margin-left: 0%;
    margin-right: 0%;
  }

  .integrationinfo-buttons .integrationinfo-buttons-box1,
  .integrationinfo-buttons .integrationinfo-buttons-box2 {
    width: 100%;
    margin: 0%;
    padding: 12px 0%;
  }

  .integration-list-image {
    width: calc(100% - 4px);
  }

  .integrationinfo-buttons .integrationinfo-buttons-box1{
    margin-bottom: 4%;
  }

  .integration-list-box .integration-list-status {
    margin-bottom: 10%;
  }

}

@media screen and (max-width: 380px) {
  .splashboard-title .splashboard-title-box1 {
    width: 100%;
  }

  .splashboard-title-menu .fas {
    padding: 10% 14%;
  }

  .integration-list-box-buttons .integration-list-box-buttons-box {
    width: 100%;
  }

  .integration-list-box-buttons-box:nth-child(even) {
    margin-right: 0%;
    margin-left: 0%;
  }

  .integration-list .integration-list-box,
  .integration-list .integration-list-box-connected {
    margin: 0% 0% 3%;
  }

}
