/*modals*/

.searchfiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.searchfiles .searchfiles-box {
  max-width: 540px;
  padding: 30px;
  width: calc(90% - 60px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.searchfiles-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.searchfiles-box h1 {
  font-size: 180%;
  font-weight: 400;
  margin-top: 0%;
}


.file-search {
  /* css global flex */
  background-color: var(--theme2);
  border-radius: 10px;
  margin-bottom: 2%;
}

.file-search:focus-within{
  outline: 1px solid var(--text2);
}

.file-search .file-search-icon {
  width: 50px;
}

.file-search .file-search-input {
  width: calc(100% - 50px);
}

.file-search-icon {
  text-align: center;
}

.file-search-input input[type="text"]{
  color: var(--text1);
  padding: 15px;
  padding-left: 0%;
  font-size: 100%;
  width: calc(100% - 15px);
  outline: 0px;
}


.searchfiles-range {
  /* css global flex */
  width: 100%;
}

.searchfiles-range button {
  font-size: 90%;
  border-radius: 40px;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid var(--accent);
  transition: all 0.2s ease-in-out;
}

.searchfiles-range-button {
  color: var(--accent);
}

.searchfiles-range-button:hover{
  background-color: var(--theme2);
}

.searchfiles-range-button-active {
  background-color: var(--accent);
  color: var(--accent-text);
}

.searchfiles-range p{
  margin: 0%;
}

.searchfiles-results-title p{
  margin: 0%;
}

.searchfiles-results-title {
  margin-bottom: 1%;
  margin-top: 2%;
}

.searchfiles-results {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: var(--theme1);
  border-radius: 10px;
  /* css global flex */
}

.searchfiles-results .searchfiles-results-load {
  width: 100%;
  padding: 10px 0%;
}

.searchfiles-results-load .loader-circle {
  border-top: 2px solid var(--accent);
}

.searchfiles-results p{
  margin: 0%;
}

.searchfiles-results button{
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  margin-top: 2%;
  padding: 0%;
}

.searchfiles-results button:first-child{
  margin-top: 0%;
}

.searchfiles-results button:hover{
  background-color: var(--theme2);
}

.searchfiles-results-box {
  /* css global flex */
  width: calc(100% - 20px);
  padding: 10px;
}

.searchfiles-results-box .searchfiles-results-icon {
  width: 40px;
}

.searchfiles-results-box .searchfiles-results-info {
  width: calc(100% - 80px);
}

.searchfiles-results-box .searchfiles-results-view {
  width: 40px;
}

.searchfiles-results-info p{
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  overflow: hidden;
}


.searchfiles-buttons {
  /* css global flex */
  width: 100%;
  margin-top: 2%;
}

.searchfiles-cancel {
  width: 150px;
}

.searchfiles-submit {
  width: 49%;
  margin-left: 1%;
}


.searchfiles-cancel {
  border-radius: 10px;
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.searchfiles-submit {
  border-radius: 10px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
}


.searchfiles-submit button {
  font-weight: 400;
  padding: 12px 0%;
  width: 100%;
  color: var(--accent-text);
  cursor: pointer;
  border-radius: 10px;
}

.searchfiles-cancel button {
  width: 100%;
  padding: 12px 0%;
  color: var(--text1);
  cursor: pointer;
  border-radius: 10px;
}

.searchfiles-cancel:hover {
  background-color: var(--theme1);
}

.searchfiles-submit:hover {
  background-color: var(--accent-hover);
}





.uploadfiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.uploadfiles .uploadfiles-box {
  max-width: 540px;
  padding: 30px;
  width: calc(90% - 60px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.uploadfiles-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.uploadfiles-box h1 {
  font-size: 180%;
  font-weight: 400;
  margin: 0%;
  margin-bottom: 2%;
}

.uploadfiles-upload-empty,
.uploadfiles-upload-list {
  width: 100%;
  /* css global flex */
  border-radius: 10px;
  height: 300px;
  overflow: auto;
}
.uploadfiles-drop-empty,
.uploadfiles-drop-hover {
  width: calc(100% - 6px);
  /* css global flex */
  border-radius: 10px;
  height: 294px;
}

.uploadfiles-drop-empty {
  background-color: var(--theme2);
  border: 3px solid var(--theme2);
}

.uploadfiles-drop-hover {
  background-color: var(--accent-opaque);
  border: 3px dashed var(--accent);
}

.uploadfiles-upload-list {
  background-color: var(--theme1);
  border: 3px solid var(--theme1);
}

.uploadfiles-list,
.uploadfiles-drop {
  display: none;
}

.uploadfiles-upload-list .uploadfiles-list,
.uploadfiles-upload-empty .uploadfiles-drop {
  display: block;
}

.uploadfiles-drop-hover {
  color: var(--accent);
}

.uploadfiles-upload-empty .uploadfiles-drop {
  width: 100%;
  height: 300px;
}

.uploadfiles-upload-list .uploadfiles-list {
  width: calc(100% - 20px);
  padding: 10px;
  align-self: flex-start;
}

.uploadfiles-drop {
  opacity: 100%;
  /* css global flex */
}

.uploadfiles-drop .uploadfiles-info {
  width: 200px;
  margin: auto;
}

.uploadfiles-info {
  text-align: center;
  color: var(--text2);
  font-weight: 400;
}

.uploadfiles-info input[type="file"]::file-selector-button{
  width: 120px;
  padding: 12px 0px;
  margin: 10px auto 0%;
  border-radius: 10px;
  background-color: var(--text1);
  color: var(--theme1);
  transition: all 0.2s ease-in-out;
  border: none;
  font-family: "Poppins";
  font-size: 100%;
  display: block;
  cursor: pointer;
  outline: none;
  display: none;
}

.uploadfiles-info input[type="file"]::file-selector-button:hover {
  background-color: var(--text2);
  opacity: 100%;
}


.uploadfiles-info input[type="file"]{
  margin: auto;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0%;
  pointer-events: none;
}

.uploadfiles-label {
  display: block;
  width: 140px;
  padding: 10px 0px;
  margin: 10px auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--text1);
  color: var(--theme1);
  transition: all 0.2s ease-in-out;
}

.uploadfiles-label:hover {
  background-color: var(--text2);
  opacity: 100%;
}

.uploadfiles-list {
  /* css global flex */
  opacity: 100%;
}

.uploadfiles-list .uploadfiles-list-box {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 2%;
}

.uploadfiles-list-box:nth-child(2n){
  margin-right: 0%;
}

.uploadfiles-list-box {
  border-radius: 5px;
  /* css global flex */
  transition: all 0.2s ease-in-out;
  background-color: var(--theme2);
}

.uploadfiles-list-box:hover {
  background-color: var(--theme2);
}

.uploadfiles-list-box .uploadfiles-list-box-icon {
  width: 40px;
}

.uploadfiles-list-box .uploadfiles-list-box-title {
  width: calc(100% - 40px);
}

.uploadfiles-list-box .uploadfiles-list-box-delete {
  width: 40px;
  /* sry delete feature will be another time */
}

.uploadfiles-list-box-icon {
  text-align: center;
  color: var(--accent);
}

.uploadfiles-list-box-delete button{
  text-align: center;
  color: var(--dtt1);
  background-color: var(--red);
  height: 30px;
  width: 30px;
  margin-left: auto;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  /* css global flex */
}

.uploadfiles-list-box-delete button:hover{
  background-color: var(--red-hover);
}

.uploadfiles-list-box-title p{
  overflow: hidden;
  word-wrap: nowrap;
  text-overflow: ellipsis;
  margin: 0%;
}

.uploadfiles-list-box-icon .fas{
  margin-right: 5px;
  font-size: 100%;
}

.uploadfiles-info p{
  margin: 0%;
}

.uploadfiles-info .fas{
  font-size: 200%;
  margin-bottom: 10px;
}

.uploadfiles-info-button{
  width: 120px;
  padding: 10px 0px;
  margin: 10px auto 0%;
  border-radius: 10px;
  background-color: var(--text1);
  color: var(--theme1);
  transition: all 0.2s ease-in-out;
}

.uploadfiles-info-button:hover {
  background-color: var(--text2);
}

.uploadfiles-buttons {
  /* css global flex */
  width: 100%;
  margin-top: 2%;
}

.uploadfiles-cancel {
  width: 150px;
}

.uploadfiles-submit {
  width: 150px;
  margin-left: auto;
}


.uploadfiles-cancel {
  border-radius: 10px;
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.uploadfiles-submit {
  border-radius: 10px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
}


.uploadfiles-submit button {
  font-weight: 400;
  padding: 12px 0%;
  width: 100%;
  color: var(--accent-text);
  cursor: pointer;
  border-radius: 10px;
}

.uploadfiles-cancel button {
  width: 100%;
  padding: 12px 0%;
  color: var(--text1);
  cursor: pointer;
  border-radius: 10px;
}

.uploadfiles-cancel:hover {
  background-color: var(--theme1);
}

.uploadfiles-submit:hover {
  background-color: var(--accent-hover);
}
















.filetools {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.filetools .filetools-box {
  max-width: 360px;
  padding: 20px;
  width: calc(90% - 20px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 20px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.filetools-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.filetools-box h1 {
  font-size: 120%;
  font-weight: 400;
  margin: 0%;
}

.filetools-box-title {
  /* css global flex */
  width: 100%;
}

.filetools-box-title .filetools-box-title-text {
  width: calc(100% - 50px);
}

.filetools-box-title .filetools-box-title-icon {
  width: 40px;
  margin-left: 10px;
}

.filetools-box-title-icon button{
  font-size: 100%;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: var(--red);
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.filetools-box-title-icon button:hover{
  background-color: var(--red);
  color: var(--red-text);
}

.filetools-tools {
  /* css global flex */
  width: 100%;
  font-size: 95%;
}

.filetools-tools .filetools-tools-box {
  width: 49%;
  margin-right: 2%;
  margin-top: 2%;
}

.filetools-tools-box:nth-child(2n){
  margin-right: 0%;
}

.filetools-tools-box {
  border-radius: 10px;
  background-color: var(--theme1);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  /* css global flex */
}

.filetools-tools-box p{
  text-overflow: ellipsis;
}

.filetools-tools-box:hover {
  background-color: var(--accent);
  color: var(--accent-text);
}

.filetools-tools-button {
  width: 100%;
  border-radius: 10px;
  padding: 12px 0px;
  color: inherit;
}

.filetools-tools-button .filetools-tools-icon{
  width: 45px;
}

.filetools-tools-button .filetools-tools-info {
  width: calc(100% - 45px);
}

.filetools-tools-info {
  text-align: left;
}


.filetools-info {
  padding: 5px 15px;
  width: max-content;
  margin: 4% auto;
  background-color: var(--accent-opaque);
  color: var(--text1);
  border-radius: 40px;
  font-size: 95%;
  font-weight: 400;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}



.filetools-box p{
  margin: 0%;
}

.filetools-details {
  background-color: var(--theme2);
  border-radius: 10px;
  padding: 15px;
  color: var(--text2);
  font-size: 95%;
  max-height: 400px;
  overflow: auto;
  /* css global flex */
}

.filetools-details h1{
  color: var(--text1);
  font-size: 110%;
  margin: 0%;
}

.filetools-details b {
  font-weight: 300;
  font-size: 110%;
  color: var(--text1);
}

.filetools-details .filetools-details-title,
.filetools-details .filetools-details-list {
  width: 100%;
}

.filetools-details .filetools-details-box {
  width: 49%;
  margin-top: 2%;
  margin-right: 2%;
}

.filetools-details-box:nth-child(odd){
  margin-right: 0%;
}

.filetools-details-title h1,
.filetools-details-list p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filetools-details-title input {
  width: calc(100% - 20px);
  border-radius: 10px;
  font-size: 100%;
  padding: 10px;
}

.filetools-details-box,
.filetools-details-list {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid var(--theme3);
  font-size: 90%;
}

.filetools-details-list {
  font-size: 100%;
}

.filetools-details-list:nth-child(1){
  border: none;
  margin-top: 0%;
  padding-top: 0%;
}












.filemove {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.filemove .filemove-box {
  max-width: 460px;
  padding: 20px;
  width: calc(90% - 20px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 20px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.filemove-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.filemove-box h1 {
  font-size: 120%;
  font-weight: 400;
  margin: 0%;
}

.filemove-box-title {
  /* css global flex */
  width: 100%;
}

.filemove-box-title .filemove-box-title-text {
  width: calc(100% - 50px);
}

.filemove-box-title .filemove-box-title-icon {
  width: 40px;
  margin-left: 10px;
}

.filemove-box-title-icon button{
  font-size: 100%;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: var(--red);
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.filemove-box-title-icon button:hover{
  background-color: var(--red);
  color: var(--red-text);
}


.filemove-files {
  padding: 15px;
  width: calc(100% - 30px);
  border-radius: 10px;
  background-color: var(--theme2);
  margin: 2% 0%;
}


.filemove-tools {
  /* css global flex */
  width: 100%;
  margin-bottom: 2%;
}

.filemove-tools button {
  font-size: 100%;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  color: var(--accent);
  background-color: var(--theme1);
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}

.filemove-tools button:hover {
  background-color: var(--theme3);
}


.filemove-path {
  color: var(--text2);
}

.filemove-path p{
  margin: 0%;
  max-width: 5ch;
  overflow: hidden;
  text-overflow: ellipsis
}

.filemove-path .fas{
  margin: 0px 5px;
  font-size: 80%;
  line-height: 0%;
}

.filemove-list {
  width: 100%;
  margin-top: 2%;
  /* css global flex */
}

.filemove-list p{
  margin: 0%;
}

.filemove-list .filemove-list-button {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.filemove-list-button:nth-child(even){
  margin-right: 0%;
}

.filemove-list-button {
  background-color: var(--theme1);
  border-radius: 10px;
}


.filemove-list-box {
  /* css global flex */
  width: 100%;
  padding: 10px 0px;
  color: var(--text2);
}

.filemove-list-box .filemove-list-icon {
  width: 40px;
}

.filemove-list-box .filemove-list-title {
  width: calc(100% - 40px);
}

.filemove-list-title {
  text-align: left;
}

.filemove-list-title p{
  text-overflow: ellipsis;
}






.filemove-buttons {
  width: 100%;
}

.filemove-button-submit button{
  border-radius: 10px;
  width: 150px;
  margin-left: auto;
  padding: 12px 0px;
  background-color: var(--accent);
  color: var(--accent-text);
  transition: all 0.2s ease-in-out;
}

.filemove-button-submit button:hover {
  background-color: var(--accent-hover);
}










.filedelete {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.filedelete .filedelete-box {
  max-width: 240px;
  padding: 20px;
  width: calc(90% - 20px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 20px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.filedelete-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.filedelete-box h1 {
  font-size: 120%;
  font-weight: 400;
  margin: 0%;
}

.filedelete-box-title {
  /* css global flex */
  width: 100%;
}

.filedelete-box-title .filedelete-box-title-text {
  width: calc(100% - 50px);
}

.filedelete-box-title .filedelete-box-title-icon {
  width: 40px;
  margin-left: 10px;
}

.filedelete-box-title-icon button{
  font-size: 100%;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: var(--red);
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.filedelete-box-title-icon button:hover{
  background-color: var(--red);
  color: var(--red-text);
}

.filedelete-box-info {
  color: var(--text2);
  margin: 2% 0%;
}

.filedelete-box-info b{
  color: var(--text1);
  font-weight: 400;
}

.filedelete-box p{
  margin: 0%;
}

.filedelete-list {
  margin-top: 4%;
  background-color: var(--theme2);
  border-radius: 10px;
  padding: 15px;
  color: var(--text2);
  font-size: 95%;
  /* css global flex */
  max-height: 200px;
  overflow: auto;
  pointer-events: none;
}

.filedelete-list h1{
  color: var(--text1);
  font-size: 110%;
}

.filedelete-list b {
  font-weight: 300;
  font-size: 110%;
  color: var(--text1);
}

.filedelete-list .filedelete-list-box {
  width: 100%;
  margin-top: 5px;
  padding-top: 5px;
}

.filedelete-list-box {
  border-top: 1px solid var(--theme3);
  font-size: 90%;
  color: var(--red);
}

.filedelete-list-box p{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.filedelete-list-box:nth-child(1){
  margin-top: 0%;
  padding-top: 0%;
  border-top: none;
}


.filedelete-list {
  font-size: 100%;
}



.filedelete-buttons {
  width: 100%;
  margin-top: 4%;
  /* css global flex */
}

.filedelete-buttons .filedelete-delete {
  width: 100%;
}

.filedelete-delete button{
  padding: 12px 0px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  color: var(--red-text);
  background-color: var(--red);
}

.filedelete-delete button:hover {
  background-color: var(--red-hover);
}













.filerename {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.filerename .filerename-box {
  max-width: 260px;
  padding: 20px;
  width: calc(90% - 20px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 20px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.filerename-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.filerename-box h1{
  font-size: 120%;
  margin: 0%;
  font-weight: 400;
}

.filerename-box-title {
  /* css global flex */
  width: 100%;
}

.filerename-box-title .filerename-box-title-text {
  width: calc(100% - 50px);
}

.filerename-box-title .filerename-box-title-icon {
  width: 40px;
  margin-left: 10px;
}

.filerename-box-title-icon button{
  font-size: 100%;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: var(--red);
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.filerename-box-title-icon button:hover{
  background-color: var(--red);
  color: var(--red-text);
}

.filerename-input {
  /* css global flex */
  background-color: var(--theme2);
  border-radius: 10px;
  margin-top: 2%;
}

.filerename-input:focus-visible{
  outline: 1px solid var(--text2);
}

.filerename-input .filerename-input-type {
  width: calc(100% - 50px);
}

.filerename-input .filerename-input-icon {
  width: 50px;
  display: none;
}

.filerename-input input[type="text"]{
  padding: 15px;
  color: var(--text1);
  font-size: 100%;
  outline: none;
}

.filerename-status-empty .filerename-input,
.filerename-status-same .filerename-input{
  border: 1px solid var(--red);
}

.filerename-status-grey .filerename-input,
.filerename-status-warning .filerename-input{
  border: 1px solid var(--theme3);
}

.filerename-status .filerename-input {
  border: 1px solid var(--accent);
}

.filerename-input span{
  display: none;
  padding-left: 12px;
  padding-bottom: 12px;
}

.filerename-input .fas{
  margin-right: 8px;
}

.filerename-status-warning .filerename-text-warning,
.filerename-status-empty .filerename-text-empty,
.filerename-status .filerename-input-icon,
.filerename-status-warning .filerename-input-icon,
.filerename-status-same .filerename-text-same {
  display: block;
}

.filerename-text-warning {
  color: var(--text2);
}

.filerename-text-empty,
.filerename-text-same {
  color: var(--red);
}

.filerename-input-icon {
  color: var(--accent);
  text-align: center;
}

.filerename-buttons {
  /* css global flex */
  width: 100%;
}
.filerename-buttons .filerename-submit {
  width: 100%;
  margin-top: 2%;
}

.filerename-cancel button{
  border-radius: 10px;
  background-color: var(--theme1);
  padding: 12px 0px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.filerename-cancel button:hover {
  background-color: var(--theme2);
}

.filerename-status button,
.filerename-status-warning button{
  border-radius: 10px;
  width: 100%;
  color: var(--accent-text);
  padding: 12px 0px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
}

.filerename-status button:hover,
.filerename-status-warning button:hover {
  background-color: var(--accent-hover);
}

.filerename-status-empty button,
.filerename-status-grey button,
.filerename-status-same button{
  border-radius: 10px;
  width: 100%;
  color: var(--accent-text);
  padding: 12px 0px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
  cursor: default;
  opacity: 60%;
}


.fileeditor {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.fileeditor .fileeditor-box {
  width: calc(100% - 60px);
  padding: 30px;
  scrollbar-width: none;
  overflow: auto;
  height: calc(95dvh - 60px);
  align-self: flex-end;
}

.fileeditor-box {
  background-color: var(--theme2);
  transform: translateY(80%);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 30px 30px 0px 0px;
  cursor: default;
}

.fileeditor-box h1 {
  font-weight: 400;
  font-size: 120%;
  margin: 0%;
  padding: 0%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fileeditor-title {
  /* css global flex */
  width: 100%;
  height: 65px;
  margin-bottom: 5px;
}

.fileeditor-title  .fileeditor-title-text {
  width: calc(100% - 200px);
}

.fileeditor-title .fileeditor-title-icon {
  width: 190px;
  margin-left: 10px;
}

.fileeditor-title-icon {
  /* css global flex */
  opacity: 100%;
}

.fileeditor-title-icon button{
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 10px;
  transition:all 0.2s ease-in-out;
  max-width: calc(25% - 5px);
}

.fileeditor-title-search {
  background-color: var(--theme3);
  color: var(--accent);
  margin-right: 5px;
}

.fileeditor-title-search:hover{
  background-color: var(--accent);
  color: var(--accent-text);
}

.fileeditor-title-cancel {
  background-color: var(--theme1);
  color: var(--red);
  margin-right: 5px;
}

.fileeditor-title-cancel:hover{
  background-color: var(--red);
  color: var(--red-text);
}

.fileeditor-title-save {
  background-color: var(--text1);
  color: var(--theme1);
  margin-left: auto;
  margin-right: 5px;
}

.fileeditor-title-save:hover{
  background-color: var(--text2);
}

.fileeditor-title-trash {
  background-color: var(--red);
  color: var(--red-text);
  margin-right: 5px;
}

.fileeditor-title-trash:hover {
  background-color: var(--red-hover);
}

.loader-circle {
  border: 2px solid var(--theme3);
  border-radius: 50%;
  border-top: 2px solid var(--text1);
  width: 20px;
  height: 20px;
  margin: auto;
  -webkit-animation: loaderSpin 1s linear infinite;
  animation: loaderSpin 1s linear infinite;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.fileeditor-main {
  /* 70px title height 60px padding */
  height: calc(95dvh - 70px - 60px);
  overflow: auto;
  border-radius: 10px;
  font-size: 95%;
  color: var(--text2);
  background-color: var(--theme1);
}

/* .fileeditor-main,
.file-editor-title {
  outline: 1px solid var(--text1);
} */














.file-menu {
  /* css global flex */
  font-size: 95%;
  margin-bottom: 10px;
}

.file-menu p{
  margin: 0%;
}

.file-menu button{
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  padding: 8px 16px;
  margin-right: 10px;
  color: var(--text2);
  background-color: var(--theme3);
}

.file-menu button:hover{
  background-color: var(--theme2);
  color: var(--accent);
}

.file-menu button:nth-last-child(1){
  margin-right: 0px;
}

.file-menu .fas{
  margin-right: 0px;
  /* 8px if text */
}

.file-selected {
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent-opaque);
  color: var(--text1);
  margin-bottom: 10px;
  font-weight: 400;
}

.file-selected p{
  margin: 0%;
}

.file-selected .file-selected-info {
  width: calc(100% - 100px);
  margin: 0px 5px;
}

.file-selected .file-selected-button {
  width: 80px;
  margin-left: 10px;
}

.file-selected-button button{
  width: 35px;
  height: 35px;
  font-size: 90%;
  padding: 0px;
  border-radius: 10px;
  transition: hover 0.2s ease-in-out;
}

.file-selected-button-cancel {
  background-color: var(--theme2);
  color: var(--red);
  margin-left: auto;
}

.file-selected-button-cancel:hover {
  background-color: var(--red);
  color: var(--red-text);
}

.file-selected-button-submit {
  background-color: var(--accent);
  color: var(--accent-text);
  margin-left: 10px;
}

.file-selected-button-submit:hover{
  background-color: var(--accent-hover);
}

.file-selected-none {
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--theme2);
  color: var(--text2);
  margin-bottom: 10px;
  font-weight: 400;
}

.file-selected-none p{
  margin: 0%;
}

.file-selected-none .file-selected-info {
  width: calc(100% - 60px);
  margin: 0px 5px;
}

.file-selected-none .file-selected-button {
  width: 40px;
  margin-left: 10px;
}

.file-selected-button-icon {
  width: 35px;
  height: 35px;
  font-size: 90%;
  padding: 0px;
  cursor: default;
  pointer-events: none;
  margin-left: auto;
  background-color: var(--theme3);
  color: inherit;
}

.file-path b {
  color: var(--text1);
  font-size: 100%;
  font-weight: 400;
}

.file-path p{
  margin: 0%;
}

.file-path-box {
  border-radius: 10px;
  background-color: var(--theme1);
  width: max-content;
  margin-bottom: 10px;
  font-size: 90%;
  color: var(--text2);
  max-width: 100%;
}

.file-path-box::-webkit-scrollbar{
  display: none;
}

.file-path-box .fas{
  font-size: 75%;
  margin-right: 10px;
  display: inline-block;
}

.file-path-box a{
  transition: all 0.2s ease-in-out;
  color: inherit;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  max-width: 80px;
  margin-right: 10px;
  border-radius: 5px;
}

.file-path-box a:focus{
  outline: 1px solid var(--text2);
}

.file-path-box p{
  margin: 0%;
}

.file-path a:hover {
  color: var(--accent);
}


.file-list {
  /* css global flex */
  width: 100%;
  margin-bottom: 2%;
}

.file-list p{
  margin: 0%;
}

.file-list .file-list-title {
  width: 100%;
  padding: 15px;
}

.file-list .file-list-box,
.file-list .file-list-box-selected{
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  border-radius: 10px;
}

.file-list button{
  font-size: 100%;
}

.file-list-title {
  color: var(--text1);
}


.file-list-box {
  color: var(--text2);
}

.file-list-box-selected {
  background-color: var(--accent-opaque);
  color: var(--text1);
  border-radius: 10px;
}

.file-list-title {
  border-radius: 10px;
}

.file-list-box-inside {
  padding: 15px;
  width: calc(100% - 30px);
  border-radius: 10px;
  /* css global flex */
  text-align: left;
  font-weight: 300;
  transition: hover 0.2s ease-in-out;
}

.file-list-box .file-list-box-inside:hover {
  background-color: var(--theme2);
}

.file-list-title .file-list-name,
.file-list-box-inside .file-list-name {
  width: calc(100% - 380px);
}

.file-list-title .file-list-size,
.file-list-box-inside .file-list-size {
  width: calc(100px - 15px);
  margin-left: 15px;
}
.file-list-title .file-list-modify,
.file-list-box-inside .file-list-modify {
  width: calc(230px - 15px);
  margin-left: 15px;
}

.file-list-title .file-list-button,
.file-list-box-inside .file-list-button {
  width: calc(50px - 15px);
  margin-left: 15px;
}

.file-list-title {
  background-color: var(--theme3);
}

.file-list-name p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file-list-name-mobile {
  display: none;
}

.file-list-name .fas {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.file-mobile-text {
  display: none;
}

.file-list-button {
  text-align: center;
  line-height: 0%;
  font-size: 120%;
}

.file-list-button-all {
  /* css global flex */
  padding: 0px;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  line-height: 0%;
  display: inline-block;
  color: var(--accent);
}


@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {


  .file-list-box {
    background-color: var(--theme2);
  }

  .file-list-name .fas {
    margin-right: 5px;
  }

  .file-list-name-mobile {
    display: block;
  }

  .file-list-name-desktop {
    display: none;
  }

  .file-list-title .file-list-name,
  .file-list-box-inside .file-list-name {
    width: 80%;
    font-weight: 400;
  }

  .file-list-title .file-list-size {
    display: none;
  }

  .file-list-box-inside .file-list-size {
    width: 20%;
    margin-left: 0px;
    text-align: right;
  }

  .file-list-title .file-list-modify {
    display: none;
  }

  .file-list-box-inside .file-list-modify {
    width: 80%;
    /* 45px is button div */
    margin-left: 0px;
    margin-top: 5px;
  }

  .file-list-title .file-list-button {
    width: 20%;
    margin-left: 0%;
  }

  .file-list-box-inside .file-list-button {
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
    width: 20%;
  }

  .file-list-button-all {
    margin-left: auto;
    display: block;
  }


  .file-mobile-text {
    display: block;
    font-size: 90%;
  }

  .fileeditor .fileeditor-box {
    width: calc(100% - 40px);
    padding: 20px;
    height: calc(95dvh - 40px);
  }

  .fileeditor-main {
    /* 70 title height, 40px padding */
    height: calc(95dvh - 70px - 40px);
  }

}

@media screen and (max-width: 525px) {

}

@media screen and (max-width: 450px) {

  .file-path-box a{
    max-width: 50px;
  }

}

@media screen and (max-width: 380px) {

  .fileeditor-title  .fileeditor-title-text {
    width: 100%;
  }
  .fileeditor-title .fileeditor-title-icon {
    width: 100%;
    margin: 0%;
  }

  .fileeditor-title-search {
    margin-left: 0px;
  }

  .fileeditor-title {
    height: 95px;
    overflow: auto;
  }

  .fileeditor-title-icon button{
    margin-bottom: 5px;
  }

  .fileeditor-main {
    /* 100px title height 40px padding */
    height: calc(95dvh - 100px - 40px);
  }

  .filetools-tools .filetools-tools-box {
    width: 100%;
    margin-right: 0%;
    margin-top: 2%;
  }

  .filetools-details .filetools-details-box {
    width: 100%;
    margin-right: 0%;
  }


  .searchfiles-results-box .searchfiles-results-view {
    display: none;
  }

  .searchfiles-results-box .searchfiles-results-info {
    width: calc(100% - 40px);
  }

}