.chatroom-box {
  background-color: var(--theme3);
  border-radius: 40px;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-overflow-style: none;
  height: 84vh;
  overflow: hidden;
}

.chatroom-box::-webkit-scrollbar {
  display: none;
}

.chatroom-box .chatroom-info {
  width: 24%;
  padding: 2% 4% 2% 2%;
  -ms-overflow-style: none;
  overflow: auto;
  height: 96%;
}

.chatroom-info::-webkit-scrollbar {
  display: none;
}

.chatroom-box .chatroom-chatroom {
  width: 70%;
  padding: 0%;
  height: 100%;
}

.chatroom-chatroom::-webkit-scrollbar {
  display: none;
}

.chatroom-info {
  color: var(--text2);
  font-size: 100%;
}

.chatroom-info b {
  color: var(--text1);
  font-size: 100%;
  font-weight: 400;
}

.chatroom-info h1 {
  font-weight: 400;
  font-size: 150%;
  margin: 0%;
  color: var(--text1);
}

.chatroom-chatroom {
  -ms-overflow-style: none;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--theme2);
  border-radius: 0px 30px 30px 0px;
  overflow: hidden;
}

.chatroom-chatroom .chatroom-chatroom-title {
  width: 96%;
  padding: 2%;
}

.chatroom-chatroom .chatroom-messages {
  width: 96%;
  height: 58vh;
  overflow: auto;
  padding: 2%;
}

.chatroom-chatroom .chatroom-input {
  width: 94%;
  padding: 1% 1%;
  margin: 2%;
}

.chatroom-chatroom-title h1 {
  font-size: 80%;
  margin: 0%;
  font-weight: 400;
}

.chatroom-chatroom-title {
  background-color: var(--theme2);
  text-align: center;
  color: var(--accent);
}

.chatroom-chatroom-title .fas {
  margin-right: 1%;
}

.chatroom-messages {
  border-radius: 0px;
  padding: 0% 2%;
  border-top: 1px solid var(--theme1);
  border-bottom: 1px solid var(--theme1);
}

.chatroom-messages::-webkit-scrollbar-thumb-track {
  background: var(--theme1);
}

.chatroom-other p,
.chatroom-self p,
.chatroom-date p {
  margin: 0%;
}

.chatroom-self {
  text-align: right;
}

.chatroom-other {
  width: max-content;
  padding: 1.5%;
  color: var(--text1);
  background-color: var(--theme1);
  border-radius: 10px;
  margin-top: 1%;
}

.chatroom-self {
  width: max-content;
  margin-left: auto;
  margin-right: 0%;
  padding: 1.5%;
  background-color: var(--accent);
  color: var(--theme1);
  border-radius: 10px;
  margin-top: 1%;
}

.chatroom-date {
  width: max-content;
  font-size: 80%;
  color: var(--text2);
  background-color: var(--theme1);
  margin: 1% auto;
  border-radius: 10px;
  padding: 0.5% 2%;
}

.chatroom-input {
  background-color: var(--theme3);
  border-radius: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.chatroom-input .chatroom-upload,
.chatroom-input .chatroom-emoji,
.chatroom-input .chatroom-submit {
  width: 8%;
}

.chatroom-input .chatroom-type {
  width: 76%;
}

.chatroom-upload {
  text-align: center;
  font-size: 150%;
}

.chatroom-input p {
  margin: 0%;
}

.chatroom-upload .fas {
  color: var(--text2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.chatroom-upload .fas:hover {
  color: var(--text1);
}

.chatroom-type p {
  margin: 0%;
}

.chatroom-type input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 2% 2%;
  color: white;
  font-family: "Poppins";
}

.chatroom-emoji {
  font-size: 180%;
  text-align: right;
}

.chatroom-submit {
  font-size: 180%;
  text-align: center;
}

.chatroom-emoji p,
.chatroom-submit p {
  margin: 0%;
}

.chatroom-emoji .fas,
.chatroom-submit .fas {
  text-align: center;
  color: var(--text2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.chatroom-emoji .fa-smile:hover {
  color: var(--text1);
}

.chatroom-submit .fa-arrow-circle-right {
  color: var(--accent);
}

.chatroom-submit .fa-arrow-circle-right:hover {
  color: var(--accent-hover);
}

.chatroom-party {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0%;
  margin: 5% 0%;
}

.chatroom-party .chatroom-party-icon {
  width: 18%;
}

.chatroom-party .chatroom-party-people {
  width: 82%;
}

.chatroom-party-icon {
  text-align: left;
  color: var(--text1);
  font-size: 120%;
}

.chatroom-party-icon .fa-1x {
  padding: 18%;
  border-radius: 5px;
}

.chatroom-party-people {
  color: var(--text1);
}

.chatroom-party-people p {
  margin: 0%;
  line-height: 120%;
}

/*colours*/

.fa-life-ring {
  background-color: var(--red);
}

.fa-paper-plane {
  background-color: #ffa500;
}

.fa-server {
  background-color: #7367f0;
}

.fa-user-alt {
  background-color: var(--accent);
}
