.hostingoptions-title {
  text-align: center;
  color: var(--text1);
  font-size: 150%;
}

.hostingoptions-title h1 {
  font-weight: 500;
  font-size: 250%;
  margin: 0%;
}

.hostingoptions-title-button {
  width: 50%;
  margin: auto;
}

/* hosting-features */

.hosting-feature,
.hosting-feature2 {
  border-radius: 20px;
  /* css global flex */
}

.hosting-feature .hosting-feature-art,
.hosting-feature2 .hosting-feature2-box {
  width: 48%;
  margin-left: 2%;
}

.hosting-feature .hosting-feature-box,
.hosting-feature2 .hosting-feature2-art {
  width: 48%;
  margin-right: 2%;
}

.hosting-feature-art img {
  width: 100%;
  transform: translateX(25%) scale(125%);
}

.hosting-feature2-art img {
  width: 100%;
  transform: translateX(-25%) scale(125%);
}

.hosting-feature-art,
.hosting-feature2-art {
  animation: floating 0s infinite;
  filter: drop-shadow(0px 0px 20px var(--theme3));
}

.hosting-feature-box,
.hosting-feature2-box {
  color: var(--text2);
  font-size: 100%;
  text-align: left;
}

.hosting-feature-box .fab {
  margin: 0% 0.5%;
}

.hosting-feature-box h1,
.hosting-feature2-box h1 {
  color: var(--text1);
  font-size: 250%;
  font-weight: 500;
  margin: 0%;
}

.hosting-feature-box .fa-check-circle {
  margin-right: 2%;
}

.hosting-feature-button {
  color: var(--theme1);
  padding: 10px;
  width: 130px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 100%;
}

.hosting-feature-button:hover {
  background-color: var(--accent-hover);
}

.hosting-feature-button:active {
  transform: scale(0.9);
}

/* why (Stax) */

.why {
  /*background-color: var(--pri-neg);*/
  border-radius: 20px;
  width: 100%;
  /*box-shadow: 0 0 1000px 22px #000;*/
}

.why-art img {
  width: 100%;
}

.why-title {
  font-weight: 300;
  text-align: left;
  font-size: 150%;
  width: 100%;
  color: var(--text1);
}

.why-title h1 {
  font-weight: 500;
  margin-top: 0%;
}

.why-section {
  width: 100%;
  margin-top: 8%;
  /* css global flex */
}

.why-section .why-box {
  width: 23.5%;
  margin-right: 2%;
}

.why-box:nth-child(4n) {
  margin-right: 0%;
}

.why-box {
  text-align: left;
  font-weight: 300;
  color: var(--text2);
  font-size: 100%;
}

.why-box .fa-1x {
  color: var(--accent);
  font-size: 300%;
}

.why-box h1 {
  font-size: 110%;
  font-weight: 400;
  color: var(--text1);
}

.why-box img {
  max-width: 28%;
}

.why-button {
  margin: auto;
  cursor: pointer;
  padding: 1%;
  width: 60%;
  line-height: 60%;
  color: var(--theme1);
  border: 2px solid var(--theme1);
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  font-weight: 400;
  background-color: var(--text1);
}

.why-button h1 {
  font-weight: 400;
}

.why-button2 h1 {
  font-weight: 400;
}

.why-button:hover {
  box-shadow: 1px 1px 5px var(--accent), -1px -1px 5px var(--accent);
}

.arrow {
  display: none;
  transition-delay: 1s;
  transition: all 0.2s ease-in-out;
}

.why-button:hover .arrow {
  display: inline-block;
}

.why-button2 {
  margin: auto;
  cursor: pointer;
  padding: 1%;
  width: 50%;
  line-height: 60%;
  color: var(--theme2);
  border: 3px solid var(--theme2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-appearance: none;
}

.why-button2:hover {
  background-color: var(--theme1);
  border: 3px solid var(--theme1);

  color: var(--text1);
}

/* payscheme */

.payscheme {
  /*background-color: var(--pri-neg);*/
  background-color: var(--theme3);
  border-radius: 20px;
  /* css global flex */
  padding: 3%;
  width: 94%;
}

.payscheme .payscheme-explain {
  width: 43%;
  margin-right: 2%;
}

.payscheme .payscheme-numbers {
  width: 44%;
  padding: 4%;
  margin-left: 2%;
}

.payscheme-explain {
  font-size: 100%;
  text-align: left;
  margin: auto;
  color: var(--text2);
  font-weight: 400;
}

.payscheme-explain b {
  font-weight: 400;
  color: var(--accent);
}

.payscheme-explain h1 {
  font-weight: 500;
  font-size: 200%;
  margin-top: 0%;
  color: var(--text1);
}

.payscheme-text {
  font-size: 85%;
  display: block;
  font-style: italic;
  color: var(--text2);
}

.payscheme-numbers {
  /*background-color: var(--pri-pos);*/
  background-color: var(--theme1);
  border-radius: 20px;
  color: var(--pri-neg);
  color: var(--text1);
  font-weight: 300;
  font-size: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.payscheme-numbers h1 {
  margin-top: 0%;
}

.payscheme-numbers h2 {
  margin-bottom: 0%;
  font-size: 150%;
}

.payscheme-numbers .firstline {
  color: var(--text1);
}

.payscheme-numbers h1,
h2 {
  font-weight: 300;
}

.payscheme-numbers a {
  font-weight: 400;
  font-size: 200%;
  color: var(--accent);
  display: block;
}

.typewrite a {
  color: var(--text1);
  font-weight: 400;
}

/* control panel */

.control-panel {
  border-radius: 20px;
  /* css global flex */
}

.control-panel .control-panel-art {
  width: 48%;
  margin-right: 2%;
}

.control-panel .control-panel-box {
  width: 48%;
  margin-left: 2%;
}

.control-panel-box {
  color: var(--text2);
  font-size: 100%;
  text-align: left;
}

.control-panel-box h1 {
  color: var(--text1);
  font-size: 300%;
  font-weight: 500;
  margin-top: 0%;
}

.control-panel-box h2 {
  font-size: 150%;
  font-weight: 400;
  color: var(--text1);
  margin-bottom: 0%;
}

.control-panel-art img {
  width: 100%;
  margin-right: 0%;
  transform: translateX(-25%) scale(125%);
  filter: drop-shadow(0px 0px 10px var(--theme3));
}

/* .control-panel-art {
    animation: floating 4s infinite;
  } */

@keyframes floating {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}

.hostingoptions-features-title {
  color: var(--text1);
  text-align: center;
}

.hostingoptions-features-title h1 {
  font-size: 250%;
  font-weight: 500;
  margin: 0%;
}

.hostingoptions-list {
  /* css global flex */
  margin: auto;
  border-radius: 20px;
}

.hostingoptions-list .hostingoptions-list-title {
  width: 100%;
}

.hostingoptions-list .hostingoptions-list-box {
  width: calc(50% - 50px);
  padding: 25px;
  margin-right: 0%;
  /* margin-right: 2%; */
  /* if more than 1 box */
}

.hostingoptions-list-box:nth-child(3n) {
  /* 3n cause the list-title is in the flex div */
  margin-right: 0%;
  margin-left: 2%;
}

.hostingoptions-list-title h1 {
  font-size: 200%;
  font-weight: 400;
  color: var(--text1);
  text-align: center;
  margin-top: 0%;
}

.hostingoptions-list-box {
  /* css global flex */
  border-radius: 20px;
  background-color: var(--theme3);
  color: var(--text2);
}

.hostingoptions-list-box .hostingoptions-list-box-image {
  width: 10%;
  display: none;
}

.hostingoptions-list-box .hostingoptions-list-box-title {
  width: 100%;
}

.hostingoptions-list-box .hostingoptions-list-box-card {
  width: 100%;
}

.hostingoptions-list-box .hostingoptions-list-box-button {
  width: 100%;
}

.hostingoptions-list-box-image .fas {
  padding: 40%;
  background-color: var(--accent);
  border-radius: 10px;
}

.hostingoptions-list-box-title {
  color: var(--text1);
}

.hostingoptions-list-box-title h1 {
  font-weight: 400;
  font-size: 200%;
  margin: 0%;
  margin-top: 0%;
}

.hostingoptions-tag1 {
  display: inline-block;
  padding: 1% 4%;
  color: var(--accent);
  background-color: rgb(0, 199, 154, 0.2);
  border-radius: 20px;
  font-size: 90%;
}

.hostingoptions-tag2 {
  display: inline-block;
  padding: 1% 4%;
  color: #7367f0;
  background-color: rgba(54, 104, 240, 0.2);
  border-radius: 20px;
  font-size: 90%;
}

.hostingoptions-tag3 {
  display: inline-block;
  padding: 1% 4%;
  color: var(--red);
  background-color: rgb(237, 67, 55, 0.2);
  border-radius: 20px;
  font-size: 90%;
}

.hostingoptions-list-button {
  background-color: var(--accent);
  border-radius: 10px;
  color: var(--theme1);
  text-align: center;
  width: 150px;
  padding: 12px 0%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hostingoptions-list-link {
  width: 100%;
  color: inherit;
}

.hostingoptions-list-button:hover {
  background-color: var(--accent-hover);
}

.hostingoptions-list-button p {
  margin: 0%;
}

/* reponsive */

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1200px) {
  .control-panel-box h1 {
    font-size: 250%;
  }

  .why-section .why-box {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
    /* width 48% since 4% margin each side = 2% */
  }

  .why-box:nth-child(2n) {
    margin-right: 0%;
  }
}

@media screen and (max-width: 1000px) {
  .payscheme {
    width: 92%;
    padding: 4%;
  }

  .payscheme .payscheme-explain {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 5%;
  }

  .payscheme .payscheme-numbers {
    width: 92%;
    padding: 4%;
    margin-left: 0%;
  }

  .payscheme-numbers a {
    font-size: 100%;
  }

  .why-title {
    font-size: 150%;
  }

  .hosting-feature .hosting-feature-box,
  .hosting-feature2 .hosting-feature2-box {
    width: 58%;
  }

  .hosting-feature .hosting-feature-art,
  .hosting-feature2 .hosting-feature2-art {
    width: 38%;
  }

  .hosting-feature-art img {
    width: 100%;
    transform: translateX(25%) scale(150%);
  }

  .hosting-feature2-art img {
    width: 100%;
    transform: translateX(-25%) scale(150%);
  }
}

@media screen and (max-width: 800px) {
  .why-title {
    font-size: 150%;
  }

  .why-section .why-box {
    width: 44%;
    margin-right: 6%;
    margin-bottom: 6%;
    /* width 48% since 4% margin each side = 2% */
  }

  .payscheme .payscheme-numbers {
    width: 92%;
    padding: 4%;
    margin-left: 0%;
  }

  .payscheme-numbers a {
    font-size: 150%;
    display: block;
    margin: 0%;
  }

  .payscheme-explain h1 {
    font-size: 200%;
  }

  .hostingoptions-list .hostingoptions-list-box {
    width: calc(100% - 50px);
    margin-bottom: 4%;
    margin-right: 0%;
  }

  .hostingoptions-list-box:nth-child(3n) {
    /* 3n cause the list-title is in the flex div */
    margin-right: 0%;
    margin-left: 0%;
  }

  .hostingoptions-title h1 {
    font-size: 200%;
  }

  .hosting-feature-box h1,
  .hosting-feature2-box h1 {
    font-size: 200%;
  }

  .control-panel-box h1 {
    font-size: 200%;
  }

  .control-panel-box h2 {
    font-size: 150%;
  }

  .hostingoptions-features-title h1 {
    font-size: 200%;
  }

  .hostingoptions-list-title h1 {
    font-size: 200%;
  }

  .hostingoptions-list-box-title h1 {
    font-size: 180%;
  }

  .hosting-feature {
    flex-direction: column-reverse;
  }

  .hosting-feature .hosting-feature-art,
  .hosting-feature2 .hosting-feature2-art {
    width: 75%;
  }

  .hosting-feature .hosting-feature-box,
  .hosting-feature2 .hosting-feature2-box {
    width: 100%;
    margin-right: 0%;
  }

  .hosting-feature-art img,
  .hosting-feature2-art img,
  .control-panel-art img {
    transform: translateX(0%) scale(100%);
  }
}

@media screen and (max-width: 600px) {
  .why-title {
    font-size: 100%;
  }

  .why-title {
    font-size: 100%;
  }

  .why-section .why-box {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 6%;
    /* width 48% since 4% margin each side = 2% */
  }
}

@media screen and (max-width: 525px) {
  .payscheme {
    background-color: transparent;
    width: calc(87.5% + 6.25%);
    padding: 0% 3.125%;
  }

  .payscheme .payscheme-numbers {
    width: 88%;
    padding: 6%;
    margin-left: 0%;
    margin-top: 4%;
    background-color: var(--theme3);
  }

  .payscheme-numbers h1 {
    font-size: 150%;
  }

  .payscheme-numbers h2 {
    font-size: 100%;
  }

  .payscheme-numbers a {
    font-size: 150%;
  }

  .payscheme-explain h1 {
    font-size: 150%;
  }

  .hostingoptions-title h1 {
    font-size: 150%;
  }

  .hosting-feature-box h1,
  .hosting-feature2-box h1 {
    font-size: 150%;
  }

  .control-panel-box h1 {
    font-size: 150%;
  }

  .control-panel-box h2 {
    font-size: 120%;
  }

  .hostingoptions-features-title h1 {
    font-size: 200%;
  }

  .hostingoptions-list-title h1 {
    font-size: 150%;
  }

  .hostingoptions-list-box-title h1 {
    font-size: 150%;
    font-weight: 500;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 380px) {
  .hostingoptions-list-button {
    width: 100%;
  }

}
