/*@import url(avatar.css);*/

/* profile crop modal */

/*modals*/

.profilecrop {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.profilecrop .profilecrop-box {
  max-width: 310px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.profilecrop-box::-webkit-scrollbar {
  display: none;
}

.profilecrop-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: var(--text1);
}

.profilecrop-box h1 {
  font-size: 180%;
  font-weight: 400;
  margin: 0%;
}

.profilecrop-frame {
  background-color: var(--theme1);
  border-radius: 10px;
  padding: 2%;
  margin: 2% 0%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profilecrop-frame .profilecrop-inside {
  width: 300px;
  height: 300px;
  margin: 2%;
}

.profilecrop-inside {
  border: 2px solid var(--accent);
  border-radius: 10px;
}

.profilecrop-slider {
  width: 100%;
  margin: 2% 0% 4%;
}

.profilecrop-slider input {
  width: 100%;
}

.profilecrop-buttons {
  visibility: visible;
  /* css global flex */
}

.profilecrop-buttons .profilecrop-button1 {
  width: 48%;
  margin-right: 2%;
}

.profilecrop-buttons .profilecrop-button2,
.profilecrop-buttons .profilecrop-button2-disabled {
  width: 48%;
  margin-left: 2%;
}

.profilecrop-button1 {
  background-color: var(--red);
  cursor: pointer;
}

.profilecrop-button2,
.profilecrop-button2-disabled {
  background-color: var(--accent);
  color: var(--theme1);
}

.profilecrop-button1,
.profilecrop-button2 {
  padding: 0%;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  color: var(--text1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.profilecrop-button2:hover {
  background-color: var(--accent-hover);
}

.profilecrop-button2-disabled {
  padding: 0%;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  color: var(--text1);
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
  cursor: default;
}

.profilecrop-box p {
  margin: 3% 0%;
}

.profilecrop-box input[type="submit"],
.profilecrop-box input[type="button"],
.profilecrop-box input[type="text"],
.profilecrop-box input[type="password"] {
  background: transparent;
  width: 100%;
  color: var(--text1);
  font-size: 100%;
}

.profilecrop-box input[type="text"],
.profilecrop-box input[type="password"] {
  padding: 3%;
}

.profilecrop-box input[type="submit"],
.profilecrop-box input[type="button"] {
  padding: 12px 0px;
}

.profilecrop-button2 input,
.profilecrop-box input[type="button"] {
  cursor: pointer;
}

.profilecrop-button2 input[type="submit"],
.profilecrop-button2-disabled input[type="submit"] {
  color: var(--theme1);
  font-weight: 400;
}

.profilecrop-button1:hover {
  background-color: var(--red-hover);
}

.profilemenu {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.profilemenu .profilemenu-box {
  max-width: 310px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.profilemenu .profilemenu-box::-webkit-scrollbar {
  display: none;
}

.profilemenu-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  font-weight: 300;
  border-radius: 20px;
}

.profilemenu-box h1 {
  font-size: 180%;
  font-weight: 400;
  color: var(--text1);
  margin: 0%;
}

.profilemenu-drop {
  /* css global flex */
  margin: 2% 0% 1%;
}

.profilemenu-drop .profilemenu-center {
  width: calc(80% - 2px);
  padding: 20% 10%;
}

.profilemenu-center {
  text-align: center;
  border: 1px solid var(--theme2);
  border-radius: 20px;
  color: var(--text2);
  background-color: var(--theme2);
}

.profilemenu-center p {
  margin: 0%;
}

.profilemenu-center b {
  color: var(--text1);
  font-weight: 400;
  font-size: 120%;
}

.profilemenu-icon {
  font-size: 200%;
  color: var(--text1);
}

.profilemenu-select {
  background-color: var(--accent);
  border-radius: 10px;
  text-align: center;
  color: var(--theme1);
  font-size: 95%;
  width: 50%;
  margin: 2% auto 0%;
  padding: 4% 0%;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.profilemenu-select:hover {
  background-color: var(--accent-hover);
}

.profilemenu-select p {
  margin: 0%;
}

.profilemenu-buttons {
  margin: 4% 0% 0%;
  /* css global flex */
  width: 100%;
}

.profilemenu-buttons .profilemenu-button-cancel {
  width: 40%;
  padding: 4% 0%;
}

.profilemenu-button-cancel p {
  margin: 0%;
}

.profilemenu-button-cancel {
  color: var(--text1);
  background-color: var(--theme2);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.profilemenu-button-cancel:hover {
  background-color: var(--theme1);
}

.addemail-full {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.addemail-full .addemail-box {
  max-width: 310px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.addemail-box::-webkit-scrollbar-thumb {
  display: none;
}

.addemail-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: var(--text2);
}

.addemail-box h1 {
  font-weight: 400;
  font-size: 180%;
  margin: 0%;
  color: var(--text1);
}


.add-email-info {
  margin: 4% 0% 8%
}

.add-email-info p{
  margin: 0%;
}

.add-email-input {
  color: var(--text1);
  font-size: 120%;
}


.addemail-text {
  width: 100%;
  /* css global flex */
  opacity: 100%;
  border-radius: 10px;
  background-color: var(--theme2);
}

.addemail-text .addemail-text-input {
  width: calc(100% - 50px);
}

.addemail-text .addemail-text-icon {
  width: 50px;
  display: none;
}

.addemail-text .addemail-text-message {
  width: 100%;
}

.addemail-text-input input[type="text"] {
  width: calc(100% - 15px);
  padding: 15px;
  padding-right: 0px;
  color: var(--text1);
  font-size: 100%;
  outline: none;
}

.addemail-input .addemail-text-icon {
  display: block;
  text-align: center;
  color: var(--accent);
}

.addemail-text-taken,
.addemail-text-invalid {
  display: none;
  padding: 12px;
  padding-top: 0px;
}

.addemail-input-taken .addemail-text-taken,
.addemail-input-invalid .addemail-text-invalid {
  display: block;
}

.addemail-input-taken,
.addemail-input-invalid {
  border: 1px solid var(--red);
}

.addemail-input {
  border: 1px solid var(--accent);
}

.addemail-input-grey {
  border: 1px solid var(--theme2);
}

.addemail-input,
.addemail-input-grey,
.addemail-input-taken,
.addemail-input-invalid {
  border-radius: 10px;
}

.addemail-input:focus-within,
.addemail-input-grey:focus-within,
.addemail-input-taken:focus-within,
.addemail-input-invalid:focus-within {
  outline: 1px solid var(--text2);
}

.addemail-text-message{
  color: var(--red);
}

.addemail-text-message .fas{
  margin-right: 8px;
}

.add-email-text {
  margin-bottom: 2%;
}

.add-email-submit button {
  width: 100%;
  padding: 12px 0%;
  background-color: var(--accent);
  border-radius: 10px;
  text-align: center;
  margin-top: 2%;
  color: var(--accent-text);
  transition: all 0.2s ease-in-out;
  font-size: 100%;
}

.add-email-submit button:hover {
  background-color: var(--accent-hover);
}

.add-email-submit-disabled button {
  width: 100%;
  padding: 12px 0%;
  background-color: var(--accent);
  border-radius: 10px;
  text-align: center;
  margin-top: 2%;
  color: var(--accent-text);
  transition: all 0.2s ease-in-out;
  font-size: 100%;
  opacity: 60%;
  cursor: default;
}

.addemail-buttons {
  margin-bottom: 0px;
}

.addemail-buttons button {
  width: 100%;
  background-color: var(--theme2);
  color: var(--text1);
  border-radius: 10px;
  padding: 12px 0%;
  margin-top: 2%;
  font-size: 100%;
  transition: all 0.2s ease-in-out;
}

.addemail-buttons button:hover {
  background-color: var(--theme1);
}

.right-align {
  text-align: right;
  color: var(--text2);
}

.spacing-break {
  padding: calc(2%) calc(0%);
}

.spacing-break2 {
  padding: calc(4%) calc(0%);
}

.spacing-break3 {
  padding: calc(1%) calc(0%);
}

.settings-login {
  width: 98%;
  margin: auto;
}

.settings-login a {
  color: var(--accent);
  transition: all 0.2s ease-in-out;
}

.settings-login a:hover {
  color: var(--accent-hover);
  text-decoration: underline;
}

.settings-section {
  /* css global flex */
  width: 100%;
}

.settings-section .settings-section-profile {
  width: 320px;
  padding: 4% 0%;
}

.settings-section .account-info-section {
  width: calc(100% - 8% - 320px);
  padding: 3%;
  margin-left: 2%;
}

.settings-section-profile {
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  /* css global flex */
  background-color: var(--theme3);
}

.settings-section-profile .profile {
  width: 80%;
}

.profile {
  border-radius: 20px;
  text-align: center;
}

.profile b {
  color: inherit;
  font-weight: 400;
  font-size: 150%;
}

.profile b {
  margin: 0%;
  font-size: 150%;
  font-weight: 500;
}

.profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: black;
  margin-bottom: 5%;
  border: none;
  transition: all 0.2s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-photo img {
  width: 100%;
  float: left;
}

.profile-edit {
  border-radius: 10px;
  background-color: var(--dtb1);
  color: var(--dtt1);
  width: 150px;
  padding: 12px 0%;
  font-size: 100%;
  margin: auto;
  margin-bottom: 5%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile-edit p {
  margin: 0%;
}

.profile-edit:hover {
  background-color: var(--dtb2);
}

.account-info-section {
  /* css global flex */
  opacity: 100%;
  background-color: var(--theme2);
  border-radius: 20px;
}

.account-info-section .account-info {
  width: 100%;
}

.account-info {
  /* css global flex */
  color: var(--text2);
  border-radius: 20px;
  font-size: 100%;
}

.account-info .account-info-title {
  width: 100%;
}

.account-info .account-info-box {
  width: 46%;
  margin-right: 8%;
  margin-top: 5%;
  align-self: flex-start;
}

.account-info-box:nth-child(odd){
  margin-right: 0%;
}

.account-info-title h2 {
  font-weight: 500;
  font-size: 120%;
  margin: 0%;
  color: var(--text1);
}

.account-info-title {
  padding-bottom: 2%;
}

.account-info-title {
  border-bottom: 1px solid var(--text2);
}

.account-info-box {
  font-size: 95%;
}

.account-info-box b {
  font-size: 105%;
  font-weight: 400;
  color: var(--text1);
}

.account-info-box p {
  margin: 0%;
}

/*modal profile*/

.changeprofile {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.changeprofile .changeprofile-box {
  max-width: 340px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.changeprofile .changeprofile-box::-webkit-scrollbar {
  display: none;
}

.changeprofile-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text2);
  font-size: 100%;
  font-weight: 300;
  border-radius: 20px;
  cursor: default;
}

.changeprofile-box .fas {
  margin-right: 2%;
}

.changeprofile-box b {
  font-weight: 400;
  color: var(--text1);
  margin: 1% 0%;
}

.changeprofile-box h1 {
  font-weight: 400;
  font-size: 180%;
  color: var(--text1);
  margin: 0%;
  padding: 0%;
}

.changeprofile-box .fa-exclamation-circle {
  color: var(--red);
}

.changeprofile-box b {
  font-weight: 400;
  font-size: 100%;
  color: var(--text1);
}

.changeprofile-split {
  /* css global flex */
  width: 100%;
}

.changeprofile-split .changeprofile-banner {
  width: 100%;
  padding: 2% 0%;
}

.changeprofile-split .changeprofile-section {
  width: 100%;
}

.changeprofile-banner {
  border-radius: 20px 20px 0px 0px;
  transition: all 0.3s ease-in-out;
}

.changeprofile-section {
  border-radius: 20px;
  /* css global flex */
}

.changeprofile-section .changeprofile-section-box {
  width: 98%;
  margin: 1%;
}

.changeprofile-section .changeprofile-buttons {
  width: 100%;
}

.profile-photo-edit {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profile-photo-edit .profile-photo {
  width: 100px;
}

.profile-photo-edit .profile-photo-options {
  width: calc(100% - 100px - 10%);
}

.profile-photo-options input[type="submit"] {
  background-color: var(--accent);
  border-radius: 10px;
  color: var(--theme3);
}

.changeprofile-banner-box {
  background-color: var(--theme1);
  font-size: 250%;
  padding: 2% 4%;
  width: 92%;
  margin-bottom: 4%;
  border-radius: 10px;
}

.changeprofile-banner-box .fas {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0%;
  margin: 2px;
}

.changeprofile-banner-box .fa-circle:hover {
  transform: scale(1.1);
}

.changeprofile-info {
  margin: 2% 0%;
}

.changeprofile-info p{
  margin: 0%;
}

/*.changeprofile-banner-box .fa-check-circle:hover{


  }*/

.changeprofile-banner-colours {
  background-color: var(--theme1);
  padding: 2% 1%;
  width: 98%;
  border-radius: 10px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.changeprofile-banner-colours .changeprofile-banner-colours-circle {
  width: 15%;
  margin: 1% 1% 1% 0%;
  padding: 2% 0%;
}

.changeprofile-banner-colours .changeprofile-banner-colours-circle2 {
  width: 15%;
  padding: 12% 0%;
  margin: 1% 0%;
}

.changeprofile-banner-colours-circle,
.changeprofile-banner-colours-circle2 {
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  text-align: center;
  font-size: 200%;
}

.changeprofile-banner-colours-circle p,
.changeprofile-banner-colours-circle2 p {
  margin: 0%;
}

.changeprofile-type,
.changeprofile-type-password {
  border-radius: 10px;
  background-color: var(--theme2);
  border: 1px solid var(--theme2);
  margin: 1% 0% 2%;
}

.changeprofile-section-subtitle p{
  margin: 0%;
}

.changeprofile-type-password,
.changeprofile-type {
  visibility: visible
}

.changeprofile-type-password .changeprofile-type-box,
.changeprofile-type .changeprofile-input {
  width: calc(100% - 50px);
}

.changeprofile-type-password .show-password,
.changeprofile-type .changeprofile-box-tick {
  width: 50px;
}

.changeprofile-type .error-text {
  width: calc(100% - 24px);
  margin-left: 12px;
}

.changeprofile-type .changeprofile-box-tick {
  color: var(--accent);
  text-align: center;
  display: none;
}

.show-password {
  text-align: center;
  font-size: 100%;
  align-items: center;
  color: var(--text2);
}

.show-password p {
  margin: 0%;
}

#show-password-button-on {
  cursor: pointer;
}

#show-password-button-off {
  display: none;
  cursor: pointer;
}

.changeprofile-buttons {
  /* css global flex */
  margin-top: 2%;
}

.changeprofile-buttons .changeprofile-button1 {
  width: 48%;
  margin-right: 2%;
}

.changeprofile-buttons .changeprofile-button2,
.changeprofile-buttons .changeprofile-button2-disabled {
  width: 48%;
  margin-left: 2%;
}

.changeprofile-button1 {
  background-color: var(--theme2);
  cursor: pointer;
}

.changeprofile-button2,
.changeprofile-button2-disabled {
  background-color: var(--accent);
  color: var(--accent-text);
}

.changeprofile-button1,
.changeprofile-button2 {
  padding: 0%;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.changeprofile-button2:hover {
  background-color: var(--accent-hover);
}

.changeprofile-button2-disabled {
  padding: 0%;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  color: var(--text1);
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
  cursor: default;
}

.changeprofile-box button {
  font-size: 100%;
}

.changeprofile-box button,
.changeprofile-box input[type="text"],
.changeprofile-box input[type="password"] {
  background: transparent;
  color: var(--text1);
  font-size: 100%;
}

.changeprofile-box-type:focus-within,
.changeprofile-box-type-password:focus-within {
  outline: 1px solid var(--text2);
}

.changeprofile-box input[type="text"],
.changeprofile-box input[type="password"] {
  padding: 15px;
  padding-right: 0%;
  width: calc(100% - 15px);
  outline: none;
}

.changeprofile-box button,
.changeprofile-box button {
  padding: 12px 0px;
  width: 100%;
  border-radius: 10px;
}

.changeprofile-button2 button,
.changeprofile-button2-disabled button {
  font-weight: 400;
  color: var(--accent-text);
}

.changeprofile-button2-disabled button{
  cursor: default;
}

.changeprofile-button1:hover {
  background-color: var(--theme1);
}

.error-text {
  color: var(--red);
}

.error-text .fas {
  margin-right: 2%;
}

.settings-section-box {
  background-color: var(--theme3);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

#account-status-online {
  background-color: rgba(0, 241, 123, 0.2);
}

#account-status-offline {
  background-color: var(--theme3);
}

/*account tools */

.account-tools {
  width: 100%;
  color: var(--text1);
  /* css global flex */
}

.account-tools .account-tools-box1 {
  width: max-content;
  padding: 12px 24px;
  height: 50px;
  margin-right: 1%;
}

.account-tools .account-tools-box2  {
  width: max-content;
  padding: 12px 24px;
  height: 50px;
  margin-left: 1%;
}

.account-tools .apptheme-dark,
.account-tools .apptheme-light {
  margin: 0%;
}

.account-tools .theme-buttons {
  margin: 0%;
}

.account-tools-box1 p,
.account-tools-box2 p {
  margin: 0%;
}

.account-tools-box1 {
  background-color: var(--red);
  color: var(--red-text);
}

.account-tools-box2 {
  background-color: var(--theme3);
  color: var(--text1);
}

.account-tools-box1,
.account-tools-box2 {
  border-radius: 10px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.account-tools-box1:hover {
  background-color: var(--red-hover);
}

.account-tools-box2:hover {
  background-color: var(--theme2);
}


.apptheme-light,
.apptheme-dark {
  padding: 10px;
  width: 88px;
  /* did it so that logout and theme button align with change password in mobile */
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.apptheme-light {
  background-color: var(--dtb1);
}

.apptheme-dark {
  background-color: var(--dtt1);
}

.apptheme-button {
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--theme3);
  color: var(--text1);
  /* css global flex */
}

.apptheme-dark .apptheme-button {
  margin-left: 0%;
}

.apptheme-light .apptheme-button {
  margin-left: 38px;
}

.apptheme-dark .apptheme-light-icon,
.apptheme-light .apptheme-dark-icon {
  display: none;
}

.theme-buttons {
  /* css global flex */
  opacity: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--text1);
  color: var(--theme3);
}

.theme-buttons button{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 10px;
  /* css global flex */
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.theme-buttons button:nth-child(3n){
  margin-right: 0%;
}

.theme-buttons button:hover {
  background-color: var(--text2);
}

/*modal*/

.changepassword {
  /* css global flex */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.changepassword .changepassword-box {
  max-width: 340px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.changepassword-box::-webkit-scrollbar{
  display: none;
}

.changepassword-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text2);
  font-size: 100%;
  font-weight: 300;
  padding: 1%;
  border-radius: 20px;
  cursor: default;
}

.changepassword-box .fas {
  margin-right: 2%;
}

.changepassword-box b {
  font-weight: 400;
  color: var(--text1);
  margin: 1% 0%;
}

.changepassword-box h1 {
  font-weight: 400;
  font-size: 180%;
  color: var(--text1);
  margin: 0%;
  padding: 0%;
}

.changepassword-box .fa-exclamation-circle {
  color: var(--red);
}

.changepassword-box b {
  font-weight: 400;
  font-size: 100%;
  color: var(--text1);
}

.changepassword-type,
.changepassword-type-password {
  border-radius: 10px;
  background-color: var(--theme2);
  border: 1px solid var(--theme2);
}

.changepassword-type-password {
  opacity: 100%;
  /* css global flex */
}

.changepassword-type-password .changepassword-type-box {
  width: calc(100% - 50px);
  margin: 1% 0%;
}

.changepassword-type-password .show-password {
  width: 50px;
}

.changepassword-type-password .changepassword-tick-box {
  width: 50px;
}

.changepassword-type-password .error-text {
  width: calc(100% - 24px);
  margin-left: 12px;
}

.error-text p {
  margin: 0% 0% 12px;
}

.error-text {
  font-size: 95%;
}

.changepassword-tick-box {
  text-align: center;
  color: var(--accent);
  display: none;
}

.show-password {
  text-align: center;
  font-size: 100%;
  align-items: center;
  color: var(--text2);
}

.show-password p {
  margin: 0%;
}

#show-password-button-on1,
#show-password-button-on2 {
  cursor: pointer;
}

#show-password-button-off1,
#show-password-button-off2 {
  display: none;
  cursor: pointer;
}

.changepassword-buttons {
  opacity: 100%;
  /* css global flex */
}

.changepassword-buttons .changepassword-button1 {
  width: 48%;
  margin-right: 2%;
}

.changepassword-buttons .changepassword-button2 {
  width: 48%;
  margin-left: 2%;
}

.changepassword-buttons .changepassword-button2-hidden {
  width: 48%;
  margin-left: 2%;
}

.changepassword-button1 {
  background-color: var(--theme2);
  color: var(--text1);
  cursor: pointer;
}

.changepassword-button1:hover {
  background-color: var(--theme1);
}

.changepassword-button2-hidden {
  background-color: var(--accent);
  color: var(--accent-text);
  cursor: default;
  opacity: 0.6;
}

#password-submit {
  cursor: default;
}

.changepassword-button2 {
  background-color: var(--accent);
  color: var(--accent-text);
}

.changepassword-button2:hover {
  background-color: var(--accent-hover);
}

.changepassword-button1,
.changepassword-button2,
.changepassword-button2-hidden {
  padding: 0%;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.changepassword-box button {
  font-size: 100%;
}

.changepassword-box input[type="button"],
.changepassword-box input[type="text"],
.changepassword-box input[type="password"] {
  background: transparent;
  outline: none;
  color: var(--text1);
  font-size: 100%;
}

.changepassword-box input[type="text"],
.changepassword-box input[type="password"] {
  padding: 15px;
  padding-right: 0%;
  width: calc(100% - 15px);
}

.changepassword-box button {
  cursor: pointer;
  padding: 12px 0px;
  width: 100%;
}

.changepassword-button1 button {
  color: var(--text1);
  font-weight: 400;
  border-radius: 10px;
}

.changepassword-button2 button,
.changepassword-button2-hidden button {
  color: var(--accent-text);
  font-weight: 400;
  border-radius: 10px;
}

.error-text {
  color: var(--red);
}

.email {
  /* css global flex */
  width: 100%;
}

.email .email-box-main {
  width: calc(49% - 30px);
  padding: 15px;
  margin-right: 1%;
  margin-bottom: 2%;
}
.email .email-box-normal {
  width: calc(49% - 30px);
  padding: 15px;
  margin-left: 1%;
  margin-bottom: 2%;
}

.email .add-email {
  width: 150px;
  margin-right: calc(100% - 150px);
  padding: 12px 0px;
}

.email-box-normal:nth-child(odd) {
  margin-right: 1%;
  margin-left: 0%;
}

.email-box-normal,
.email-box-main {
  border-radius: 10px;
  color: var(--text1);
  transition: all 0.2s ease-in-out;
  /* css global flex */
}

.email-box-main {
  background-color: var(--theme3);
}

.email-box-normal {
  background-color: var(--theme2);
}

.email-box-normal .email-icon,
.email-box-main .email-icon {
  width: 60px;
}

.email-box-normal .email-info,
.email-box-main .email-info {
  width: calc(85% - 60px);
}

.email-box-normal .email-delete,
.email-box-main .email-delete {
  width: 15%;
}

.email-icon {
  font-size: 200%;
}

.email-box-normal .fa-envelope-open,
.email-box-main .fa-envelope {
  display: none;
}

.email-icon p,
.email-info p {
  margin: 0%;
}

.email-info p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.email-box-normal .active-email {
  display: none;
}

.email-box-main .notactive-email {
  display: none;
}

.active-email,
.notactive-email {
  font-size: 95%;
}

.active-email p,
.notactive-email p {
  margin: 0%;
}

.active-email {
  color: var(--accent);
}

.notactive-email button {
  background: none;
  margin: 0%;
  padding: 0%;
  width: max-content;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text2);
  transition: all 0.2s ease-in-out;
}

.notactive-email button:hover {
  color: var(--text1);
  text-decoration: underline;
}

.email-box-main .email-default-box {
  background-color: var(--accent);
  border-radius: 10px;
  padding: 2% 4%;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--theme1);
}

.email-delete {
  text-align: right;
  font-size: 120%;
  transition: all 0.2s ease-in-out;
}

.email-delete .fa-check-circle {
  padding: 12px;
}

.email-delete .fa-trash {
  border-radius: 10px;
  padding: 12px 13px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--red);
  border-radius: 10px;
  background-color: var(--theme1);
}

.email-delete .fa-trash:hover {
  background-color: var(--red);
  color: var(--red-text);
  border-radius: 10px;
  background-color: var(--theme1);
}

.email-delete .fa-check-circle {
  color: var(--accent);
}

.email-delete button {
  margin-left: auto;
}

.add-email {
  background-color: var(--accent);
  color: var(--accent-text);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  margin-top: 0%;
}

.add-email:hover {
  background-color: var(--accent-hover);
}

.add-email p {
  margin: 0%;
}

.add-email .fas {
  margin-right: 8px
}

.settings-side {
  border-radius: 0px;
  color: var(--text2);
  font-size: 95%;
}

.settings-side b {
  font-size: 120%;
  font-weight: 400;
  color: var(--text1);
}

.settings-bottom {
  color: var(--text1);
}

.settings-bottom b {
  font-weight: 400;
  font-size: 120%;
}

.login-activity {
  border-radius: 20px;
  /* css global flex */
  padding: 1% 0%;
}

.login-activity p{
  margin: 0%;
}


.login-activity .login-activity-box-title {
  width: calc(100% - 30px);
  padding: 20px 15px;
}

.login-activity .login-activity-box {
  width: calc(100% - 30px);
  padding: 15px;
}

.login-activity-box:nth-child(odd) {
  background-color: var(--theme2);
}

.login-activity-box,
.login-activity-box-title {
  transition: all 0.2s ease-in-out;
  /* css global flex */
}

.login-activity-box {
  border-radius: 10px;
}

.login-activity-box .login-activity-device,
.login-activity-box .login-activity-location,
.login-activity-box-title .login-activity-device,
.login-activity-box-title .login-activity-location {
  width: 17%;
  margin-right: 2%;
}

.login-activity-box .login-activity-device,
.login-activity-box-title .login-activity-device {
  margin-left: 1%;
}

.login-activity-box .login-activity-button,
.login-activity-box-title .login-activity-button {
  width: 20%;
}

.login-activity-box .login-activity-date,
.login-activity-box-title .login-activity-date {
  width: 40%;
}

.login-activity-box-title {
  color: var(--text1);
  background-color: var(--theme3);
  border-radius: 10px;
}

.login-activity-button {
  text-align: center;
  font-size: 90%;
}

.login-activity-status1,
.login-activity-status2 {
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-weight: 400;
  color: var(--text1);
  width: 85px;
  margin-left: auto;
  padding: 8px 0%;
  transition: all 0.2s ease-in-out;
  font-size: 100%;
}

.login-activity-status1 {
  background-color: var(--theme1);
  color: var(--accent);
  cursor: default;
}

.login-activity-status2 {
  background-color: var(--theme3);
  cursor: pointer;
  color: var(--text1);
  font-weight: 400;
}

.login-activity-status2:hover {
  background-color: var(--red);
  color: var(--red-text);
}

.login-activity-device .fa-1x {
  margin-right: 4%;
}

.login-activity-status1 .login-activity-status-logout {
  display: none;
}

.login-activity-status1 .login-activity-status-logout {
  display: inline-block;
}

.security-zone {
  /* css global flex */
  width: 100%;
}

.security-zone .security-zone-box {
  width: calc(32% - 50px);
  padding: 25px;
  margin-right: 2%;
}

.security-zone-box:nth-child(3n) {
  margin-right: 0%;
}

.security-zone-box {
  background-color: var(--theme2);
  border-radius: 15px;
  /* css global flex */
}

.security-zone-box:nth-child(1) {
  background-color: var(--theme3);
}

.security-zone-box .security-zone-text {
  width: 100%;
}

.security-zone-box .security-zone-button {
  width: 100%;
  align-self: flex-end;
}

.security-zone-box b {
  font-weight: 400;
  font-size: 140%;
  color: var(--text1);
}

.security-zone-box p{
  margin: 0%;
}

.security-zone-button {
  margin-top: 20px;
}

.security-zone-button button {
  padding: 10px 0%;
  margin-top: 2%;
  cursor: pointer;
  background-color: var(--theme1);
  color: var(--red);
  border-radius: 10px;
  max-width: 50px;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.security-zone-button p {
  margin: 0%;
}

.security-zone-button button:hover {
  background-color: var(--red);
  color: var(--red-text);
}

/*modal*/

.changedelete {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.changedelete .changedelete-box {
  max-width: 410px;
  margin: 0% 5%;
  padding: 30px;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.changedelete-box::-webkit-scrollbar-thumb {
  display: none;
}

.changedelete-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-weight: 300;
  padding: 1%;
  border-radius: 20px;
  cursor: default;
}

.changedelete-box .fas {
  margin-right: 2%;
  color: var(--red);
}

.changedelete-box li {
  list-style-type: none;
  color: var(--text2);
}

.changedelete-box a{
  color: var(--accent);
  transition: all 0.2s ease-in-out;
}

.changedelete-box a:hover {
  color: var(--accent-hover);
}

.changedelete-box h1 {
  font-weight: 400;
  font-size: 180%;
  color: var(--text1);
  margin: 0%;
  padding: 0% 0% 2% 0%;
}

.changedelete-box .fa-exclamation-circle {
  color: var(--red);
}

.changedelete-box b {
  font-weight: 400;
  font-size: 100%;
  color: var(--text1);
}

.changedelete-confirm {
  color: var(--text1);
  margin-top: 8%;
  font-size: 110%;
}

.changedelete-confirm .fas,
.changedelete-confirm .far {
  color: var(--text1);
  margin-right: 8px;
}

.changedelete-toggle {
  cursor: pointer;
  color: var(--text1);
}

.changedelete-buttons {
  /* css global flex */
  font-size: 95%;
}

.changedelete-buttons .changedelete-button-cancel {
  width: 49%;
  margin-right: 1%;
}

.changedelete-buttons .changedelete-button-confirm {
  width: 49%;
  margin-left: 1%;
}

.changedelete-button-cancel button {
  background-color: var(--theme2);
  padding: 12px 0%;
  font-size: 100%;
  font-family: "Poppins";
  border-radius: 10px;
  color: var(--text1);
  outline: none;
  border: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.changedelete-button-cancel button:hover {
  background-color: var(--theme1);
}

.changedelete-button-off {
  background-color: var(--red);
  padding: 12px 0%;
  font-size: 100%;
  border-radius: 10px;
  color: var(--red-text);
  width: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
  cursor: default;
}

.changedelete-button-on {
  background-color: var(--red);
  padding: 12px 0%;
  font-size: 100%;
  border-radius: 10px;
  color: var(--red-text);
  width: 100%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

.changedelete-button-on:hover {
  background-color: var(--red-hover);
}


@media screen and (min-width: 1600px) {
  .splashboard-full {
    font-size: 180%;
  }
}

@media screen and (max-width: 1200px) {



}

@media screen and (max-width: 1000px) {


  .account-deletion-button {
    padding: 4% 0%;
    width: 60%;
  }
}

@media screen and (max-width: 800px) {

  .settings-section .settings-section-profile {
    width: 320px;
    padding: 40px 0%;
    margin-bottom: 2%;
  }

  .settings-section .account-info-section {
    width: 90%;
    padding: 5%;
    margin-left: 0%;
  }

  .account-deletion {
    padding: 6%;
  }

  .security-zone .security-zone-box {
    width: calc(100% - 50px);
    margin: 0%;
    margin-bottom: 2%;
  }

  .security-zone-box b {
    font-size: 120%;
  }

  .email .email-box-normal,
  .email .email-box-main {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 0% 0% 1%;
  }

  .email-box-normal .email-icon,
  .email-box-main .email-icon {
    width: 50px;
  }

  .email-box-normal .email-info,
  .email-box-main .email-info {
    width: calc(85% - 50px);
  }


}

@media screen and (max-width: 600px) {

  .settings-section .settings-section-profile {
    margin-bottom: 4%;
  }

  .settings-section .account-info-section {
    padding: 8%;
    width: 84%;
  }

  .account-tools .account-tools-box1 {
    margin-bottom: 2%;
    margin-right: 2%;
  }

  .account-tools .apptheme-dark,
  .account-tools .apptheme-light,
  .account-tools .theme-buttons {
    margin-bottom: 2%;
    margin-right: 2%;
  }


  .account-tools .account-tools-box2 {
    margin-bottom: 2%;
    margin-left: 0%;
  }


  .login-activity .login-activity-box,
  .login-activity .login-activity-box-title {
    width: calc(49% - 40px);
    padding: 20px;
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: 2%;
  }

  .login-activity-box:nth-child(even) {
    margin-left: 0%;
    margin-right: 1%;
  }

  .login-activity .login-activity-box {
    background-color: var(--theme2);
  }

  .login-activity .login-activity-box-title {
    display: none;
  }

  .login-activity-box .login-activity-device,
  .login-activity-box .login-activity-location,
  .login-activity-box-title .login-activity-device,
  .login-activity-box-title .login-activity-location {
    width: 100%;
    margin: 0%;
  }

  .login-activity-box .login-activity-device,
  .login-activity-box-title .login-activity-device {
    margin-left: 0%;
  }

  .login-activity-box .login-activity-button,
  .login-activity-box-title .login-activity-button {
    width: 100%;
    margin-top: 5%;
  }

  .login-activity-box .login-activity-date,
  .login-activity-box-title .login-activity-date {
    width: 100%;
  }

  .login-activity-location p {
    margin: 2% 0%;
  }

  .login-activity-device p {
    margin: 0%;
  }

  .login-activity-date p {
    margin-top: 0%;
  }

  .login-activity-status1,
  .login-activity-status2 {
    width: 120px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px 0%;
  }

  .security-zone .security-zone-box {
    margin-bottom: 4%;
  }

  .email .email-box-normal,
  .email .email-box-main {
    margin-bottom: 2%;
  }


}

@media screen and (max-width: 525px) {

  .settings-section .account-info-section {
    width: 84%;
    padding: 8%;
  }

  .settings-section .settings-section-box {
    width: 93%;
    margin: 1% 0% 1% 1%;
    padding: 1% 4%;
  }

  .account-status .fas {
    margin-right: 2%;
  }

  .account-status .account-status-box {
    width: 41%;
    padding: 0% 4%;
    margin: 0% 1% 2% 0%;
  }

  .security-zone .security-zone-box2 {
    width: 60%;
    margin-bottom: 2%;
  }

  .security-zone .security-zone-box1 {
    width: 60%;
    margin-bottom: 2%;
  }

  .account-status-box p {
    margin: 8% 0%;
  }
}

@media screen and (max-width: 450px) {
  .splashboard .splashboard-main,
  .splashboard-hidden .splashboard-main {
    width: calc(96%);
    padding: 0% 2% 2%;
  }

  .splashboard-title-box1 h1 {
    margin-bottom: 0%;
  }

  .splashboard-title-box2 p {
    margin-top: 0%;
  }

  .account-status-box p {
    margin: 4% 0%;
  }



  .login-activity .login-activity-box,
  .login-activity .login-activity-box-title {
    width: calc(100% - 40px);
    margin-bottom: 4%;
  }

  .security-zone .security-zone-box2 {
    width: 100%;
    margin-bottom: 4%;
  }

  .security-zone .security-zone-box1 {
    width: 100%;
    margin-bottom: 4%;
  }

  .account-deletion-button {
    width: 40%;
    padding: 4% 0%;
  }

  .account-deletion {
    padding: 4%;
  }


  .changeprofile-buttons .changeprofile-button1,
  .changepassword-buttons .changepassword-button1 {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 2%;
  }

  .changeprofile-buttons .changeprofile-button2,
  .changeprofile-buttons .changeprofile-button2-disabled,
  .changepassword-buttons .changepassword-button2,
  .changepassword-buttons .changepassword-button2-hidden {
    width: 100%;
    margin-left: 0%;
  }

  .profilemenu-buttons .profilemenu-button-cancel {
    width: 100%;
    padding: 5% 0%;
  }

  .changedelete-buttons .changedelete-button-cancel {
    width: 100%;
    margin-right: 0%;
  }

  .changedelete-buttons .changedelete-button-confirm {
    width: 100%;
    margin-left: 0%;
  }

  .changedelete-button-cancel button {
    margin-bottom: 2%;
  }

}

@media screen and (max-width: 380px) {

  .profilecrop-buttons .profilecrop-button1,
  .profilecrop-buttons .profilecrop-button2,
  .profilecrop-buttons .profilecrop-button2-disabled {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2%;
  }

  .profilemenu-buttons .profilemenu-button-cancel {
    width: 100%;
    padding: 6% 0%;
  }

  .splashboard-title .splashboard-title-menu {
    margin-left: 2%;
    width: 18%;
    font-size: 200%;
  }

  .splashboard-title .splashboard-title-box1 {
    width: 80%;
  }

  .splashboard-title-menu .fas {
    padding: 10% 14%;
  }

  .settings-section .settings-section-profile {
    width: 100%;
    margin: 2% 0%;
  }

  .profile .profile-box-photo {
    width: 100%;
  }

  .profile .profile-box {
    width: 100%;
  }

  .profile-box {
    text-align: center;
  }

  .profile-box-title {
    margin-top: 0%;
  }

  .profile-edit {
    width: 60%;
    text-align: center;
    margin: 0% auto 5%;
  }

  .account-deletion-button {
    width: 50%;
    padding: 3% 0%;
  }

  .account-info .account-info-box {
    width: 100%;
    margin-right: 0%;
    margin-top: 6%;
    align-self: flex-start;
  }

  .email .add-email {
    width: 100%;
    padding: 5% 0%;
    margin: 1% 0%;
  }

  .security-zone .security-zone-box2 {
    width: 100%;
    margin-bottom: 4%;
  }

  .security-zone .security-zone-box1 {
    width: 100%;
    margin-bottom: 4%;
  }

  .account-deletion {
    padding: 5%;
  }

  .account-deletion-button {
    width: 60%;
    padding: 4% 0%;
  }

  .email-box-normal .email-info,
  .email-box-main .email-info {
    width: calc(100% - 50px);
  }

  .email-box-normal .email-delete,
  .email-box-main .email-delete {
    width: 100%;
    margin-left: auto;
    margin-top: 2%;
  }



}

