

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px var(--theme2) inset;
    -webkit-text-fill-color: var(--accent);
    transition: all 999999999999999999999999999999999999999999999999s ease-in-out;
    font-family: 'Poppins';
}















html {
  scroll-behavior: smooth;
}

.fa-exclamation-circle {
  margin-right: 1%;
}


.register-full {
  /* css global flex */
  margin: 0%;
  padding: 0%;
  background-color: var(--theme1);
  width: 100%;
}

.register-full .register-full-box{
  width: 600px;
  background-color:var(--theme1);
}

.register-full-box {
  /* css global flex  */
  overflow: auto;
}

.register-full-box .register-page {
  width: 81%;
  padding: 2%;
  margin: 2% 0%;
}

.register-full-box .register-bottom {
  width: 81%;
  padding: 2%;
  margin: 0% 0% 2%;
  align-self: flex-end;
}




.register-page{
  font-weight: 400;
  color: var(--text1);
  border-radius: 20px;
  font-size: 100%;
}

.register-page h1{
  font-weight: 500;
  font-size: 200%;
  text-align: center;
}

.register {
  margin-top: 10%;
}

.register-message {
  margin-bottom: 5%;
  color: var(--text2);
}


.register .register-box {
  width: 98%;
  margin: 1%;
}

.register .register-center {
  width: 100%;
  margin: 2% 0%;
}


.register-box {
  text-align: left;
}

.register-box b{
  font-size: 120%;
  font-weight: 400;
}

.register-details {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0%;
}

.register-details p{
  margin: 0%;
}

.register-details .register-details-box {
  width: 100%;
  padding: 0%;
  margin: 1% 0%;
  border: 1px solid var(--theme2);
}

.register-details .register-details-box2 {
  width: 100%;
  padding: 0%;
  margin: 1% 0%;
  border: 1px solid var(--theme2);
}

.register-details .wrong-password {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.register-details .register-details-submit,
.register-details .register-details-submit-hidden,
.register-details .register-details-submit-load {
  width: 100%;
  padding: 0%;
  margin: 1% 0%;
}

.register-details-box-inside{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

.register-details-box-inside .register-details-box-type {
  width: calc(100% - 50px);
}

.register-details-box-inside .show-password {
  width: 50px;
}

.register-details-box-inside .register-details-box-tick {
  width: 50px;
}

.register-detials-box-inside .register-details-error {
  width: 100%;
}

#show-password-button-on{
  cursor: pointer;
}

#show-password-button-off {
  display: none;
  cursor: pointer;
}

.show-password {
  width: 100%;
  text-align: center;
  font-size: 100%;
  align-items: center;
  color: var(--text2);
}


.wrong-password {
  text-align: left;
  color: var(--red);
  font-size: 90%;
}

.register-details-box {
  background-color: var(--theme2);
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

.register-details-box .register-details-box-username {
  width: calc(100% - 50px);
}

.register-details-box .register-details-box-tick {
  width: 50px;
  color: var(--accent);
  text-align: center;
  display: none;
  font-size: 100%;
}

.register-details-box .register-details-error {
  width: 100%;
}

.register-details-box .register-details-box-inside {
  width: 100%;
}

.register-details-box2 {
  background-color: var(--theme2);
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

.register-details-box2 .register-details-box-email {
  width: calc(100% - 50px);
}

.register-details-box2 .register-details-box-tick {
  width: 50px;
  text-align: center;
  color: var(--accent);
  font-size: 100%;
  display: none;
}

.register-details-box2 .register-details-error {
  width: 100%;
}

.register-details-error {
  color: var(--red);
  font-size: 95%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: normal;
}

.register-details-error p{
  margin: 0% 12px 12px;
}

.register-details-submit-hidden {
  background-color: var(--accent);
  border-radius: 10px;
  opacity: 0.6;
  color: var(--theme1);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

.register-details-submit-load {
  background-color: var(--accent);
  border-radius: 10px;
}

.register-details-submit {
  background-color: var(--accent);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  color: var(--theme1);
  cursor: pointer;
}

.register-details-submit:hover {
  background-color:var(--accent-hover);
}

.register-details input[type="text"],
.register-details input[type="email"] {
  padding: 15px;
  padding-right: 0%;
  width: calc(100% - 15px);
  margin: 0%;
  font-size: 100%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: var(--text1);
}

.register-details input[type="password"]{
  font-size: 100%;
  padding: 15px;
  padding-right: 0%;
  width: calc(100% - 15px);
  margin: 0%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: var(--text1);
}

.register-details input[type="text"]:focus,
.register-details input[type="password"]:focus,
.register-details input[type="email"]:focus{
  outline: none;
}

.register-details-box:focus-within,
.register-details-box2:focus-within,
.register-details-submit button:focus {
  outline: 1px solid var(--text2);
}

.register-details-submit button,
.register-details-submit-load button {
  padding: 15px 0%;
  margin: 0%;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  color: var(--theme1);
  cursor: pointer;
}

.register-details-submit-hidden button {
  padding: 15px 0%;
  margin: 0%;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  color: var(--theme1);
}

.register-details-submit-hidden .loader-div,
.register-details-submit .loader-div,
.register-details-submit-load .register-submit {
  display: none;
}

.loader-circle {
  border: 2px solid var(--theme1);
  border-radius: 50%;
  border-top: 2px solid var(--text1);
  width: 16px;
  height: 16px;
  margin: 0px auto 1px;
  -webkit-animation: loaderSpin 1s linear infinite;
  animation: loaderSpin 1s linear infinite;
}



/* Safari */
@-webkit-keyframes loaderSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loaderSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#email-box,
#password-box1,
#password-box2,
#register-button {
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}


.no-account {
  color: var(--text2);
}

.no-account a{
  cursor: pointer;
  color: var(--text1);
}


.register-accounts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.register-accounts .register-accounts-box {
  width: 49%;
  margin: 1% 1% 1% 0%;
}

.register-accounts .register-accounts-box2 {
  width: 49%;
  margin: 1% 0% 1% 1%;
}


.register-accounts-box-inside {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--theme2);
  color: var(--text1);
  border-radius: 10px;
  padding: 2% 4%;
  transition: all 0.2s ease-in-out;
}

.register-accounts-box-inside:hover {
  background: linear-gradient(135deg, var(--pri-dark5), var(--accent));
}

.register-accounts-box-inside .register-accounts-box-photo {
  width: 20%;
}

.register-accounts-box-inside .register-accounts-box-text {
  width: 76%;
  padding-left: 4%;
}

.register-accounts-box-text {
  font-size: 95%;
}

.register-accounts-box-photo img {
  width: 80%;
  float: left;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}


.register-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.register-center .register-center-box {
  width: 45%;
}


.register-center .register-center-box2 {
  width: 10%;
}

.register-center-box hr{
  border: none;
  height: 0.5px;
  background-color: var(--text2);
}

.register-center-box2 {
  color: var(--text2);
}

.return-home-link {
  width: 150px;
  margin: 2% 0%;
  display: block;
}

.return-home {
  border-radius: 10px;
  color: var(--text1);
  background-color: var(--theme2);
  text-align: center;
  padding: 8%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 88%;
}

.return-home p{
  margin: 0%;
}

.return-home:hover{
  background-color: var(--theme3);
}

@media screen and (min-width: 1600px) {

  .register-full {
    height: 100vh;
    border-radius: 0px;
  }

  .register-full .register-full-box {
    border-radius: 0px;
    margin: auto;
  }

  .return-home-link {
    margin-bottom: 10%;
  }

}


@media screen and (max-width: 1200px) {



}

@media screen and (max-width: 1000px) {

  .register-full-box .register-page {
    width: 85%;
  }


  .return-home {
    width: 98%;
  }

}

@media screen and (max-width: 600px) {

  .register-full .register-full-box{
    width: 100%;
    margin-right: 0%;
  }

  .register-full-box .register-page {
    width: 85%;
  }

  .register-details-error {
    font-size: 90%;
  }


}

@media screen and (max-width: 450px) {




}

@media screen and (max-width: 380px) {

  .return-home-link {
    width: 100%;
    margin: 4% 0%;
    display: block;
  }


}