

.plan-title {
    text-align: center;
    color: white;
    font-size: 150%;
    font-weight: 400;
}

.plan-title h1 {
    font-weight: 500;
    font-size: 220%;
    margin: 0%;

}





.products-title h1{
    font-size: 220%;
    font-weight: 500;
    text-align: center;
    margin: 0%;
  }

  .products-title {
    margin-bottom: 5%;
  }

  .products-list {
    /* css global flex */
    opacity: 100%;
    width: 100%;
  }

  .products-list .products-list-box {
    width: calc(32% - 6%);
    padding: 3%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .products-list-box:nth-child(3n){
    margin-right: 0%;
  }

  .products-list .products-list-more {
    margin: 0%;
    width: 100%;
    margin-top: 5%;
  }

  .products-list-more {
    color: var(--text2);
    text-align: center;
  }


  .products-subtitle {
    text-align: center;
    font-size: 140%;
  }




  .products-list-box {
    background-color:var(--theme2);
    border-radius: 20px;
    color: var(--text1);
    /* css global flex */
  }

  .products-list-box .products-list-box-inside {
    width: 100%;
  }

  .products-list-box-inside .products-list-box-icon {
    width: 20%;
  }

  .products-list-box-inside .products-list-box-title {
    width: 80%;
  }

  .products-list-box-inside .products-list-box-info {
    width: 100%;
    margin: 5% 0%;
  }

  .products-list-box-inside .products-list-line {
    width: 100%;
  }

  .products-list-box .products-list-box-button {
    width: 100%;
    align-self: flex-end;
  }

  .products-list-box-icon img{
    width: 70%;
    margin-right: 30%;
    float: left;
  }

  .products-list-box-title h2{
    margin: 0%;
    font-weight: 500;
    color: var(--text1);
    font-size: 150%;
  }

  .products-list-line hr{
    border: none;
    border-bottom: 1px solid;
  }

  .products-list-box-info p{
    margin: 0%;
  }

  .products-list-box-button {
    text-align: center;
  }

  .products-list-box-button .fas{
    padding: 12px;
  }

  .products-list-box-button a{
    color: var(--theme1);
    display: block;
    width: 40px;
    margin-left: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .products-list-box-button a:hover{
    opacity: 80%;
    transform: translateX(4px);
  }


  @media screen and (min-width: 1600px) {

  }

  @media screen and (max-width: 1600px) {

  }

  @media screen and (max-width: 1200px) {

  }

  @media screen and (max-width: 1000px) {

    .products-list .products-list-box {
      width: calc(48% - 8%);
      padding: 4%;
      margin-right: 2%;
      margin-bottom: 2%;
    }

    .products-list-box:nth-child(2n){
      margin-right: 0%;
    }

  }

  @media screen and (max-width: 800px) {

    .plan-title h1{
      font-size: 180%;
    }

    .products-list .products-list-box {
      width: calc(48% - 10%);
      padding: 5%;
      margin-right: 2%;
      margin-bottom: 2%;
      font-size: 95%;
    }

    .products-list-box:nth-child(2n){
      margin-right: 0%;
    }

    .products-list-box .products-list-box-button {
      margin-top: 8%;
    }


  }

  @media screen and (max-width: 600px) {

    .products-list .products-list-box {
      width: calc(100% - 10%);
      padding: 5%;
      margin-right: 0%;
      font-size: 100%;
      margin-bottom: 4%;
    }

    .products-list-box-inside .products-list-box-icon {
      width: 10%;
    }

    .products-list-box-inside .products-list-box-title {
      width: 90%;
    }


    .products-list-box-button a{
      width: 50px;
    }

    .products-list-box .products-list-box-button {
      margin-top: 2%;
    }

  }

  @media screen and (max-width: 525px) {

    .plan-title h1{
      font-size: 140%;
    }

  }

  @media screen and (max-width: 450px) {

    .products-list .products-list-box {
      width: calc(100% - 12%);
      padding: 6%;
      border-radius: 10px;
    }

  }

  @media screen and (max-width: 380px) {

  }