.legal-link {
  display: block;
  width: 140px;
}

.legal-button {
  background-color: var(--text1);
  color: var(--theme1);
  width: 100%;
  transition: all 0.2s ease-in-out;
  padding: 10%;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px var(--text2));
}

.legal-button p {
  margin: 0%;
}

.legal-button:hover {
  background-color: var(--text2);
}

.legal-button .fas {
  margin-right: 10%;
}

.document-split {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2%;
}

.document-split .document-nav {
  width: 16%;
  padding: 2%;
}

.document-split .document {
  width: 72%;
  padding: 4%;
}

.document-nav {
  background-color: var(--theme3);
  border-radius: 20px 0px 0px 20px;
  transition: all 0.2s ease-in-out;
}

.document-nav-section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.document-nav-section .document-nav-box {
  width: 100%;
  margin-bottom: 2%;
}

.document-nav h1 {
  font-weight: 500;
  font-size: 100%;
  margin-top: 0%;
  color: var(--text1);
}

.document-nav h2 {
  font-size: 100%;
  font-weight: 500;
  margin-bottom: 0%;
}

.document-nav h2 .fa-1x {
  margin-right: 4%;
  font-size: 100%;
  color: var(--text2);
  display: none;
}

.document-nav-line {
  border: none;
  border: 1px solid var(--text2);
}

.document-nav a {
  color: var(--text2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
  font-size: 95%;
  margin-top: 1%;
}

.document-nav li {
  list-style-type: square;
  list-style-position: inside;
  padding: 0px;
}

.document-nav a:hover {
  color: var(--accent);
}

.document {
  background-color: var(--theme2);
  border-radius: 0px 30px 30px 30px;
}

.legal-document-title {
  color: var(--text1);
  padding: 0% 0% 10%;
  width: 100%;
  font-size: 120%;
}

.legal-document-title h1 {
  font-size: 300%;
  font-weight: 500;
  margin: 0%;
  text-align: center;
}

.legal-document {
  width: 100%;
  color: var(--text2);
}

.legal-document h1 {
  font-size: 200%;
  font-weight: 500;
  color: var(--text1);
}

.legal-document b {
  font-size: 120%;
  font-weight: 400;
  color: var(--text1);
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  .document-split .document-nav {
    width: 92%;
    padding: 4%;
    margin-bottom: 2%;
    border-radius: 20px;
  }

  .document-split .document {
    width: 92%;
    padding: 4%;
    border-radius: 30px;
  }

  .document-nav-section .document-nav-box {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 4%;
  }

  .document-nav-box:nth-child(2n) {
    margin-left: 2%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 800px) {
  .document-split .document {
    width: 88%;
    padding: 6%;
    border-radius: 20px;
  }

  .legal-document-title h1 {
    font-size: 250%;
  }
}

@media screen and (max-width: 600px) {
  .document-split .document-nav {
    width: 88%;
    padding: 6%;
    margin-bottom: 4%;
  }

  .document-nav-section .document-nav-box {
    width: 100%;
    margin: 0%;
    margin-bottom: 4%;
  }

  .document-nav-box:nth-child(2n) {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 525px) {
  .legal-document-title h1 {
    font-size: 200%;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 380px) {
  .legal-link {
    width: 100%;
    margin-bottom: 5%;
  }

  .legal-button {
    padding: 5%;
    width: 90%;
  }

  .legal-document-title h1 {
    font-size: 200%;
  }

  .legal-document h1 {
    font-size: 150%;
  }

  .legal-document h2 {
    font-size: 120%;
  }
}
