/*modals*/

.editplan {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.editplan .editplan-box {
  max-width: 310px;
  padding: 30px;
  width: calc(90% - 60px);
  margin: 0% 5%;
  scrollbar-width: none;
  max-height: calc(90dvh - 60px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.editplan-box {
  background-color: var(--theme3);
  transform: scale(0.4);
  transition: all 0.2s ease-in-out;
  color: var(--text1);
  font-size: 100%;
  border-radius: 20px;
}

.editplan-box h1 {
  font-size: 180%;
  font-weight: 400;
  margin-top: 0%;
}

.editplan p {
  margin: 0%;
}

.editplan-box .plan-profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: contain;
  background-color: var(--text1);
  border: none;
  margin-bottom: 5%;
  transition: all 0.2s ease-in-out;
}

.editplan-input {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid var(--theme3);
  padding: 0%;
}

.editplan-input .editplan-input-text {
  width: calc(100% - 50px);
}

.editplan-input .editplan-icon {
  width: 50px;
}

.editplan-input .editplan-messages {
  width: 100%;
}

.editplan-input-text input{
  font-size: 100%;
}

.editplan-icon {
  display: none;
  color: var(--accent);
  text-align: center;
}

.editplan-messages {
  color: var(--red);
}

.editplan-messages p {
  margin: 0% 12px 12px;
}

.editplan-messages .fas {
  margin-right: 2%;
}

.editplan-button {
  width: 150px;
  color: var(--accent-text);
  background-color: var(--accent);
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0% auto 10%;
}

.editplan-button:hover {
  background-color: var(--accent-hover);
}

.editplan-buttons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.editplan-submit,
.editplan-submit-disable {
  width: 49%;
  margin-left: 1%;
}

.editplan-cancel {
  width: 49%;
  margin-right: 1%;
}

.editplan-input {
  background-color: var(--theme2);
  width: 100%;
  border-radius: 10px;
  margin: 1% 0% 2%;
}

.editplan-cancel {
  border-radius: 10px;
  background-color: var(--theme2);
  transition: all 0.2s ease-in-out;
}

.editplan-submit {
  border-radius: 10px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
}

.editplan-submit-disable {
  border-radius: 10px;
  background-color: var(--accent);
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.editplan-input:focus-within {
  outline: 1px solid var(--text2);
}

.editplan-input input:focus {
  outline: none;
}

.editplan-input input {
  font-weight: 400;
  width: calc(100% - 15px);
  padding: 15px;
  padding-right: 0%;
  color: var(--text1);
}

.editplan-submit button {
  font-weight: 400;
  padding: 12px 0%;
  width: 100%;
  color: var(--accent-text);
  cursor: pointer;
  border-radius: 10px;
}

.editplan-submit-disable button {
  border-radius: 10px;
  width: 100%;
  padding: 12px 0%;
  color: var(--accent-text);
  cursor: default;
}

.editplan-cancel button {
  width: 100%;
  padding: 12px 0%;
  color: var(--text1);
  cursor: pointer;
  border-radius: 10px;
}

.editplan-cancel:hover {
  background-color: var(--theme1);
}

.editplan-submit:hover {
  background-color: var(--accent-hover);
}

.dashboard {
  /* css global flex */
  width: 100%;
}

.dashboard .tracking-board {
  width: calc(100% - 280px - 15px - 50px);
  padding: 25px;
  margin-right: 15px;
}

.dashboard .tracking-progress {
  width: calc(100% - 50px);
  padding: 25px;
}

.dashboard .dashboard-control {
  width: calc(280px - 50px);
  padding: 25px;
}

.dashboard .plan-profile {
  width: calc(350px - 50px);
  padding: 25px;
  margin-top: 15px;
}

.dashboard .plan-info {
  width: calc(100% - 350px - 15px - 50px);
  padding: 25px;
  margin-left: 15px;
  margin-top: 15px;
}

.dashboard .analytics-box {
  width: calc(50% - 15px - 50px);
  padding: 25px;
  margin-right: 15px;
  margin-top: 15px;
}

.dashboard .history-box {
  width: calc(50% - 50px);
  padding: 25px;
  margin-top: 15px;
}

.dashboard-control {
  background-color: var(--dtb3);
  border-radius: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard-control .dashboard-control-box {
  width: 80%;
}

.dashboard-control h1 {
  font-weight: 400;
  font-size: 150%;
  margin: 0%;
  text-align: center;
}

.dashboard-control-buttons {
  width: 100%;
  /* css global flex */
}

.dashboard-control-buttons .server-on {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
}

.dashboard-control-buttons .server-restart,
.dashboard-control-buttons .server-off,
.dashboard-control-buttons .server-grey {
  width: 100%;
  padding: 12px;
  margin-top: 5%;
  transition: all 0.2s ease-in-out;
  /* this is a button class so idk the widths */
}

.server-restart,
.server-off,
.server-grey {
  border-radius: 10px;
  text-align: left;
}

.plan-status-online .server-on,
.plan-status-online .offline-tag,
.plan-status-offline .server-off,
.plan-status-offline .server-restart,
.plan-status-offline .online-tag {
  display: none;
}

.server-grey {
  cursor: default;
}

.dashboard-control-buttons .dashboard-control-button-icon {
  width: 30px;
}

.dashboard-control-buttons .dashboard-control-button-text {
  width: calc(100% - 30px);
}

.dashboard-control-button-text p {
  margin: 0%;
}

.server-on {
  border-radius: 50%;
  text-align: center;
  font-size: 200%;
}

.server-on .dashboard-control-button-icon {
  width: 100%;
}

.server-on .dashboard-control-button-text {
  display: none;
}

.dashboard-control-buttons .server-grey {
  background-color: #a9a9a926;
  color: var(--text2);
}

.dashboard-control-buttons .server-on,
.online-tag {
  background-color: rgba(0, 255, 0, 0.2);
  color: var(--accent);
}

.dashboard-control-buttons .server-on:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

.dashboard-control-buttons .server-off,
.offline-tag {
  background-color: rgba(237, 67, 55, 0.2);
  color: var(--red);
}

.dashboard-control-buttons .server-off:hover {
  background-color: rgba(237, 67, 55, 0.3);
}

.dashboard-control-buttons .server-restart {
  background-color: rgba(255, 165, 0, 0.2);
  color: #ffa500;
}

.dashboard-control-buttons .server-restart:hover {
  background-color: rgba(255, 165, 0, 0.3);
}

.online-tag,
.offline-tag {
  padding: 6px 18px;
  margin: auto;
  border-radius: 40px;
  width: max-content;
  margin-bottom: 2%;
}

.online-tag .fas,
.offline-tag .fas {
  margin-right: 10px;
  display: none;
}

.tracking-progress {
  color: var(--text1);
  background-color: var(--theme3);
  border-radius: 20px;
  display: none;
  /* css global flex */
}

.tracking-progress .tracking-progress-box {
  width: 100%;
  margin: 0% 0% 5%;
}

.tracking-progress-box:nth-child(4) {
  margin-bottom: 0%;
}

.tracking-progress-box {
  /* css global flex */
  opacity: 100%;
}

.tracking-progress-box p {
  margin: 0%;
}

.tracking-progress-box .tracking-progress-title {
  width: 70%;
}

.tracking-progress-box .tracking-progress-info {
  width: 30%;
  align-self: flex-end;
}

.tracking-progress-box .tracking-progress-bar {
  width: 100%;
  margin-top: 5px;
}

.tracking-progress-title {
  color: var(--text2);
}

.tracking-progress-title b {
  color: var(--text1);
  font-weight: 400;
}

.tracking-progress-info {
  text-align: right;
}

.tracking-progress-bar {
  background-color: var(--theme1);
  border-radius: 20px;
}

.tracking-progress-bar-inside1,
.tracking-progress-bar-inside2,
.tracking-progress-bar-inside3,
.tracking-progress-bar-inside4 {
  background-color: var(--accent);
  height: 15px;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

.tracking-board {
  /* css global flex */
  margin: auto;
  background-color: var(--theme3);
  border-radius: 20px;
}

.tracking-board b {
  font-size: 1005;
  font-weight: 500;
  color: var(--text1);
}

.tracking-circle {
  width: 100%;
}

.tracking-circle-outside {
  stroke: var(--theme2);
  stroke-width: 3;
  fill: none;
}

.tracking-circle-inside1,
.tracking-circle-inside2,
.tracking-circle-inside3,
.tracking-circle-inside4 {
  animation: circle-chart-fill 1s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
  stroke-width: 1.5;
  stroke-linecap: round;
  fill: none;
  transition: all 1s ease-in-out;
}

.tracking-circle-inside1,
.tracking-progress-bar-inside1 {
  stroke: var(--accent);
  background-color: var(--accent);
  color: var(--accent);
}

.tracking-circle-inside2,
.tracking-progress-bar-inside2 {
  stroke: #7367f0;
  background-color: #7367f0;
  color: #7367f0;
}

.tracking-circle-inside3,
.tracking-progress-bar-inside3 {
  stroke: #2667f0;
  background-color: #2667f0;
  color: #2667f0;
}

.tracking-circle-inside4,
.tracking-progress-bar-inside4 {
  stroke: var(--red);
  background-color: var(--red);
  color: var(--red);
}

.tracking-circle-info-inside {
  text-anchor: middle;
  font-size: 30%;
  fill: var(--text1);
  font-weight: 400;
  font-family: "Poppins";
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

.tracking-board .tracking-board-box {
  width: 25%;
}

.tracking-board-box {
  color: var(--text2);
  text-align: center;
}

.plan-profile {
  background-color: var(--theme3);
  border-radius: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: var(--text1);
  text-align: center;
}

.plan-profile .plan-profile-box {
  width: 80%;
}

.plan-profile-box .plan-profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: contain;
  background-color: var(--theme2);
  margin-bottom: 10%;
  border: none;
  transition: all 0.2s ease-in-out;
}

.plan-profile-box h1 {
  font-weight: 500;
  font-size: 120%;
}

.plan-profile-button {
  background-color: var(--dtb1);
  color: var(--dtt1);
  padding: 12px 0%;
  width: 115px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.plan-profile-button p {
  margin: 0%;
}

.plan-profile-button:hover {
  background-color: var(--dtb2);
}

.plan-info {
  background-color: var(--theme3);
  border-radius: 20px;
  /* css global flex */
  color: var(--text2);
}

.plan-info b {
  font-size: 100%;
  font-weight: 400;
  color: var(--text1);
}

.plan-info p {
  margin: 0%;
}

.plan-info .plan-info-title {
  width: 100%;
  padding-bottom: 2%;
}

.plan-info .plan-info-planid {
  width: 49%;
  margin-top: 4%;
}

.plan-info .plan-info-box {
  width: 49%;
  margin-left: 2%;
  margin-top: 4%;
}

.plan-info-box:nth-child(even) {
  margin-left: 0%;
}

.plan-info-title h2 {
  font-weight: 500;
  font-size: 120%;
  margin: 0%;
  color: var(--text1);
}

.plan-info-title {
  border-bottom: 1px solid var(--text2);
}

.plan-info-planid {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}

.plan-info-planid .plan-info-planid-text {
  width: calc(100% - 55px);
}

.plan-info-planid .plan-info-planid-button {
  width: 35px;
  margin: 0% 10px;
}

.copyid-button-on .fa-copy,
.copyid-button-off .fa-check-circle {
  display: none;
}

.copyid-button-on,
.copyid-button-off {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  height: 35px;
  width: 100%;
  padding: 0px;
  font-size: 90%;
  background-color:var(--theme1);
}

.plan-info-planid .fa-check-circle {
  color: var(--accent);
}

.plan-info-planid .copyid-button-off:hover {
  background-color: var(--theme2);
}

.analytics-box {
  background-color: var(--theme3);
  border-radius: 20px;
  color: var(--text1);
}

.analytics-box h1,
.history-box h1 {
  margin: 0%;
  font-size: 120%;
  font-weight: 400;
  color: var(--text1);
}

.history-box {
  background-color: var(--theme3);
  border-radius: 20px;
  color: var(--text2);
}

.dashboard-chart {
  margin: 0% 0% 2%;
  padding: 0% 1% 1%;
}

.analytics-view {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.analytics-view .analytics-view-box,
.analytics-view .analytics-view-box-active {
  width: 23%;
  padding: 1% 0%;
  margin: 0% 1%;
}

.analytics-view-box-active {
  background-color: var(--accent);
  color: var(--accent-text);
}

.analytics-view-box {
  background-color: var(--theme2);
  color: var(--text2);
}

.analytics-view-box,
.analytics-view-box-active {
  border-radius: 5px;
  text-align: center;
  font-size: 80%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.analytics-view-box:hover {
  background-color: var(--theme1);
}

.history-log {
  width: 92%;
  padding: 0% 4%;
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 2% 0%;
  color: var(--text1);
}

.history-log:nth-child(odd) {
  background-color: var(--theme2);
}

.history-log .history-log-side {
  width: 1%;
  margin-right: 4%;
}

.history-log .history-log-info {
  width: 49%;
  margin-right: 1%;
}

.history-log .history-log-time {
  width: 49%;
  margin-left: 1%;
}

.history-log-side {
  background-color: var(--accent);
  border-radius: 5px;
  display: none;
}

.history-log-time {
  text-align: right;
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1200px) {
  .dashboard .tracking-board {
    width: 100%;
    margin-right: 0%;
  }

  .dashboard .dashboard-control {
    width: calc(250px - 50px);
    margin-top: 15px;
  }

  .dashboard .plan-profile {
    width: calc(100% - 250px - 15px - 50px);
    margin-top: 15px;
    margin-right: 0%;
    margin-left: 15px;
  }

  .dashboard .plan-info {
    width: calc(100% - 50px);
    margin-top: 15px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard .dashboard-control {
    width: calc(300px - 50px);
    margin-top: 15px;
  }

  .dashboard .plan-profile {
    width: calc(100% - 300px - 15px - 50px);
    margin-top: 15px;
    margin-right: 0%;
    margin-left: 15px;
  }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
  .dashboard .analytics-box {
    width: calc(100% - 40px);
    margin-right: 0%;
    padding: 20px;
    margin-top: 15px;
  }

  .dashboard .history-box {
    width: calc(100% - 40px);
    margin-left: 0%;
    padding: 20px;
    margin-top: 15px;
  }

  .dashboard .dashboard-control {
    width: calc(50% - 40px);
    margin-top: 15px;
    padding: 20px;
  }

  .dashboard .plan-profile {
    width: calc(50% - 40px - 15px);
    margin-top: 15px;
    padding: 20px;
    margin-left: 15px;
  }

  .plan-profile-box h1 {
    font-weight: 500;
    font-size: 120%;
  }

  .dashboard .tracking-board {
    display: none;
  }

  .tracking-progress {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: left;
    -webkit-justify-content: left;
    -ms-justify-content: left;
    justify-content: left;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .plan-profile {
    font-size: 90%;
  }
}

@media screen and (max-width: 525px) {
  .dashboard .plan-profile,
  .dashboard .dashboard-control {
    width: calc(100% - 40px);
    margin: 0%;
    margin-top: 15px;
  }

  .dashboard-control-buttons .server-restart {
    width: 48%;
    margin-top: 5%;
    margin-right: 4%;
  }

  .dashboard-control-buttons .server-off {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  .dashboard .plan-info {
    width: calc(100% - 40px);
  }

  .dashboard .tracking-progress {
    width: calc(100% - 40px);
  }

  .tracking-progress .tracking-progress-box {
    width: 100%;
    margin: 0% 0% 10%;
  }

  .tracking-progress-box:last-of-type {
    margin-bottom: 0%;
  }

  .dashboard .plan-profile,
  .dashboard .dashboard-control {
    width: calc(100% - 40px);
  }

  .dashboard-control .dashboard-control-box {
    width: 90%;
  }

  .plan-info .plan-info-title {
    width: 100%;
    padding-bottom: 2%;
  }

  .plan-info .plan-info-planid {
    width: 100%;
    margin-top: 6%;
  }

  .plan-info .plan-info-box {
    width: 100%;
    margin-left: 0%;
    margin-top: 6%;
  }

}

@media screen and (max-width: 380px) {

  .dashboard-control .dashboard-control-box {
    width: 80%;
  }

  .dashboard-control-buttons .server-restart,
  .dashboard-control-buttons .server-off,
  .dashboard-control-buttons .server-grey {
    width: 100%;
    margin: 0%;
    margin-top: 5%;
    /* this is a button class so idk the widths */
  }

  .editplan-button {
    width: 100%;
  }

  .editplan-submit,
  .editplan-submit-disable {
    width: 100%;
    margin-left: 0%;
  }

  .editplan-cancel {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 2%;
  }

}
